[2018-05-14 03:38] yaohaizh opened #299 "cannot find class to run in multi root workspace"
_From @myguddy on May 14, 2018 2:4_

VSCode Version: 1.23.1
OS Version: High Sierra 10.13.4
Steps to Reproduce:

1.Create simple java and configure the launch.json
{
"type": "java",
"name": "Debug (Launch)-Main",
"request": "launch",
"cwd": "${workspaceFolder}",
"console": "internalConsole",
"stopOnEntry": false,
"mainClass": "Main",
"args": ""
},
2.run task then ok
3.create multi-root-workspace
4

[2018-05-17 07:07] qslcna opened #300 "Not hit breakpoint using mvnDebug spring-boot:run"
##### Environment
- Operating System:win7
- JDK version:1.8
- Visual Studio Code version:1.23.1
- Java extension version:0.3.0
- Java Debugger extension version:0.9.0

##### Steps To Reproduce
1. [step 1]input `mvnDebug clean  spring-boot:run`

cmd shows:

2. [step 2] add a breakpoint to somewhere in a controller.

3. [step 3] F5,using this configration
[code]

4. [step 4] access the controller in

[2018-05-17 07:32] qslcna commented on #300
sorry,it's not vscode-java-debug issue.
The right comand is `mvn spring-boot:run -Dspring-boot.run.jvmArguments="-Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=y,address=8000"`

[2018-05-17 07:34] #300 closed

[2018-05-17 09:47] mojo2012 opened #301 "[Feature]DCEVM: Cannot add break point for code that was created during running debug session"
I use DCEVM to do hot code replacement alot. This works greate so far.
But when I try to set a breakpoint to the code that has been created while the debug session is running, I only get a greyed out breakpoint. The tooltip hint tells me to restart the debugging session.

##### Environment
- Operating System: 10.12.6 (16G1314)
- JDK version: 1.8.0_144
- Visual Studio Code version: 1.23.0 (1.23.0)

[2018-05-18 06:24] IzakMarais opened #302 "Debugger is using old cached test file"
When I set a breakpoint and use the debugger, it opens an old cached version of the source file

##### Environment
- Operating System: Windows 8 and 10 (recently upgraded, got the same issue on both)
- JDK version: java version "1.8.0_162"
Java(TM) SE Runtime Environment (build 1.8.0_162-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.162-b12, mixed mode)
- Visual Studio Code version: 1.23.1
- Ja

[2018-05-20 07:00] andxu commented on #301
@mojo2012 Thanks for using vscode java debugger, which also support HCR just the same as that in eclipse, if you prefer DCEVM, which is not tested by us yet, we will put it in backlog and  please key an eye over this issue, I will post here if we decide to take action  or have solution to DCEVM

[2018-05-20 15:15] yaohaizh commented on #302
@testforstephen, we need take a look at the source mapping container in the attach scenario.

[2018-05-21 16:35] sceee commented on #218
@andxu I will try to reproduce it with the new version.

[2018-05-21 22:41] andxu commented on #300
@qslcna if you are running at java 8+, it should be `-agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=8000`, your command line args seems outdated.

[2018-05-22 16:48] quaider opened #303 "how to debug spring mvc using tomcat7-maven-plugin"
[provide a description of the issue]

##### Environment
- Operating System: Windows 10
- JDK version: 1.8
- Visual Studio Code version: 1.24.0-insider
- Java extension version:
- Java Debugger extension version:

##### Steps To Reproduce
1. [step 1]
**part of pom.xml**
[code]
**and my tasks.json**
[code]
then **launch.json**
[code]
2. [step 2]

run Debug in vs code, the server running and i can ge

[2018-05-23 08:38] testforstephen commented on #303
@quaider It looks like duplicated with this issue https://github.com/Microsoft/vscode-java-debug/issues/120.  The `mvn` command never returns an exit code so that the Debugger doesn't get a chance to connect to it.

[2018-05-23 09:08] testforstephen commented on #302
@IzakMarais The java debug extension doesn't cache your java files to some temp directory. Not sure where it comes from. Can you share why there are shared versions in your environment?

[2018-05-23 09:41] testforstephen commented on #295
We need have a look at the user experience for supporting this. There are already some discussions about this in VS Code.  See https://github.com/Microsoft/vscode/issues/11552

[2018-05-23 09:47] SummerSun commented on #303
@quaider

```"command": "set MAVEN_OPTS='-Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=y,address=18080';mvn tomcat7:run",```

Command mvn tomcat7:run does not start the debug mode.

[2018-05-24 20:39] IzakMarais commented on #302
I have no idea, maybe it's something that maven surefire does? But how would the debugger know to open that file? What might I do to debug it further?

[2018-05-25 05:58] erihanse opened #305 "Debugger slow when watching variables"
Issue Type: <b>Bug</b>

If I add any entry to the watch panel, and the entry is shown, the debugger lags. It only happens if the variable being watched is shown, if I collaps the watch list or close the debug view, it behaves as normal.

I tried to create a new project to see if I could reproduce it there, but with no success. Also tried to copy the project to somewhere else and debug from there,

[2018-05-25 09:26] testforstephen commented on #302
The debugger will ask the language server to get the source mapping (file <-> class) for current hitting location.  And the source mapping relationship is built up by java language server when your workspace is loaded to VS Code.  Could you remove the cached directory and try again?

[2018-05-25 10:32] thetuxracer commented on #125
@rcelebrone Hello. I am running into the same problem, and I have tried uninstalling all the Java extensions, and only installing the one that is mentioned above by testforstephen. My Java ennvars are `JDK_HOME=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.171-4.b10.fc28.x86_64` and `JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.171-4.b10.fc28.x86_64/jre`. I still get the error mentioned in OP.

Would y

[2018-05-25 11:05] rcelebrone commented on #125
Looks like your java_home path is not using the correct.

Try following these steps: https://docs.oracle.com/cd/E19182-01/820-7851/inst_cli_jdk_javahome_t/

[2018-05-25 11:29] thetuxracer commented on #125
I tried to understand the meaning of the `JAVA_HOME` and it seems that is not a problem: https://stackoverflow.com/a/8173260/174936. However, I will still try to follow the guide you linked to. Thank you.

[2018-05-28 11:37] IzakMarais commented on #302
Prior to deletion there seems to be mulitple directories in the `Temp` folder that have been created:
![prior to deleting](https://user-images.githubusercontent.com/8266640/40612736-07ba5c28-627c-11e8-9a11-71e1e44e54ca.PNG)
After deleting them all and rerunning the debugger, it seems that it is still trying to access one of the old deleted files:
![after_deleting](https://user-images.githubusercon

[2018-05-28 11:54] IzakMarais commented on #302
I've tried searching the workspace for a file where this source mapping might be cached, but have not managed to find anything.

[2018-05-29 23:14] jaylee185 commented on #164
I'm also seeing the same issue.
MacOS: 10.13.4

➜  complete git:(master) ✗ **java -version**
java version "1.8.0_171"
Java(TM) SE Runtime Environment (build 1.8.0_171-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.171-b11, mixed mode)
Java Extension Pack: 0.3.0

VSCode: 1.23.1

Running the sample java code from github
https://github.com/spring-guides/gs-spring-boot.git

➜  **complete** git:(mast

[2018-06-06 00:39] testforstephen commented on #302
The cached source mapping is placed at the directory `C:\Users\jinbwan\AppData\Roaming\Code\User\workspaceStorage`, cleaning up it will remove the cached data.

[2018-06-06 13:54] augustocdias opened #307 "Multi-module Project"
I can debug fine a multi-module project and the classpath is being resolved fine, but I'm having problems with the watch expressions in this scenario. As far as I understood correctly I have to configure the project name in the launch settings to reflect the project name in the `.project` file right? If I set the project name to one of the sub projects it works fine, but if I set to the root proje

[2018-06-07 06:05] IzakMarais commented on #302
Great. I can confirm that after:
1. closing VSCode,
2. deleting the workspaceStorage sub directory associated with the workspace in question,
3. reopening the workspace in VSCode,
4. retrying the debugger at the same breakpoint,

it works correctly and attaches to the correct version file.

So the question becomes why is this manual intervention necessary?

[2018-06-07 06:54] andxu commented on #307
Hi @augustocdias , can you show the text of your root .project file?

[2018-06-07 07:12] augustocdias commented on #307
That's exactly my problem... Here's my root `.project` file

[code]

And here's my `launch.json`:

        {
            "type": "java",
            "name": "Tomcat",
            "request": "attach",
            "hostName": "localhost",
            "port": 7777,
            "preLaunchTask": "Start Tomcat",
            "postDebugTask": "Kill Tomcat",
            "projectName": "cwc",
            "t

[2018-06-07 07:27] andxu commented on #305
Hi @erihanse , Thank you for using vscode java debug, in vscode, if you collapse the watch list, the evaluation will not be executed, so the performance is better and the performance downgrade is not that much in your example, on the other side ,the variable in watch table and evaluation panel is different because we have no knowledge about your variable is simple enough to avoid the complex evalu

[2018-06-07 08:41] andxu commented on #307
Your root project is not a java project, a java project should have the `org.eclipse.jdt.core.javanature` nature like:
[code]
the reason why we need projectName in multiple projects scenario is we need to compile your evaluation text to bytecode based on that project( the same way as eclipse, eclipse requires a java project when you launch/attach), if you provide a non-java project, the whole comp

[2018-06-07 08:43] testforstephen commented on #302
It looks like a bug at the underlying language server service. It caches external java files (don't belong to current vscode workspace folder) to current workspace mistakenly.  If you could provide the reproduce steps, that would be helpful for us to investigate.

[2018-06-07 08:52] andxu commented on #299
@myguddy Thanks for using vscode java debugger, can you provide us the folder structure: by
[code]
and give us the snapshot of the error popup?

[2018-06-07 11:39] augustocdias commented on #307
I'm having this problem with multiple java projects... It is not only one.

[2018-06-08 04:46] andxu commented on #307
Based on your reply, I will test the scenario for evaluation of multiple java projects with dependency,

[2018-06-08 04:52] andxu commented on #303
@quaider can you take a try on SummerSun's comments?

[2018-06-11 20:37] clankill3r opened #308 "debugger broke in latest vscode update"
Today I had in a project that I could not run it anymore.
I was getting a ClassNotFoundException.
Since it was only one file and I wanted to get work done I copied the file to another project that still worked. Now later today (while working on a totally unrelated java file) I also get a ClassNotFoundException.

As a test I opened a third project that has always worked fine.
If I run it I get:

<i

[2018-06-12 01:11] andxu commented on #308
@clankill3r Thank you for trying java debugger, could you please give us a snapshot of error shown ClassNotFoundException, based on your description, it has very high possibility to have a sync problem in project cache, could you please a try after cleaning all the files on the directory : C:\Users\<your user name>\AppData\Roaming\Code\User\workspaceStorage (in windows)

[2018-06-12 01:36] andxu commented on #308
https://github.com/Microsoft/vscode-java-debug/issues/302

[2018-06-12 02:12] yaohaizh opened #309 "Visual Code can't debug java in the new version why ?"
_From @YousefSaber on November 18, 2017 4:39_

_From @YousefSaber on November 17, 2017 19:16_

![4](https://user-images.githubusercontent.com/33742499/32964649-923c5dba-cbdc-11e7-8f86-db04e9b50a4d.jpg)

![2](https://user-images.githubusercontent.com/33742499/32964555-5063679e-cbdc-11e7-85c3-48c67f303109.jpg)
![3](https://user-images.githubusercontent.com/33742499/32964557-5087c5c6-cbdc-11e7-956a-4

[2018-06-12 02:12] yaohaizh commented on #309
_From @YousefSaber on November 18, 2017 4:39_

_From @weinand on November 17, 2017 19:24_

Please file issue against Java extension.

You can use this tool to move the issue: https://github-issue-mover.appspot.com

[2018-06-12 02:12] yaohaizh commented on #309
_From @andxu on March 7, 2018 4:29_

@YousefSaber Could you provide the extension version you used to use?

![image](https://user-images.githubusercontent.com/17075863/37073647-21557d20-2203-11e8-9cd9-d184aae04099.png)

and the command result of `where java`,  `echo %JAVA_HOME%` and `echo %PATH%` to us:

C:\Users\andxu>where java
C:\Program Files\Java\jdk1.8.0_161\bin\java.exe

C:\Users\andxu>echo

[2018-06-12 08:56] clankill3r commented on #308
I removed all my workspace storage.

I just figured this out, I only get a ClassNotFoundException when I have Caught Exceptions on!

<img width="332" alt="screen shot 2018-06-12 at 10 38 53" src="https://user-images.githubusercontent.com/738650/41279725-8c48e556-6e2d-11e8-96f8-1d1862243e36.png">

Uncaught Exceptions don't matter, all off is also fine.

I also noticed that since yesterday, the test

[2018-06-13 00:45] andxu commented on #308
@clankill3r Integrated JVM has class loaders which will first throw ClassNotFoundException and then load the class. So if you check Caught Exceptions, you will get a lot of breaks on caught  ClassNotFoundException. Your test classes should be generated to output folder defined in .classpath(Java language server will generate this file if it is not here), please let me known  the content of your .c

[2018-06-14 15:59] YousefSaber commented on #309
@andxu @yaohaizh

yeah everything works fine now in the first VS Code couldn't accept user input and that was solved when debugging the code in external terminal( or integrated terminal )  as shown in screenshots

![untitled](https://user-images.githubusercontent.com/33742499/41422998-83f95ec0-6ffa-11e8-8fc0-ae98422ff237.jpg)

after this problem I VS Code couldn't debug any java could but that was

[2018-06-15 01:36] yaohaizh commented on #309
Close this as the issue is fixed.

[2018-06-15 01:36] #309 closed

[2018-06-15 03:32] yaohaizh opened #310 "Test case is broken"
@testforstephen
Fix for reference: https://github.com/forcedotcom/salesforcedx-vscode/pull/244

[2018-06-17 15:31] nghduc97 opened #311 "[feature request] lazy load object variables while attach debug"
In attach debug, if there are a lot of local variables containing array of objects, the extension fetch a deep copy back to the editor making each step very slow. IntelliJ run fast by only showing the variable's name and type and only fetch the content when I unfold it in watch panel. I would like to have this on the extension.

##### Environment
- Operating System: Arch
- JDK version: 9.0.4
- Vis

[2018-06-18 10:35] cvaliere commented on #140
hi @andxu i too have trouble figuring out how to do it
any news on the tutorial?

cheers

[2018-06-19 02:45] yaohaizh commented on #311
@testforstephen  Could you help investigate this issue on the debug protocol?

[2018-06-19 02:57] andxu commented on #311
That is possibly caused by we hint vscode a cheap local scope
https://github.com/Microsoft/java-debug/blob/master/com.microsoft.java.debug.core/src/main/java/com/microsoft/java/debug/core/adapter/handler/ScopesRequestHandler.java#L50

[2018-06-19 03:01] #298 closed

[2018-06-19 03:03] andxu commented on #299
@myguddy Do you check the Caught Exceptions while debugging:
![image](https://user-images.githubusercontent.com/17075863/41573650-4fd6e7b6-73b0-11e8-9412-e8f6f0c4fd32.png)

[2018-06-19 03:04] #264 closed

[2018-06-19 03:19] andxu commented on #111
The bug is still unfixed:

![image](https://user-images.githubusercontent.com/17075863/41574048-5f6cb8e8-73b2-11e8-99c6-a5d4f1c76e5d.png)

![image](https://user-images.githubusercontent.com/17075863/41574116-a2e33368-73b2-11e8-91f9-2d59ed904122.png)

[2018-06-19 06:32] #310 closed

[2018-06-19 06:36] andxu commented on #246
Can not get the feedback from issue creator for a long time, close it.

[2018-06-19 06:36] #246 closed

[2018-06-19 06:38] andxu commented on #103
@testforstephen since vscode side has completed the context menu, can you take a review of this issue?

[2018-06-19 06:55] andxu commented on #164
@jaylee185 Can you reproduce this issue? Then can you take this try:
1. Modify your launch.json#console from `internalConsole` to `integratedTerminal`
2. Press F5 and save the command line text from TERMINAL output view

![image](https://user-images.githubusercontent.com/17075863/41581259-92bf6fba-73d0-11e8-9c6e-4589f7bfecb2.png)
3. Change the command line from sever=n to server=y and run it in yo

[2018-06-20 02:17] testforstephen commented on #103
The vscode change is ready on latest May release 1.24.1, it unblocks us. Let's start to get this done.

[2018-06-20 02:19] andxu commented on #219
@x-strong Can you take a try to uninstall Language Support for Java(TM) by Red Hat and
Debugger for Java by manually delete the folder like(close all vscode instances before deletion):
`C:\Users\andxu\.vscode\extensions\redhat.java-0.27.0`
`C:\Users\andxu\.vscode\extensions\vscjava.vscode-java-debug-0.9.0`
and install two vsixs one by one?

[2018-06-20 02:31] yaohaizh commented on #193
@Andyxu: laguage server already support this one, please verify this:
https://github.com/eclipse/eclipse.jdt.ls/pull/616/files

[2018-06-20 02:36] andxu commented on #278
Close this issue, please re-open it when this issue is happenning again.

[2018-06-20 02:36] #278 closed

[2018-06-20 02:41] SummerSun commented on #256
@xiaodongliang  You could just google how to create a .war file and you will get https://www.javatpoint.com/war-file

We are  supporting to run/debug a web app folder on tomcat server in our [VS Code Tomcat Extension](https://marketplace.visualstudio.com/items?itemName=adashen.vscode-tomcat) in the version 0.10.0. Please stay tuned.

[2018-06-20 02:53] andxu commented on #210
https://github.com/Microsoft/vscode-java-debug/issues/110

[2018-06-20 03:15] andxu commented on #193
I have verified on latest java language support 0.27.0 on auto-value, it now supports the compilation of auto-value, then you are not required to run mvn package manually, please take a try @plooploops.
![image](https://user-images.githubusercontent.com/17075863/41635401-2410a678-747b-11e8-8867-3007d4320bac.png)

![image](https://user-images.githubusercontent.com/17075863/41635417-32b99a7c-747b-11

[2018-06-20 03:17] andxu commented on #164
@jaylee185, we cannot reproduce this bug on mac, could you pleas take a try and give us the feedback?

[2018-06-20 04:13] jaylee185 commented on #164
Hi Andy,

Here’s the snap shot by following the instruction.

cd /Users/jaylee/gs-spring-boot ;
/Users/jaylee/.sdkman/candidates/java/8.0.171-oracle/jre/bin/java
-agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=localhost:62410
-Dfile.encoding=UTF-8 -cp
/Users/jaylee/gs-spring-boot/complete/bin/main:/Users/jaylee/gs-spring-boot/complete/bin/test:/complete/bin/default:/Users/jaylee/.gra

[2018-06-20 04:21] jaylee185 commented on #164
Hi Andy,

Never mind. I think it works for me now. I wasn’t under the complete
folder. Once I used `code .` from complete folder. Spring boot is able to
start.

Thanks,
Jay

On June 19, 2018 at 9:13:47 PM, JAY LEE (jayclee@alumni.usc.edu) wrote:

Hi Andy,

Here’s the snap shot by following the instruction.

cd /Users/jaylee/gs-spring-boot ;
/Users/jaylee/.sdkman/candidates/java/8.0.171-oracle/jre/

[2018-06-20 05:36] yaohaizh commented on #193
Close this one as been fixed.

[2018-06-20 05:36] #193 closed

[2018-06-20 06:04] yaohaizh opened #313 "Debug/Run current active file"
When I opened a Java file, I want to debug/run current select file immediate.

[2018-06-20 07:46] andxu commented on #164
then it looks like gethostbyname command of 'localhost' failed, check the content of  `/etc/hosts` for the following statement:
 127.0.0.1   localhost

[2018-06-20 19:08] aboe026 commented on #205
@andxu what is the issue number for fixing it in attach mode? I see the latest release is `0.9.0` but I'm still getting the same error. Has it still not been fixed for attach mode?

[2018-06-21 01:39] andxu commented on #205
@aboe026 it is supposed to be fixed at 0.7.0 (2018-3-15), but in some corner cases(multiple-root), the projectName is still needed, my fix only takes a lot of tries to guess out what the correct projectName, for multiple projects, it will guess based on the current class stopped, if multiple projects contains this class, then the evaluation will fail with the error message `specify projectName in

[2018-06-21 06:37] testforstephen opened #314 "User notification (HCR/Evaluation notification) cannot be displayed if liveshare extension is installed"

[2018-06-21 06:45] ivenxu opened #315 "Show toString() values in variables windows"
[Both in local variables and watch window, the debugger view shows the type of the complex object. It'll be really useful to show both type and toString() of the object]

##### Steps To Reproduce
1. put the following code in a test class
[code]
2. set break point on the assert line and start the debugger
3. look at the variables window

![image](https://user-images.githubusercontent.com/248655/417

[2018-06-21 06:56] ivenxu commented on #227
Looking forward to have this!

[2018-06-21 07:15] testforstephen opened #316 "Conditional breakpoint throws error when evaluating a complex expression."
Reproduce steps:
1. Add an expression such as `message.toString() != null && message.toString() != null` to a breakpoint.
2. When the code runs there, the evaluation will throw error `"Breakpoint condition  'message.toString() != null && message.toString() != null' error: com.sun.jdi.InvalidStackFrameException occurred while retrieving value. "`.

Actually evaluate the same expression at the stand

[2018-06-21 10:52] clankill3r commented on #308
Hi, here it is:

[code]

[2018-06-22 01:08] andxu commented on #308
checked `Caught Exceptions` will bring a lot of ClassNotFoundException which is by design since the class loader in JVM is try to catch ClassNotFoundException to determine whether a class is loaded or not, your build problem should be related to the java language server at https://github.com/redhat-developer/vscode-java/issues.  The output folder for 'src/test/java' is `target/test-classes`, you s

[2018-06-22 01:10] andxu commented on #315
Dup as https://github.com/Microsoft/vscode-java-debug/issues/236, should have a user setting by enable toString display

[2018-06-22 01:12] andxu commented on #313
The PR is abandoned at https://github.com/Microsoft/vscode-java-debug/pull/287

[2018-06-22 06:04] ivenxu commented on #315
Actually, I don't think #236 and this are duplicated. What I'm after is simply displaying whatever the toString() in the view of variables, while #236 is about user provides a custom format then showing it in the view.

[2018-06-22 16:22] sceee commented on #218
@andxu @testforstephen sorry for the late response, it took me a while to reproduce it since it's in a not so easy to setup configuration.

Anyway, it seems to be fixed now when using Debugger for Java 0.9.0 since I can now also debug in other classes from my tests.
Thank you both!

[2018-06-22 16:22] #218 closed

[2018-06-26 07:35] clankill3r commented on #308
They are there.
Just to make sure where on the same page, So it is correct that I get a ClassNotFoundException when Caught Exceptions is on although the class in `target/test-classes` does exist?

[2018-06-27 01:07] andxu commented on #308
yes, ClassNotFoundException is expected although the class is here.

[2018-06-27 01:50] psrivastava commented on #280
andxu -> I am seeing the name. This certianly has to do with renames.  My  'MyFirstProgram.java" was working all well till the time I not rename it to "FirstApp.java"

[2018-06-27 02:05] testforstephen opened #319 "Endgame 0.10.0"
# Milestone 0.10.0:

 - [ ] 6/27 @yaohaizh
 - [ ] 6/27 @andxu
 - [ ] 6/27 @testforstephen

# Build
- [ ] 6/27 - Bump version to 0.10.0 @testforstephen
- [ ] 6/27 - Add change log for 0.10.0 - @testforstephen
- [ ] 6/27 - Signed RC Bits @testforstephen

# Test
- [ ] 6/27 - Run test plan vscjavaci/java-debug-ci#17 - @bsaby
- [ ] 6/27 - Test Logpoint feature for Windows @andxu
- [ ] 6/27- Test Logpoi

[2018-06-27 04:26] andxu opened #324 "Breakpoint hit two times on spring boot"
using the project attached, set a breakpoint at GreetingController.java#return new Greeting ...
F5 and  visit http://localhost:5000/greeting?name=a, you need to continue two times to get rid of the stopped breakpoints.

[mywebapi.zip](https://github.com/Microsoft/vscode-java-debug/files/2139754/mywebapi.zip)

[2018-06-27 05:59] testforstephen commented on #319
1. Open and Debug `5.breakpoint` project, add breakpoint at anonymous/inner class, they all can be hit.
Add conditional breakpoint and Logpoint, it works. Evaluate an expression at Debug Console, the result is returned successfully.
2. Open and Debug `24.hotCodeReplace` project, add a breakpoint at `Person.getInternalName()` method. When the breakpoint is hit, change the method content of this met

[2018-06-27 06:37] yaohaizh commented on #319
Test logpoint for Ubunut:
1. Issues logged on the VSCode side: https://github.com/Microsoft/vscode/issues/53089
2. Logpoint expression is working correctly

[2018-06-27 07:08] yaohaizh commented on #319
VSCode 1.24
OS:Ubuntu

    Use vscode to open project Spring pet clinic
    set breakpoint and press F5
    add expression in watch panel, check evaluation, restart frame, logpoint

[2018-06-27 07:09] yaohaizh commented on #319
Ubuntu

    OS: Ubuntu 18.04
    VSCode: 1.24

Java 8:

    Following the steps from here: vscjavaci/java-debug-ci#17
    The basic functions work as expected: Breakpoints/threads/callstack/variable
    Maven: Newly generated & spring-petclinic works correctly with debugging features.
    Gradle & Single file: Press F5 without issues.

Java 9:

    Following the steps from here: vscjavaci/java-deb

[2018-06-27 07:51] bsaby commented on #319
### Run test plan
Following vscjavaci/java-debug-ci#17
1. Configuration

Windows | Mac
-- | --
Vscode   1.24.1   JDK   10.0.1 | Vscode   1.24.1   JDK   1.8.0_161

2. No new bug found
3. Test Result

Test case | Windows | Mac
-- | -- | --
Configurations | Vscode   1.24.1   JDK   10.0.1 | Vscode   1.24.1   JDK   1.8.0_161
Clean   install | Pass | Pass
Uninstall | Pass | Pass
Update | Pass | Pass
Hel

[2018-07-03 14:50] tangboming opened #325 "when debug test case that vmargs doesn't come into effect"
[provide a description of the issue]

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version:
- Java extension version:
- Java Debugger extension version:

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[attach a sample project reproducing the error]
[attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

##### Current Resul

[2018-07-03 14:54] tangboming commented on #325
{
            "type": "java",
            "name": "Debug (Launch)",
            "request": "launch",
            "cwd": "${workspaceFolder}",
            "console": "internalConsole",
            "mainClass": "",
            "stopOnEntry": false,
            "vmArgs": "-Dtest.profiles.active=staging",
            "env": {
              "test_env":"true"
            },

        },

[2018-07-04 01:33] iamlothian opened #326 "Running Java via launch config is Enhancing my logger with Mokito"
The configuration of my logging classes seems to be affected by running the application via vscode launch configuration.

I as asking here as my assumption is vscode java debug might be wrapping application logging so that it can capture output and forward it to the nominated console

##### Environment
- Operating System: macOS High Sierra 10.13.5 (17F77)
- JDK version: Java(TM) SE Runtime Environ

[2018-07-04 01:45] andxu commented on #326
Could you start the launch mode again with the console option "externalTerminal", like
![image](https://user-images.githubusercontent.com/17075863/42252284-7aa446cc-7f6e-11e8-8993-31193411dcd1.png)
and copy the command line shown at the terminal, remove the debug options like: -agentlib:jdwp=transport=dt_socket,server=n,suspend=y,address=localhost:????
and try to launch it in the terminal(system t

[2018-07-04 02:05] iamlothian commented on #326
I have tried with all console types and got the same result.
I can run the app using: `agentlib:jdwp=transport=dt_socket,server=n,suspend=y,address=localhost:1044` and connect to it using the attach config with no issues from both the internal and external terminals

[code]

[2018-07-04 02:20] andxu commented on #326
Remove that line -agentlib:jdwp=transport=dt_socket,server=n,suspend=y,address=localhost:53027 and try to launch it in system terminal.

[2018-07-04 02:42] testforstephen commented on #325
From your words, we cannot be sure where the problem happens. Can you launch your test case in terminal with the same launch options? The launch command likes `java -Dtest.profiles.active=staging -cp <your class path> mainClass`.

[2018-07-05 18:53] JustAnotherSoftwareDeveloper commented on #307
A similar issue happens to me with multi-module maven project. The classes in the WS work fine, but there are issues when I try to pull in classes from my other modules. All are java modules.

[2018-07-06 01:40] iamlothian commented on #326
I have had mixed results since I last commented, where it will work sometimes, and not others. Which is rather unhelpful when trying to replicate and diagnose the issue.

[2018-07-06 01:45] andxu opened #327 "Language Server doesn't work, the generated launch.json is not right"
!ENTRY org.eclipse.jdt.ls.core 4 0 2018-07-06 09:40:44.619
!MESSAGE Error occured while building workspace. Details:
message: Project configuration is not up-to-date with pom.xml. Select: Maven->Update Project... from the project context menu or use Quick Fix.;code: 0
![bug](https://user-images.githubusercontent.com/17075863/42355743-344ce1f4-8101-11e8-937e-dc8c7d2fbf5d.gif)

[2018-07-06 01:48] andxu commented on #327
Refreshing project doesn't work, clean the workspace cache, the error disappears.

[2018-07-06 02:55] andxu commented on #326
Would you mind to upload your project here, in this way I can try your project to figure out what's the problem?

[2018-07-06 03:20] iamlothian commented on #326
That will not be possible sorry. If i find some time this weekend. Ill try
make a small project to reproduce the issue.

On Fri., 6 Jul. 2018, 12:55 pm Andy Xu(devdiv), <notifications@github.com>
wrote:

[2018-07-06 19:52] stantonxu opened #328 ""Failed to evaluate. Reason: Cannot evaluate because the thread is resumed." for Scanner(System.in)"
Debugger for Java seems not able to handle `new Scanner(System.in).next()`

When I try to run the following simple code with Debugger for Java,
[code]
It will report the error mentioned in title.
`Failed to evaluate. Reason: Cannot evaluate because the thread is resumed.`

##### Environment
- Operating System: MacOS 10.12.4
- JDK version: 1.8.0
- Visual Studio Code version: 1.26.0 Insider
- Java e

[2018-07-06 19:53] stantonxu commented on #328
/assign @yaohaizh

[2018-07-07 01:04] andxu commented on #328
Dup as https://github.com/Microsoft/vscode-java-debug/issues/239:
in short:
"Cannot evaluate because the thread is resumed" is by design of java debug by Sun, you need to stop at a breakpoint/step before you could start evaluation.
The cause for this issue is user want to input by misunderstanding of vscode design for debug console(which is used to input text for evaluation)
If you do want to inpu

[2018-07-07 05:06] stantonxu commented on #328
Thank you @andxu

[2018-07-07 05:06] #328 closed

[2018-07-10 02:08] testforstephen commented on #272
See the PR https://github.com/Microsoft/java-debug/pull/184. This feature has been implemented at the release 0.10.0.

[2018-07-10 02:08] #272 closed

[2018-07-10 07:38] Eskibear commented on #313
PR #329  fixes the "immediate" problem for single file debugging.
To directly debug a java file within a project, I suggest to trigger by a command instead of <F5>. Because when <F5> pressed, you never know whether the user is going to debug the whole project or the active file.

[2018-07-11 05:56] testforstephen opened #330 "Add a troubleshooting page"
Add a troubleshooting page for the frequently asked errors. And add a link in the error message box to guide user to the troubleshooting page.

[2018-07-11 06:05] testforstephen opened #331 "Failed to resolve classpath: xyz"
In launch mode, the debugger will auto resolve the classpath based on the given `mainClass` and `projectName`, but the mechanism is often error-prone. Especially when user configure a wrong the mainClass or projectName, it will throw the errors:

- Failed to resolve classpath: Main class '.*' doesn't exist in the workspace.
- Failed to resolve classpath: The project '.*' is not a valid java projec

[2018-07-11 07:54] testforstephen opened #332 "Improve auto generation ux"
- Remove the default `attach` configs.
- Add the general launch config with mainClass to be empty.

[2018-07-12 06:41] testforstephen opened #333 "improve the logger coverage"
Currently java debugger doesn't log the exception message when the java debugger returns an error response to vscode client, that doesn't help for troubleshooting.

[2018-07-12 06:53] testforstephen opened #334 "Reinstallbreakpoint throws Exception during HCR"
It throws `Remove breakpoint exception`:
- Remove breakpoint exception: com.sun.jdi.VMDisconnectedException: Got IOException from Virtual Machine
- Remove breakpoint exception: org.eclipse.jdi.TimeoutException: Timeout occurred while waiting for packet 23626.

[2018-07-12 09:20] testforstephen opened #335 "Improve the evaluation UX"
66% failure rate, figure out the failure cases. Improve the error message and documentation.

[2018-07-12 09:21] testforstephen opened #336 "Improve the HCR ux"
Figure out the HCR boundary for a standard JVM, and document the support scenarios and unsupported scenarios.

[2018-07-12 09:22] testforstephen opened #337 "Improve the completions ux for DEBUG CONSOLE"

[2018-07-12 21:40] erihanse opened #338 "Logpoint cannot evaluate string array"
Issue Type: <b>Info</b>

Extension version: 0.10.0
VS Code version: Code 1.24.1 (24f62626b222e9a8313213fb64b10d741a326288, 2018-06-13T17:51:32.889Z)
OS version: Windows_NT x64 10.0.17134

I am getting what might be some unprecise error messages when trying to evaluate a string array. What is the correct way to evaluate lets say the first element in an array? Is it possible to evaluate the whole ar

[2018-07-13 02:56] Eskibear opened #339 "check in test plan"

[2018-07-13 02:59] testforstephen commented on #338
The underlying implementation is using `System.out.printf("%s", args)` to log the message. So the expression wrapped by `{}` need be accepted by `printf`.

To log the first element, you can use `{ args[0] }`.
To log the whole array, you can use ` { String.join(",", args)}`.

If you still want to the Logpoint feature to support the array by itself, please vote the feature. We will see if this is a

[2018-07-13 04:41] Eskibear commented on #339
PR #340

[2018-07-13 12:19] #338 closed

[2018-07-18 09:44] #339 closed

[2018-07-19 02:16] Eskibear commented on #332
Todo: update test plan for this.

[2018-07-23 02:07] andxu commented on #324
external since eclipse has this bug too.

[2018-07-23 02:07] #324 closed

[2018-07-23 02:13] yaohaizh commented on #324
@andxu, if this is an eclipse issue, could fire a issue targeting eclipse, you can related information from here: https://github.com/eclipse/eclipse.jdt.debug, and link to there.

[2018-07-26 15:14] cjbailey commented on #331
I get this error quite a lot.  I'm not sure if this is related but I often get errors such as this:

Exception in thread "main" java.lang.Error: Unresolved compilation problem:
	The method transform(TransformationInput, TransformationOutput) from the type CustomFieldMapping refers to the missing type StreamTransformationException

But then if I open the missing class in the editor and hit F5 again

[2018-07-27 01:48] testforstephen opened #344 "Debugging pure Java files in VSCode returns ClassNotFoundException"
When the users open pure Java files in VSCode, and debug it, sometimes they get `ClassNotFoundException`. But if they remove the workspace cache or open all relevant .java files in Editor, the issue disappears.

This issue is involved with single file support. Currently we use a default project `jdt.ls-java-project` to link the pure Java files, it looks like the link mechanism is error-prone.

Bel

[2018-07-27 01:55] testforstephen commented on #344
I get this error quite a lot. I'm not sure if this is related but I often get errors such as this:

The method transform(TransformationInput, TransformationOutput) from the type CustomFieldMapping refers to the missing type StreamTransformationException

[2018-07-27 01:55] testforstephen commented on #331
@cjbailey Migrate your comment to another bug https://github.com/Microsoft/vscode-java-debug/issues/344

[2018-07-27 01:56] testforstephen commented on #344
@yaohaizh Please have a look at the single file support.

[2018-07-27 08:06] cjbailey commented on #331
Thanks.  I've deleted my comment from here.

[2018-08-01 06:59] testforstephen opened #347 "Endgame 0.11.0"
# Build
- [x] 8/1 - Bump version to 0.11.0 @testforstephen
- [x] 8/1 - Add change log for 0.11.0 - @testforstephen
- [x] 8/1 - Signed RC Bits @testforstephen
https://vscjavaci.cloudapp.net/job/vscode-java-debug.vsix-withSign/lastSuccessfulBuild/Azure/

# Test
- [x] 8/1 Verify the changes for 0.11.0 release. https://github.com/Microsoft/vscode-java-debug/pull/348/files
- [x] 8/1 - Run test plan htt

[2018-08-02 03:29] bsaby opened #349 "Failed to resolve classpath for gradle project"
The issue isn't stable repro.
##### Environment
- Operating System: Windows x64
- JDK version: JDK10.0.2
- Visual Studio Code version: Vscode 1.25.1
- Java extension version: 0.29.0
- Java Debugger extension version: 0.11.0

##### Steps To Reproduce
1. Open the Gradle project in attachment
2. press F5 to generate launch configuration
3. Press F5 choose main class: "com.ms/samples.App"

[attach a s

[2018-08-02 04:08] bsaby commented on #347
### Run test plan
Following  https://github.com/Microsoft/vscode-java-debug/blob/master/TestPlan.md
1. Configuration:

Test case | Windows x64   | Mac x64
-- | -- | --
Configurations | Vscode   1.25.1   JDK   10.0.2 | Vscode   1.25.1   JDK   1.8.0_161
2. Open bug: #349
3. Test result:

Test case | Windows | Mac
-- | -- | --
Configurations | Vscode   1.25.1   JDK   10.0.2 | Vscode   1.25.1   JDK

[2018-08-02 04:49] testforstephen commented on #347
# Verify new changes in 0.11.0 on MAC

1. Open `5.breakpoint` project...remove the existing launch.json file...press F5, VS Code will auto generate a launch.json, and no prompt for user to select the debugger type first. So the new UX takes effect. And new launch.json format is expected as the new design. **`PASSED`**
2. In the launch.json, input a wrong main class name, and press F5, the debugger

[2018-08-02 07:02] testforstephen commented on #347
# Verify the basic features on MAC

Open `5.breakpoint` project...press F5 to launch debugger. Tried breakpoint, evaluation, logpoint, conditional breakpoint, setVariable, step, worked.

[2018-08-02 07:09] Eskibear opened #350 "Remember least recently debugged main class"
When I have multiple main classes in current workspace, after pressing F5 the debugger pops up a list of main class to let me choose. (sorted alphabetically)

When I need to re-launch to debug the same main class, every time I have to look for it again in the list. Is it possible to remember the LRU main class, and put it ahead of the list. It improves my experience.

[2018-08-02 07:13] Eskibear opened #351 ""Start without debugging" doesn't work"
VS Code provides "Start without debugging" functionality, but it doesn't work for Java as far as I know.

##### Environment
- Operating System: MacOSX
- JDK version: 1.8
- Visual Studio Code version:1.25.1
- Java extension version:0.29.0
- Java Debugger extension version:0.10.0

##### Steps To Reproduce
1. Open a Java project and set a breakpoint
2. Trigger "Start without debugging"

##### Current

[2018-08-02 07:37] andxu commented on #347
# Verify the basic features on Windows Java 8
Open all-in-one project in https://github.com/andxu/andy_doc/tree/master/test-project, and find a issue of workspace cannot be built:
···
!ENTRY org.eclipse.jdt.ls.core 4 0 2018-08-02 15:27:11.044
!MESSAGE Error occured while building workspace. Details:
message: CoreException: Could not calculate build plan: Plugin org.apache.maven.plugins:maven-compi

[2018-08-02 07:43] andxu commented on #347
# Verify the basic features on Windows Java 10
Open all-in-one project in https://github.com/andxu/andy_doc/tree/master/test-project, and tested the following cases:
1. args and vmArgs
2.  CustomClassLoaderTest
3. BreakpointTest
4. NoSourceTest

[2018-08-02 08:30] Eskibear commented on #351
I find the raw request:
[code]
`"noDebug":true ` is appended in the request.

[2018-08-02 09:20] testforstephen commented on #347
0.11.0 in Marketplace: https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-debug

0.11.0 in maven central: https://oss.sonatype.org/content/repositories/releases/com/microsoft/java/

0.11.0 in p2 site: https://dl.bintray.com/vscjavaci/javadebug/     (latest)
https://dl.bintray.com/vscjavaci/javadebug/releases/0.11.0/

[2018-08-02 09:20] #347 closed

[2018-08-03 03:30] testforstephen commented on #330
See the troubleshooting doc https://github.com/Microsoft/vscode-java-debug/blob/master/Troubleshooting.md

[2018-08-03 03:30] #330 closed

[2018-08-03 05:27] testforstephen commented on #332
The fix is ready in 0.10.0 release, close it.

[2018-08-03 05:27] #332 closed

[2018-08-03 05:27] testforstephen commented on #333
fixed.

[2018-08-03 05:27] #333 closed

[2018-08-03 05:30] testforstephen commented on #349
Duplicated with https://github.com/Microsoft/vscode-java-debug/issues/331

[2018-08-03 05:30] #349 closed

[2018-08-03 07:17] testforstephen commented on #331
For the error case `Failed to resolve classpath: Main class '.*' isn't unique in the workspace, please pass in specified projectname.`, one possible reason is the search engine caching stale classes. When Java debugger try to search the corresponding project for the specified fully qualified class name, it will cause multiple projects existed. To solve this problem, need keep the search engine alw

[2018-08-04 21:48] jsnikhil opened #352 "Cannot pass multiple arguments to the debugger"
My mainClass has a main(String[] args) method, and I'd like to pass multiple arguments to it. In launch.json the args only takes a String value. How can I pass multiple arguments with a string value? I tried putting commas in the string hoping it will get split into multiple arguments. Tried assigning a array value instead, however with that the Debugger won't even start.

Here is my launch.json w

[2018-08-06 02:51] testforstephen commented on #352
@jsnikhil In the `args` field, you should use **white space** as the separator for multiple arguments.

[2018-08-06 10:51] jsnikhil commented on #352
Awesome didn't think of that. Thanks @testforstephen

[2018-08-06 10:51] #352 closed

[2018-08-06 20:49] artivilla opened #354 "attach remote process for debugging"
Related to #303. I'm using my CLI to run my application using mvn:
`"mvn clean compile tomcat7:run -Djava.awt.headless=true -Dmaven.test.skip=true -DskipTests=true -Duser.timezone=GMT -Plocal-logging -Ddevelopment"`

Here are my env vars set:
[code]

##### Environment
- Operating System: OSX 10.12.6
- JDK version: 1.8
- Visual Studio Code version: Version 1.25.1 (1.25.1)
- Java extension version:

[2018-08-06 23:39] andxu commented on #354
@artivilla Do you mean you can visit the localhost url to get the final page without hitting the breakpoint?
If so, can you paste in the maven logs from `mvn clean compile tomcat7:run -Djava.awt.headless=true -Dmaven.test.skip=true -DskipTests=true -Duser.timezone=GMT -Plocal-logging -Ddevelopment`

[2018-08-07 00:51] artivilla commented on #354
@andxu yes, I can visit the app without hitting the breakpoints. The logs are huge but here's a link: https://gist.github.com/artivilla/eb65636e8c5b0ee5fdfe78701404673c.js.

[2018-08-07 02:15] #280 closed

[2018-08-07 02:15] #308 closed

[2018-08-07 02:15] #164 closed

[2018-08-07 02:15] #219 closed

[2018-08-07 02:15] #234 closed

[2018-08-07 02:15] #154 closed

[2018-08-07 02:15] #152 closed

[2018-08-07 02:16] andxu commented on #354
@artivilla , there is a fork parameter (default true if you have dev-tools or jvmArguments ) which means you app is spawned without the effect of MAVEN_OPTS, if you wish to enable debug mode, trying the  following snippet (or use pom xml provided by @SummerSun without MAVEN_OPTS)
[code]

[2018-08-07 02:52] andxu commented on #154
@sebastianbarfurth I cannot repro this issue using latest 0.11.0, can you try it again(this bug is auto-closed)?

[2018-08-07 02:58] andxu commented on #149
The jav 10 project will not compile on java 8 env.

[2018-08-07 02:59] #149 closed

[2018-08-07 04:52] testforstephen opened #355 "Add validation for configuration items of launch.json"
The debugger only has type validation for the config items (mainClass, projectName) of launch.json, this is a kind of static validation, and it cannot check the illegal value.

For example, for the common config errors below, the debugger will report it at a much latter stage with error message `Failed to resolve classpath: ...`. It doesn't point out the failure reason clearly.
- Main class 'C:\de

[2018-08-07 07:52] akaroml opened #357 "0.12.0 Plan"
Legend of annotations:

Mark | Description
-- | --
🏃 | work in progress
✋ | blocked task
💪 | stretch goal for this iteration
🔴 | missing issue reference
🔵 | more investigation required to remove uncertainty
⚫️ | under discussion within the team

@testforstephen
- [x] #355 Validate mainClass and projectName before launch
https://github.com/Microsoft/vscode/issues/56243 Support dynamic validation/in

[2018-08-08 00:37] #354 closed

[2018-08-08 17:54] sixlettervariables commented on #305
Performance is pretty terrible debugging with any watches. Both on an i5 desktop and a 2009 MacBook Pro. JDK 8 on the Desktop and JDK 10 on the MacBook Pro. The repositories in question are https://github.com/MegaMek/megamek and https://github.com/MegaMek/mekhq.

[2018-08-08 22:09] artivilla commented on #354
So I got the debugger to work but then I can't run the application itself. Also, we're using spring MVC rather than spring boot so not sure if this plugin would work. Any other settings I should try or you could point me to another config around this.

[2018-08-08 23:57] andxu commented on #354
@artivilla You are actually debug maven itself, since you have set the fork=true, your application is started not in debug mode, so the best way I think would be
[code]

[2018-08-09 04:55] yaohaizh commented on #305
@andxu Please help investigate this issue ASAP.

[2018-08-09 04:59] andxu commented on #305
@sixlettervariables, thank you for using vscode java debugger, can you help me to address the question clearer:
1. which mode are you using? launch or attach
2. how many expressions are you watching and can you give some examples of them
3. on which line of break you met the perf issue?

[2018-08-09 11:57] sixlettervariables commented on #305
1. Launch.
2. 0, 1, or 2. Rarely more given the performance.
3. Doesn't really matter what line.

Steps with MekHQ:
- `ant jar`
- `Launch with Debugging`
- Place a breakpoint somewhere in the code (or a few)
- Test some bug report and step around the code.

Sometimes even pressing continue while on a breakpoint takes multiple clicks to register.

[2018-08-09 17:10] artivilla commented on #354
So to confirm, I'm using `mvn clean compile spring-boot:run -Djava.awt.headless=true -Dmaven.test.skip=true -DskipTests=true -Duser.timezone=GMT -Plocal-logging -Ddevelopment` with the ☝️ config in my pom.xml file.
I have multiple entry files that define `public static void main(String[] args) {}` so it's giving me `Unable to find a single main class from the following candidates`. Do I specify an

[2018-08-09 22:50] kdvolder opened #358 "'Build Failed' when launching app, needs more explanation"
It happens occasionally that when I (try to) launch and app by pressing F5, I am greeted with a dialog to the effect that 'Build Failed'. My project looks fine as far as I can tell. There is really no way for me to know what this 'mysterious build' is not happy about. That is a very poor user experience. At least there should be some way to see the root error from this 'build' that was silently ru

[2018-08-10 02:01] andxu commented on #354
Yes, if only one class with main method here in your project, you needn't, if multiple main classes are there, then you will need the mainClass right at the same level with jvmArguments
![image](https://user-images.githubusercontent.com/17075863/43934946-49085634-9c84-11e8-8234-ebbcb20eb17b.png)

[2018-08-10 02:16] yaohaizh commented on #358
@kdvolder I have logged related issue to vscode repo. You can follow or put more information in that issue. Thanks.

[2018-08-10 05:09] testforstephen opened #360 ""Learn More" link should point to the associated troubleshooting paragraph directly"
Currently when the user clicks "Learn More" button, it just opens the whole troubleshooting page. It's better to jump to the paragraph associated with the target error directly.

[2018-08-11 15:54] shuqian opened #361 "when debug the terminal/console Chinese display garbled"
when debug with the integratedTerminal/internalConsole/externalTerminal Chinese display garbled
the java file is utf-8
##### Environment
- Operating System:MacOs 10.13.6
- JDK version:jdk1.8.0_111
- Visual Studio Code version:1.25.1
- Java extension version:0.3.0
- Java Debugger extension version:0.11.0

- ls the dir
![55t6gn.png](https://s1.ax2x.com/2018/08/11/55t6gn.png)

- compile the java code

[2018-08-13 05:10] testforstephen opened #363 "Define telemetry data points"
In order to better manage the telemetry info, we should form a standard about the telemetry data points.
Below is a draft.

Telemetry Type:
-	usageData
-	usageError
-	exception

Telemetry entries:
- **Activate extension**

The extension is starting to activate. -> sendTelemetryEvent(“usageData”, { eventType: “activateExtension”})

The extension is activated successfully. -> sendTelemetryEvent(“usa

[2018-08-13 07:35] testforstephen commented on #361
This is an encoding issue. Currently the jdt compiler will use the default OS encoding to compile the source file, no regarding what encode is used in VS Code Editor. If the user's system locale is not en-us, the default OS encoding is probably not UTF-8 compatible. In this case, the JDT compiler uses the wrong the encoding to parse the string constants of the source code, so that the generated *.

[2018-08-13 08:47] andxu commented on #305
After removing the source container in hard-coded way, the step experience was too much improved:
![test](https://user-images.githubusercontent.com/17075863/44021916-9c21add4-9f18-11e8-9b10-4c7658447742.gif)

[2018-08-14 01:28] rothfels opened #364 "Show toString() values in hover tooltips"
Similar to https://github.com/Microsoft/vscode-java-debug/issues/315, it would be very useful to show the `.toString` of an object in the hover tooltip.

For example, in vanilla Eclipse debugger:

<img width="483" alt="screencapture" src="https://user-images.githubusercontent.com/1095573/44066628-2a773c86-9f26-11e8-88d8-b7683ae5886a.png">

vs. in VS Code, you also have to expand the elements to se

[2018-08-14 01:51] andxu commented on #364
@rothfels thank you for using our extension and opening up the concern for custom display, I can feel the eager needs to  this feature, actually I used this feature to display a list in the replies of this [issue](https://github.com/Microsoft/vscode-java-debug/issues/305), but due to the complicated logic of invoking evaluation engine and hard to bring manipulation ui in vscode for custom definiti

[2018-08-14 02:17] Eskibear commented on #351
Let's call "Start without debugging" noDebug mode in short. I plan to implement this feature in 2 steps:
1. **Enable different request handlers for debug/noDebug mode.** For debug mode, enable all the request handlers. For noDebug mode, only enable handlers for `initialize`, `configurationDone`, `launch`, `disconnect` requests.
2. **Spawn a process directly for noDebug mode.** We don't need to lau

[2018-08-14 05:07] testforstephen opened #365 "Unstable for huge workspace"
It's a feedback from marketplace.

The original author is Matthias Fuchs

[2018-08-14 05:08] testforstephen commented on #365
@yaohaizh could you have a look whether it has the same issue with the Elastic Search project?

[2018-08-14 05:15] andxu commented on #305
@sixlettervariables We will use your project as a perf benchmark base, and the fix will be available at 0.12.0 due to August 21, you can early try it using my personal build: https://github.com/andxu/mekhq/blob/master/vscode-java-debug-0.11.0%20(private).vsix( wish you known how to install vsix in vscode)

[2018-08-14 07:39] andxu opened #366 "Always launching jre instead of JDK"
Steps:
 Open any project  and write "new String("");"  and step in the String constructor,

The variable should be two:
1. original
2. this

but actual the parameter for String constructor is arg0 which indicating that the program is running at jre env,eg:
[code]

[2018-08-14 10:55] sallyur opened #367 "Cannot read property 'end' of undefined"
[provide a description of the issue]

##### Environment
- Operating System:Windows
- JDK version:1.8.0_181
- Visual Studio Code version:1.26.0
- Java extension version:0.29.0
- Java Debugger extension version:0.11.0
- Build:291

##### Steps To Reproduce
1. Open a java project, e.g. 3.thread
2. Press F5 to generate launch.json file
3. Set BP on line 13
4. F5 again to start debug, verify the BP on m

[2018-08-14 13:02] sixlettervariables commented on #305
@andxu I appreciate the work on this! I will pull the build sometime this week and try it out. Thank you.

[2018-08-16 09:04] testforstephen commented on #367
@sallyur Cannot reproduce the problem in my machine. Does it stably occur in your side?

[2018-08-16 09:07] sallyur commented on #367
It is not stable repro, but it is high frequency happened yesterday on windows.

[2018-08-17 01:29] #111 closed

[2018-08-17 01:48] testforstephen commented on #355
So far VSCode doesn't support auto complete when the user is editing the launch.json. It provides another mechanism `DebugConfigurationProvider` to allow the debugger to resolve launch config before launching debug session.

The idea is to validate mainClass and projectName config in the `DebugConfigurationProvider`, and when the user configured an incorrect value for these two configs, the debugg

[2018-08-17 01:54] testforstephen commented on #350
Another feedback is to put the mainClass from current active file in the top of the list too.

[2018-08-17 02:39] andxu opened #369 "report InvalidStackFrameException during evaluating on conditional breakpoint"
![aa](https://user-images.githubusercontent.com/17075863/44245116-c3e88100-a209-11e8-945f-943e4c21d734.jpg)

[2018-08-17 17:06] fwcd commented on #241
@lonpalmer I am currently working on a (very unfinished) KotlinDebugAdapter that would allow you to launch and debug Kotlin applications from VSCode, in case you are interested:

https://github.com/fwcd/KotlinDebugAdapter

[2018-08-21 02:12] #303 closed

[2018-08-21 02:16] andxu opened #370 "Duplicate class path during launching"
0:
"N:\testall\target\classes"
1:
"N:\testall\target\classes"
2:
"N:\testall\target\test-classes"
3:
"N:\testall\target\test-classes"

0 and 1, 2 and 3 are duplicate
![image](https://user-images.githubusercontent.com/17075863/44376433-34a1dd00-a52b-11e8-9690-1c2d508347c5.png)

[2018-08-21 02:17] andxu commented on #288
https://github.com/Microsoft/java-debug/pull/208

[2018-08-22 03:05] testforstephen commented on #355
When showing the quick fix proposals, put the proposals with the same as the original mainClass or projectName configs in launch.json on the top, and the remaining proposals have alphabet order.

[2018-08-22 06:57] testforstephen commented on #360
closed with commit https://github.com/Microsoft/vscode-java-debug/commit/ae23fcb02e252b3ff2b5e2fab8023ea89c812e71

[2018-08-22 06:57] #360 closed

[2018-08-22 07:09] testforstephen commented on #350
This feature only applies to the scenario where `mainClass` and `projectName` is emtpy. (See the following config)
[code]

[2018-08-22 07:10] Eskibear commented on #351
Now the expected behavior is:
* Can launch a Java project by <kbd>CTRL+F5</kbd>or "Start without debugging".
* No breakpoints hit, no threads/callstack info shown.

[2018-08-22 07:10] #351 closed

[2018-08-22 07:47] Eskibear opened #373 "Refactor: Extract common code from LaunchRequestHandler's delegate"
See [ILaunchDelegate.java#L25-L27](https://github.com/Microsoft/java-debug/blob/46828dc7296e5ca3997a03f3ba3546a5f180b1a2/com.microsoft.java.debug.core/src/main/java/com/microsoft/java/debug/core/adapter/handler/ILaunchDelegate.java#L25-L27
)
[code]

There is common logic in implementation for both interfaces. The main differences in implementation for debug/noDebug are:
* launchInTerminal: It cons

[2018-08-22 09:19] adashen opened #374 "Break point seems not continue and hang the thread in attach mode"
[provide a description of the issue]

##### Environment
- Operating System: windows 10
- JDK version: jdk-10.0.2
- Visual Studio Code version: 1.26.1
- Java extension version: 0.29.0
- Java Debugger extension version: 0.11.0

##### Steps To Reproduce
1. pre-step:
    a. install iotedgehubdev : pip install iotedgehubdev
    b. install vs code edge extension
2. Run: Setup IoT Edge Simulator in VSCod

[2018-08-23 02:45] yaohaizh opened #375 "Ability to run java program in much simpler way"
_From @patelkunal on August 22, 2018 12:40_

It would be great functionality to run java main class/program from visual code on click of annotation like Intellij (every main method annotated with nice run green icon). That makes it very easy to just run the java program/main method without any hassle.

Currently debugger-for-java plugin serves the work around by adding entry into launch.json and t

[2018-08-23 02:45] yaohaizh commented on #375
@testforstephen @Eskibear Please take a look at this issue. It should be related to your current work items.

[2018-08-23 02:45] yaohaizh commented on #375
_From @fbricon on August 23, 2018 2:43_

While I appreciate the idea of making it easier to run Java apps from the editor, this is out of scope of vscode-java.
Please open a ticket in https://github.com/Microsoft/vscode-java-debug/issues

[2018-08-23 05:58] andxu commented on #288
Closed, the code is on master branch.

[2018-08-23 05:58] #288 closed

[2018-08-23 05:58] andxu commented on #297
The flag is enable in https://github.com/Microsoft/java-debug/pull/208, closed since the code is checked-in

[2018-08-23 05:58] #297 closed

[2018-08-23 05:59] andxu commented on #305
The code is ready on master branch

[2018-08-23 05:59] #305 closed

[2018-08-23 06:00] testforstephen commented on #288
@andxu how about completions provider?

[2018-08-24 03:30] testforstephen commented on #375
interesting idea. appreciate it.

[2018-08-24 03:56] testforstephen commented on #375
@patelkunal I'm working on a task https://github.com/Microsoft/vscode-java-debug/issues/350 to improve the experience for multiple main classes selection scenario. i suggest you to have a look at that.

The brief idea is
- Put recently used main class in the top.
- Put main class from active editor in the top. If it's not the most recently used one, then put it to the second top.

And UX is
![imag

[2018-08-24 06:10] Eskibear commented on #375
@testforstephen Cool, it looks like the "active editor" one you are working is exactly targeting to this issue.

And from the image, I think whether we can provide **a shortcut** (e.g. leveraging code lens) to run/debug a mainClass. For me, the "Run" icon looks simple and straightforward indicating the run/debug functionality.

![image](https://user-images.githubusercontent.com/2351748/44567951-3b

[2018-08-24 06:27] patelkunal commented on #375
The experience can be improved up-to some extent with #350 because it still has dropdown selection view. I am suggesting not to have any extra views apart from that annotated main method and all complexities are hidden behind that button/icon and when its clicked just run the particular program (from active editor only) with resolved class path and show output into OUTPUT. I think this gives neat-

[2018-08-24 06:59] sallyur opened #376 "Request type "undefined" is not supported"
##### Environment
- Operating System: Windows and Mac
- JDK version: JDK 8
- Visual Studio Code version: 1.26.1
- Java extension version: 0.29.0
- Java Debugger extension version: 0.11.0
- Build: 297

##### Steps To Reproduce
1. Open file Main.java in folder 21.single-file
2. Press ctrl+F5 to start without debugging
##### Result
Error: Request type "undefined" is not supported. Only "launch" and "

[2018-08-24 07:12] testforstephen commented on #375
Another challenge for running program with shortcut is how to specify program runtime `args`, `cwd`, `vmArgs`, `console`.

It probally is enough for most Java programs to only have main class and classpaths launch configs. But we still need consider the program with stdin, and program args. Currently these configs must be setted in launch.json. If run/debug the program with annotation shortcut, we

[2018-08-27 03:34] testforstephen commented on #350
PR https://github.com/Microsoft/vscode-java-debug/pull/372 merged. Close it.

[2018-08-27 03:34] #350 closed

[2018-08-27 05:05] Eskibear commented on #376
fixed. Could you verify build 299?

[2018-08-27 05:53] adashen commented on #374
![javadebugger_threadswitch](https://user-images.githubusercontent.com/1872137/44642829-8e5d4800-aa00-11e8-94c7-1d687d69410e.gif)

[2018-08-27 05:54] adashen commented on #374
Upload gif to demo. The two break points are in two threads. The break point could not switch between the two threads smoothly.

[2018-08-27 07:38] Eskibear commented on #344
I think we must clarify the scope of the single file support.

For me, I think it only provides convenience when you want to test some simple functions. You want to do some simple jobs, and you don't want to create a complex project, so you create a .java file and want to run it. Whenever you have more than one .java file, you should create a project to organize them, then the single file support

[2018-08-27 08:36] patelkunal commented on #375
I understand that running program is not straight-forward in all the cases. Lets brainstorm for options suitable for taking configs while running program.

Just writing my opinion for handling config cases - please feel free to disagree.
- `cwd` - We should be good enough to default to ${workspaceFolder}, and have an option to override in launch.json if required.
- `vmArgs` - default set to empty

[2018-08-27 08:42] cjbailey commented on #344
I guess it might help if I gave a little background to this.

I'm a SAP PI developer by trade and needed to create a complex mapping that necessitated the creation of a Java class to handle it.  SAP doesn't exactly do a great job of facilitating this process (good old SAP!) and I wanted a quick and easy/dirty way to unit test the functionality so I turned to VS Code (cos I love it for Node.js deve

[2018-08-27 09:57] sallyur commented on #376
Test passed.

Vscode version: 1.26.1
Build: 299

Now the behavior is:

1. Pressing Ctrl+F5 for a single file it start without debugging
2. Pressing Ctrl+F5 for a first-time-opened project, it will generate a launch.json file. Pressing Ctrl+F5 again it start without debugging

[2018-08-27 09:57] #376 closed

[2018-08-27 10:27] testforstephen commented on #375
yeah, this is doable. Have a quick look at Intellij ux, the run/debug green icon will launch the program only with mainClass and classpaths by default. If there is a debug config with the same Main Class name existed, then use it as the launch config for current program.

stdin is not a problem. To support stdin, you just need specify `console` option to `integratedTerminal` or `externalTerminal`,

[2018-08-27 13:51] patelkunal commented on #375
Sounds awesome for accepting feature request. Really appreciate it. I am very much familiar with this feature of Intellij as that's my primary IDE at work.

I would love to get involved into development of this and anything else. Please feel free to bug me.

[2018-08-28 03:26] testforstephen commented on #355
PR https://github.com/Microsoft/vscode-java-debug/pull/368 and https://github.com/Microsoft/java-debug/pull/205 merged. It will be released in 0.12.0. close it.

[2018-08-28 03:26] #355 closed

[2018-08-28 03:29] testforstephen commented on #331
The feature https://github.com/Microsoft/vscode-java-debug/issues/355 covered most of cases about `fail to resolve classpath`. Keep this issue open to track the edge case.

[2018-08-28 07:35] bsaby opened #378 "Still include test classes in classpaths when auto resolve maven project"
@andxu
##### Environment
- Operating System: Windows10
- JDK version: 1.8.0_181
- Visual Studio Code version: 1.26.1
- Java extension version: 0.29.0
- Java Debugger extension version: 0.11.0 (Build#301)

##### Current Result
![image](https://user-images.githubusercontent.com/22470312/44707609-8d4b1a00-aad7-11e8-92d9-cccae13dbfee.png)

##### Expected Result
Should not include test classes in class

[2018-08-28 07:57] bsaby opened #379 "Duplicate error prompt but no Fix option for config errors"
##### Environment
- Operating System: Windows10
- JDK version: 1.8.0_181
- Visual Studio Code version: 1.26.1
- Java extension version: 0.29.0
- Java Debugger extension version: 0.11.0 (Build#301)

##### Steps To Reproduce
1. Open the attached java project: simple-java
2. Switch to debug view and choose configuration `Debug(Launch)-App<simple-java>`
3. Press F5 to start debugging and the ConfigErr

[2018-08-28 23:02] andxu opened #381 "Endgame 0.12.0"
# Build
- [x] 8/29 - Bump version to 0.12.0 @andxu
- [x] 8/29 - Add change log for 0.12.0 - @andxu https://github.com/Microsoft/vscode-java-debug/pull/382/files
- [x] 8/29 - Signed RC Bits @andxu
https://vscjavaci.cloudapp.net/job/vscode-java-debug.vsix-withSign/lastSuccessfulBuild/Azure/

# Test
- [x] 8/29 Verify the changes for 0.12.0 release.
- [x] 8/29 - Run test plan and new features listed b

[2018-08-29 04:31] andxu commented on #381
### Verify new feature: validate mainClass and projectName before launch
1. open quickstart project `simpleapp`, F5 to generate launch.json
2. add `com.ms.samples.App~` as the main Class
3. F5 and the error message pops up
![image](https://user-images.githubusercontent.com/17075863/44765457-503e6080-ab87-11e8-9943-70b25805228e.png)
4. Press esc
5. There debug session never terminates and I need to

[2018-08-29 04:34] andxu commented on #381
### Verify new feature: validate mainClass and projectName before launch
1. open quickstart project `simpleapp`, F5 to generate launch.json
2. add `xx as the project name
![image](https://user-images.githubusercontent.com/17075863/44765531-b1feca80-ab87-11e8-9572-9fccf102aff0.png)
3. **The error should be xx project doesn't exist.**

[2018-08-29 05:01] Eskibear commented on #381
###  Verify bug fix: Should not include test classes in classpaths when auto resolve maven project
1. Open `testprojects/11.maven`, press <kbd>F5</kbd> to generate launch.json, press again to debug.
2. From the tracing log, I find:
    * [As expected] Test scope dependency introduced from pom.xml is not included in classpath. As expected.
    * **[NOT as expected] "\target\test-classes" is still i

[2018-08-29 05:30] Eskibear commented on #381
### Verify new feature: Hover instance variables
1. Oepn `testprojects/4.variable`, comment out Line 20, set breakpoint at Line 20.
2. Press <kbd>F5</kbd> to generate launch.json, press again to debug, hover on variable `i`.
3. The value is as expected.

![image](https://user-images.githubusercontent.com/2351748/44767232-9697bd80-ab8f-11e8-8621-201204762513.png)

[2018-08-29 05:42] testforstephen commented on #381
## Verify new feature: Distinguish user error from system error

1. Open a java project in vscode.
2. Press F5 to trigger java debug.
3. Input some text in DEBUG CONSOLE view when there is no suspended, it reports `Evaluation failed because the thread is not suspended.`, and telemetry marks it as abnormal response, but don't track the exception info. This is the new expected behavior.
4. Input `te

[2018-08-29 05:43] yaohaizh commented on #381
Verify new feature: Start without debugging
1. Open Spring petclinic project and set breakpoint on main
2. F5, the app stop
3. Close it
3. Men Debug ==> Start without debug, the app is running without stop

[2018-08-29 06:03] yaohaizh commented on #381
# Verify new feature: "Learn More"

1. Project with build errors
2. Build failed
3. "Learn More" is showed and jump to links works as expected.

[2018-08-29 07:41] Eskibear commented on #381
## Verify bug fix: Debugger slow when watching variables

1. Open a project from repo https://github.com/andxu/mekhq .
2. F5 to debug.
3. Set a breakpoint at https://github.com/andxu/mekhq/blob/master/MekHQ/src/mekhq/campaign/Campaign.java#L336
4. Add some watch for simple variables.
5. When "Step Over", values of those watched variables update slow in previous version (obviously slower than the l

[2018-08-29 07:58] bsaby commented on #367
I also encountered this issue when debugging java projects on Windows / Mac, but it can't be reproduced stably.
[code]

[2018-08-29 08:43] bsaby opened #387 "Mac: Could not find or load main class on folder with some special characters name"
##### Environment
- Operating System: Mac
- JDK version: 1.8.0_161
- Visual Studio Code version: 1.26.1
- Java extension version: 0.29.0
- Java Debugger extension version: 0.12.0

##### Steps To Reproduce
1. open a java project under a folder which named with special characters, e.g. 8/29
2. Press F5 to generate launch.json file
3. Press F5 to strat debug

##### Current Result
![image](https://use

[2018-08-29 09:21] bsaby opened #388 "Distinguish conditional BP/logpoint user error from system error"
##### Environment
Operating System: Windows/Mac
JDK version: 10/8
Visual Studio Code version: 1.26.1
Java extension version: 0.29.0
Java Debugger extension version: 0.12.0

##### Steps To Reproduce
For Conditional BP or logpoint, set some invalid  expressions

##### Current Result
The telemetry will track this kind of user error.
![image](https://user-images.githubusercontent.com/22470312/44778206

[2018-08-29 09:45] bsaby commented on #381
### Run test plan
Following https://github.com/Microsoft/vscode-java-debug/blob/master/TestPlan.md
1. Configutation

Windows | Mac
-- | --
Vscode   1.26.1   JDK 10 | Vscode1.26.1      JDK 8

2. Open Bug: #387
3. Test result

Test case | Windows | Mac
-- | -- | --
Configurations | Vscode   1.26.1   JDK 10 | Vscode1.26.1      JDK 8
Clean   install | Pass | Pass
Uninstall | Pass | Pass
Update | Pass

[2018-08-29 09:50] bsaby commented on #381
### Verify new features

Open bug: #388

Features | Win10 x64 | Mac
-- | -- | --
Configurations | Vscode   1.26.1   JDK10 | Vscode   1.26.1   JDK8
Validate   mainClass and projectName before launch | Pass | Pass
"Learn   More" link jumps to the corresponding paragraph | Pass | Pass
Put   last used main class on top | Pass | Pass
Hover   instance variables | Pass | Pass
Distinguish   user error fro

[2018-08-29 09:56] bsaby commented on #381
### Run HelloWorld Test on Linux

Open project 1. Helloworld
Press F5 can generate launch.json file, press F5 again, program can hit breakpoint, can watch variables
Press Ctrl + F5, program starts without hitting the breakpoint.
Program can terminates without any error.

[2018-08-29 10:07] #381 closed

[2018-08-29 10:09] #357 closed

[2018-08-29 19:08] PeterLaComb-Availity opened #389 "Feature Proposal: Make vmArgs accept an array"
I would like to propose that vmArgs accept an Array as an alternative to the current String. Keep the string for compatibility reasons, but allow an array because some projects accept a large number of arguments that would be easier to look at if presented as an array.

[2018-08-30 02:55] andxu opened #390 "[Logpoint]Should not pop up error window many times in a loop"
![image](https://user-images.githubusercontent.com/17075863/44826800-03b85b00-ac43-11e8-8228-591e9d9fd48f.png)

[2018-08-30 05:26] andxu commented on #307
@JustAnotherSoftwareDeveloper I have tested multiple module project on version 0.12.0 https://github.com/andxu/springboot-multiple-module-sample, our extension is able to evaluate classes in all modules in launch mode, in attach mode like 'mvn install && mvnDebug spring-boot:run',
the following launch.json should work for evaluation(I have provided the port and the projectName):
[code]

[2018-08-30 05:29] andxu commented on #85
We should consider this in recent release.

[2018-08-30 08:30] testforstephen opened #391 "development documentation about how to contribute"
The documentation should cover the topics below. It will help other developers to contribute code to the extension.
-  how to set up environment.
- requirements.
- code convention/code styles
- how to debug the extension itself
- basic concepts

[2018-08-30 08:48] testforstephen opened #392 "0.13.0 plan"
Legend of annotations:

Mark | Description
-- | --
🏃 | work in progress
✋ | blocked task
💪 | stretch goal for this iteration
🔴 | missing issue reference
🔵 | more investigation required to remove uncertainty
⚫️ | under discussion within the team

@testforstephen
- [x] Use code lens to run java program in much simpler way #375
- [x] Update Active Editor oct icon to file instead of clock. https://git

[2018-08-30 09:03] Eskibear commented on #120
Any updates?  Here is a scenario that by specifying prelaunchtask to execute "mvnDebug" in the "attach" config, I want to debug in one-click. But prelaunchTask seems not to work with background command, as mentioned in https://github.com/Microsoft/vscode-maven/issues/49#issuecomment-417039278

And any ideas about the use case for mvnDebug users?

[2018-08-31 03:28] adashen opened #393 "env config in launch debug mode is not respected."
env config in launch debug mode is not respected.

##### Environment
- Operating System: windows 10
- JDK version: 1.8
- Visual Studio Code version: 1.26.1
- Java extension version: 0.29.0
- Java Debugger extension version: 0.12.0

##### Steps To Reproduce
1. Add a launch config in launch.json and env block
"env" : {
  "EdgeHubConnectionString": "aaa",
   "EdgeModuleCACertificateFile": "bbbb"
}

2

[2018-08-31 05:14] testforstephen commented on #375
The annotation ux for VSCode is `codeLens`.  See what JUnit extension did.
![image](https://user-images.githubusercontent.com/14052197/44893569-4f8c0280-ad1e-11e8-8654-cf40fde6e773.png)

Not sure whether we can add an icon ▷ in the VSCode gutter area as what Intellij did.
![image](https://user-images.githubusercontent.com/2351748/44567951-3b3c8880-a7a7-11e8-8dff-51304379b068.png)

@aeschli Is this

[2018-08-31 08:10] adashen commented on #393
Thx for the quick turn around! fixed in 0.12.1

[2018-09-02 05:09] Eskibear commented on #393
A hotfix has been released for this.

[2018-09-02 05:09] #393 closed

[2018-09-02 05:38] Derivative20 opened #398 "Not allowing {fileBasenameNoExtension} to be used in main class launch configuration"
When configuring the property, main class in the launch.json file, the extension prevents the predefined ${fileBasenameNoExtension} from being used. The extension keeps saying that it is not a valid class name.  This issue was not present a week prior but now is.
##### Environment
- Operating System: Mac OS Current Version
- JDK version: Current
- Visual Studio Code version: Current
- Java extensi

[2018-09-02 23:16] andxu commented on #398
Duplicate as https://github.com/Microsoft/vscode-java-debug/issues/85

[2018-09-03 01:51] bobjiang1988 opened #399 "Debugger for Java suddenly can't run"
[I have asked here](https://github.com/Microsoft/vscode/issues/57764#issue-356249221)
##### Environment
- Operating System: Ubuntu 18.04
- JDK version: 1.8
- Visual Studio Code version: 1.26.1

[2018-09-03 02:56] andxu commented on #399
Can you put your pom.xml and the launch.json here?

[2018-09-03 05:17] bobjiang1988 commented on #399
@andxu [Click me to get the demo project.](https://github.com/bobjiang1988/java-debugger)

[2018-09-03 05:41] andxu commented on #399
Your problem is lacking of snake yaml dependency, please add the following dependency
	<dependency>
			<groupId>org.yaml</groupId>
			<artifactId>snakeyaml</artifactId>
			<version>1.16</version>
		</dependency>
The java -jar target/demo-0.0.1-SNAPSHOT.jar is another way of launching different with our ways(we use target/classes as the class path rather than the demo-0.0.1-SNAPSHOT.jar, you can de

[2018-09-03 06:50] bobjiang1988 commented on #399
@andxu It's ok now. Thanks!
But I really don't know why it runs well in tomcat?

[2018-09-03 06:50] #399 closed

[2018-09-03 10:32] andxu commented on #399
tomcat has the reference to snakeyaml

[2018-09-04 03:27] testforstephen commented on #366
The Java debugger will use the API `System.getProperty("java.home")` to resolve java bin path, and use it to launch the debuggee. For windows, the value of `System.getProperty("java.home")`  is read from the registry `HKEY_LOCAL_MACHINE\SOFTWARE\JavaSoft`, and it's generally pointing to the JRE.  This is the reason why the debuggee is launched in JRE instead of JDK.

To fix the issue, we need read

[2018-09-04 03:37] testforstephen commented on #335
Most of evaluation errors is compilation error or user error. We have a PR https://github.com/Microsoft/java-debug/pull/208 to improve the error message. And distinguish the user error and system error. For user error, we don't track the error logs.

[2018-09-04 04:17] #335 closed

[2018-09-05 02:15] #388 closed

[2018-09-05 06:26] testforstephen commented on #391
A good reference about the contributing page.
https://help.github.com/articles/setting-guidelines-for-repository-contributors/

[2018-09-05 16:02] hasanmansor opened #401 "VS code failed to launch java debugger"
I am trying to run a Spring boot application in the VS Code, but the debugger fails to launch by displaying the error shown in the image:

![error](https://user-images.githubusercontent.com/22391260/45105868-91a9af80-b135-11e8-896b-dca53cbcf2a0.JPG)

I already have tried to debug the sample application which works fine.
Any help would be appreciated!

[2018-09-05 18:10] kdvolder opened #402 "Redhat.java update to version 0.30.0 broke launching/debugging of Spring boot-apps"
An simple boot app, which was running just fine before suddenly stopped launching properly right after the `redhat.java` extension was updated to version 0.30.0.

The error looks to me like there's something wrong (missing) from the app's runtime classpath. This cause the app to not properly boot up.

##### Environment
- Operating System: Linux
- JDK version: "1.8.0_181"
- Visual Studio Code versi

[2018-09-05 18:38] fbricon commented on #402
most likely this is caused by [runtime dependencies now being flagged to be seen by the test dependencies only](https://bugs.eclipse.org/bugs/show_bug.cgi?id=414645). The debugger should ensure runtime dependencies are added to the classpath

[2018-09-05 22:48] kdvolder commented on #402
Removing test scope classpath actually sounds like the right thing to do. Having test dependencies on the runtime classpath can also break apps (especially in spring boot where autoconfiguration can easily pick up on the presence of certain things on the classpath and autmatically configure them for use in the app.

However, I suspect that maybe the classpath that vscode-java-debug is using is act

[2018-09-05 23:54] andxu commented on #402
@kdvolder seems we has missed some run-time scope class-entries, thank you very much for noticing us:

 maven.pomderived=true
 test=true
 maven.groupId=org.yaml
 maven.artifactId=snakeyaml
 maven.version=1.19
 maven.scope=runtime

![image](https://user-images.githubusercontent.com/17075863/45127245-fd2d6480-b1a9-11e8-958e-04109ef93983.png)

[2018-09-05 23:57] andxu commented on #399
@bobjiang1988 , it is a bug caused by my change, see https://github.com/Microsoft/vscode-java-debug/issues/402, you would not need to add it  in next release

[2018-09-06 00:06] andxu commented on #402
@fbricon not sure whether the following logic is right, the isOnlyVisibleByTests will mark runtime scopes test, is it expected?
https://git.eclipse.org/c/m2e/m2e-core.git/tree/org.eclipse.m2e.jdt/src/org/eclipse/m2e/jdt/internal/DefaultClasspathManagerDelegate.java#n166
[code]
[code]

[2018-09-06 00:40] fbricon commented on #402
@andxu yes, runtime dependencies are seen by the test code, in Maven. Hence the test flag

[2018-09-06 01:26] andxu commented on #402
@fbricon, could you please take a look at my code fix?

[2018-09-06 01:45] testforstephen opened #403 "Update the oct icon for active editor to file"
Currently we show a clock icon for active editor,
![image](https://user-images.githubusercontent.com/14052197/45129978-3e794080-b1b9-11e8-8fea-08113e0df8b6.png)

It should be file icon
![image](https://user-images.githubusercontent.com/14052197/45130030-7f715500-b1b9-11e8-841d-e014415faccf.png)

[2018-09-06 02:01] andxu commented on #402
https://github.com/Microsoft/java-debug/pull/219

[2018-09-06 03:29] dungang opened #408 "Debugger ignores spring boot application.yml"
coded from https://code.visualstudio.com/docs/java/java-spring-boot
I added the file
'src/main/resources/application.yml'
with the following :
[code]
I run the debugger with the following Launch configuration:
[code]
The debugger runs with the default port 8080 and ignores the application.yml file

[2018-09-06 04:49] bobjiang1988 commented on #408
Maybe you can find a solution here #402 .

[2018-09-06 04:55] andxu commented on #408
version 0.12.2 will solve your problem, see https://marketplace.visualstudio.com/items/vscjava.vscode-java-debug/changelog,
btw: your yaml is illegal:
port: 8888

[2018-09-06 04:55] andxu commented on #402
Close the issue since hotfix is released

[2018-09-06 04:55] #402 closed

[2018-09-06 05:32] andxu commented on #378
https://github.com/Microsoft/java-debug/pull/219

[2018-09-06 05:32] #378 closed

[2018-09-06 05:36] andxu commented on #401
Can you switch console from "internalConsole" to "externalTerminal" and show us the command line args in terminal view?

[2018-09-06 09:10] testforstephen commented on #401
Navigate through `View` -> `Terminal`, the command line launch args should be showed there.
![image](https://user-images.githubusercontent.com/14052197/45147517-ac445d00-b1f7-11e8-8922-d57c53c28932.png)

[2018-09-06 10:02] testforstephen commented on #401
Is it empty? Can you share the whole terminal view?

[2018-09-06 10:13] hasanmansor commented on #401
Here is it, but I didn't use the terminal to debug the application so, it would be empty

![error3](https://user-images.githubusercontent.com/22391260/45151174-e3057d80-b1cd-11e8-8099-fa83633da79b.JPG)

[2018-09-06 10:59] wpfeiffe opened #411 "Buttons disabled"
Issue Type: <b>Bug</b>

Write a small Hello World java app with several lines.  Set a breakpoint on first line.  Start debugging.  After the first break point is hit, press step over button in Debug Toolbar.  At this point the Step Over, Step Into, Step Out Of buttons are all incorrectly disabled and the Play button changed to a Pause.  You can press the Pause to re-enable other buttons.

This beh

[2018-09-06 11:04] hasanmansor commented on #401
Sorry the wrong console was selected in the dropdown: here is the correct one

![error4](https://user-images.githubusercontent.com/22391260/45153445-4beff400-b1d4-11e8-8dc3-0d37bd713f83.JPG)

and now I have a new issue as well:

![error5](https://user-images.githubusercontent.com/22391260/45153712-421ac080-b1d5-11e8-8b04-132f68ea67e5.JPG)

[2018-09-06 11:29] testforstephen commented on #401
I saw 4K+ build issues in PROBLEMS view, you need have a look at that.

[2018-09-06 11:54] testforstephen commented on #411
i just tried in latest VSCode, the debug toolbar is correctly displayed. Anyway my platform is win 10. Let me try Mac later.

[2018-09-06 12:46] wpfeiffe commented on #411
Let me try a new simple HelloWorld app and make sure I can reproduce it.

On Thu, Sep 6, 2018 at 7:54 AM Jinbo Wang <notifications@github.com> wrote:

[2018-09-06 13:59] wpfeiffe commented on #411
Tried the same HelloWorld project on my Windows 10 and my Macbook.  Window
10 version works as expected, MacOS version shows the same problematic
behavior described in my bug report.  Must be a MacOS thing.

On Thu, Sep 6, 2018 at 7:54 AM Jinbo Wang <notifications@github.com> wrote:

[2018-09-07 02:37] patelkunal commented on #375
Approach sounds good.

While you are doing this, can't it be possible to introduce a keyboard shortcut as well to launch program (either run or debug) as you mention above? Basically launch program (run/debug) from active editor when shortcut key is pressed. Currently F5 does the job by listing all possible programs to launch (Its also very good to see that list LRU manner and active-editor gets p

[2018-09-07 06:11] testforstephen commented on #375
Quickly run the program through shortcut key is another story, suggest putting it in a new issue and discuss there. Because the shortcut key can be pressed at any time, the context is lost.  The active editor could be a non Java file, or a Java file without main method.

[2018-09-07 07:50] andxu commented on #295
https://github.com/Microsoft/vscode/issues/58162

[2018-09-07 08:07] andxu opened #412 "UI for configuring step filters as workspace settings"
Eclipse has provided a special page for step filter configuration, vscode java debugger only provides a json configuration in launch.json, the values are not easy to edit(even for sophisticated java developers)
![image](https://user-images.githubusercontent.com/17075863/45206632-11f81e00-b2b8-11e8-8e68-525ff9c4af18.png)

![image](https://user-images.githubusercontent.com/17075863/45206640-191f2c00

[2018-09-07 08:08] #408 closed

[2018-09-07 08:11] andxu commented on #401
@hasanmansor Click learn more to have some tries according to the FAQ.

[2018-09-07 08:19] andxu commented on #370
https://github.com/Microsoft/java-debug/pull/223/files

[2018-09-07 08:53] #370 closed

[2018-09-08 07:46] andxu commented on #411
@dancecoder Could you please provide the errors in problem view?

[2018-09-08 11:39] dancecoder commented on #411
Unfortunately Developer console has no errors.
My steps for reproduce:
1. create a simple project with pom.xml
2. create a class and test class with a test method (I use JUnit).
3. build the project with maven
4. togle a break point in the test class or the project class
5. Click the debug test gray label above the test method
6. click Step Over on debug-actions-widget (once or few times)
   got:

[2018-09-08 11:57] dancecoder commented on #411
I've changed java.debug.level to info and got the next error in DeveloperConsole
  ERR Cannot read property 'lineNumber' of null: TypeError: Cannot read property 'lineNumber' of null
	at Object.e.to (/usr/share/code/resources/app/out/vs/workbench/node/extensionHostProcess.js:692:25)
	at e.provideHover (/usr/share/code/resources/app/out/vs/workbench/node/extensionHostProcess.js:749:117)
	at /usr/sh

[2018-09-09 05:09] andxu commented on #390
https://github.com/Microsoft/java-debug/pull/224

[2018-09-09 16:33] Fubuchi commented on #411
On windows 10 version 1803 build 17134.228, the bug is not always occur, some time it does, some time it doesn't. Downgrade vscode to 1.26.0 temporary fix the problem.

[2018-09-09 19:26] clankill3r opened #413 "Cannot run from src/test anymore"
(maven project)
Since today I noticed when I try to start debugging something from the `src/test` folder I get:

`Error: Could not find or load main class com.github.whatever.Whatever`

When I move the file to the `src/main` folder it works. Before this was not the case.

It broke from one day to the other, so I guess VSCode or one of the plugins broke.
I have no clue how to tackle this problem. A

[2018-09-10 00:48] andxu commented on #389
The PR is attached, to test it, add the following properties to launch.json of test case ArgsTest(in TestPlan.md)
[code]
Add the following statement to get the properties:
[code]
the variables should be like this:
![image](https://user-images.githubusercontent.com/17075863/45271039-3893a000-b4d6-11e8-8bef-d97b13005148.png)

[2018-09-10 04:58] #389 closed

[2018-09-10 04:58] #390 closed

[2018-09-10 04:59] testforstephen opened #415 "Support Socket Listen when debugging Remote Java Application"
The original request is from @krisrice.

Currently Java debugger supports Socket Attach by default when debugging remote Java application, the new feature request is to support Socket Listen for remote debugging.

[2018-09-10 06:58] andxu commented on #398
How to Test:
set the following configuration as launch.json:

[code]

[2018-09-10 10:47] lashchev commented on #413
Same thing here (same VSCode, Java Tools and Java Debugger versions, but under Windows) - cannot debug unit tests anymore. I cannot move all unit tests to other folder - build and other tools rely on standard maven project structure.

1. Debug session starts, but after few (2-5) steps (F10) it hangs. Pressing Shift+F5 stops debug session.
2. Cannot add some local variables and method parameters to

[2018-09-10 10:51] andxu commented on #413
Unit test by click Debug Test code lens should not be influenced, please go to the   https://github.com/Microsoft/vscode-java-test/issues to raise an issue if you can not  run unit test, but if you want to run the main method at test classes, it should not work by now due to my change.

[2018-09-10 13:40] krisrice commented on #415
In eclipse, there are 2 options Socket Attach and Socket Listen. Right now vscode-java-debug only support the Attach option.

[2018-09-11 00:04] andxu opened #418 "Populate mainClass only from source folders"
List main class from third-party jars is time-consuming and not very useful, consider to remove the logic like
[code]

[2018-09-11 14:13] aleeraser commented on #411
I can confirm the same issue on mac.

[2018-09-12 02:35] #398 closed

[2018-09-12 02:48] andxu opened #420 "Failed to resolve classpath: Main class 'Single' isn't unique in the workspace, please pass in specified projectname."
Repro steps:
1. open a normal console application like 'simpleapp'
2. Open a single java file named `Single.java`  with main class
3. F5 to generate launch.json
4. F5 again, in the main class select Single,
5. the error dialog shows:
![image](https://user-images.githubusercontent.com/17075863/45399087-68c77400-b679-11e8-90fe-4be8754d06e7.png)

[2018-09-12 02:49] #85 closed

[2018-09-12 02:51] andxu commented on #387
By design since colon is not proper as a path

[2018-09-12 09:06] bsaby opened #421 "Sometimes mainClass cannot accept variables immediately"
@andxu
##### Environment
- Operating System: Win/Mac
- JDK version: 1.8
- Visual Studio Code version: 1.27.1
- Java extension version: 0.30.0
- Java Debugger extension version: CI build#316

##### Steps To Reproduce
1. Open 1.helloworld project
2. Press F5 to generate a launch.json
3. Change main class to a variable: e.g. ${workspaceFolderBaseName}
4. Press F5

##### Current Result
In a few cases,

[2018-09-12 09:21] sallyur opened #422 "Cannot read property 'uri' of undefined"
##### Environment
- Operating System: Windows and Mac
- JDK version: 1.8.0_181
- Visual Studio Code version: 1.27.1
- Java extension version: 0.30.0
- Java Debugger extension version: 0.12.2
- Build: 316

##### Steps To Reproduce
1. Open file Main.java in folder 21.single-file
2. Use code lens to run or debug the program

##### Current Result
Error in toggle developer tools:
![image](https://user-

[2018-09-12 09:40] joshryanne commented on #413
glad to know there wasn't wrong with my dev pc :) tried everything(uninstalling vs code, using insider edition, uninstalling plugins etc.  manual classpath) but coudn't fix it.  eventually went to eclipse temporarily :).   so i'm happy to know what was the cause. :)

[2018-09-12 11:54] clankill3r commented on #413
No I hope it get's fixed fast :)

[2018-09-12 13:55] testforstephen commented on #422
this error is thrown by `resolveVariables` function, @andxu please have a look.
@sallyur could you share the launch.json config?

[2018-09-12 13:58] joshryanne commented on #413
i rolled back mine to 0.11.0 till it is solved :)

[2018-09-13 00:20] andxu opened #423 "Single file doesn't compile will not show any problems, and cannot debug"
![image](https://user-images.githubusercontent.com/17075863/45460027-d03efb80-b72d-11e8-9a89-d24fd1e5adaa.png)

[2018-09-13 00:26] andxu opened #424 "Cannot get rid of a single file ever opened"
steps to repro:
1. Create a Single.java with a piece of code like
[code]
2. Open `1.helloworld` project in vscode
3. Open the `Single.java` and F5 and then close the `Single.java`
4. F5, the Single.java is still here
![image](https://user-images.githubusercontent.com/17075863/45460194-91f60c00-b72e-11e8-88f4-7913cb76419c.png)
5. Open the Single.java again and Change `throws Exception` to `throws I

[2018-09-13 01:30] #325 closed

[2018-09-13 01:41] sallyur commented on #422
Open file Main.java and click on the code lens to debug or run the project, it doesn't generate launch.json file only reports error.

[2018-09-13 02:12] #422 closed

[2018-09-13 02:37] andxu commented on #421
by design , there is a typo in your example, the correct one is : workspaceFolderBasename,

[2018-09-13 02:37] #421 closed

[2018-09-13 08:44] testforstephen commented on #403
Additional issues about the prompt wizard:
1. If the active editor Java file contains multiple main class, the current prompt wizard only display the first found main class with active editor flag. This is a bug, it should show all main classes from it with active editor flag.
2. If the first option is the most recently one, and also in active editor, then the prompt wizard should also contain act

[2018-09-13 10:52] testforstephen opened #427 "The enclosing main class reports Main Class 'Main$Main1' doesn't exist in the workspace"
If the main class is located in the enclosing class of a Java file,
![image](https://user-images.githubusercontent.com/14052197/45484269-293a7e00-b786-11e8-941b-703e1aba5cf6.png)

launching debugger will throw error `Failed to resolve classpath 'Main$Main1' doesn't exist in the workspace`. Actually the class exists.
![image](https://user-images.githubusercontent.com/14052197/45484219-07d99200-b786

[2018-09-13 13:41] IzakMarais commented on #302
After switching to a new computer, and working in a different repository for a couple of months, this behaviour appeared today. So it seems very intermittent and difficult to reproduce.

[2018-09-13 20:50] Sindisil commented on #411
I'm seeing the same issue on Windows 10, with both Java 8 and 10, and VSC 1.27.2 and 1.28.0-insider. Debugger for Java 0.12.2, Java lang support 0.30.0.

[2018-09-13 22:14] alex-cornejo commented on #411
I get the same error on Ubuntu 18. vscode 1.26 is working fine, you should get back to this version until this bugg get fixed.

[2018-09-13 23:33] joshryanne commented on #411
was able to duplicate on my machine:
windows 10.
vscode 1.27
debugger 0.12.0

problem went away when i reverted to vscode 1.26.1 as suggested.

[2018-09-14 01:56] andxu commented on #295
Will impl like this(available in 0.14.0)
https://cloud.githubusercontent.com/assets/1898161/24697055/0e1622fc-19ec-11e7-8919-d1bc1181b517.gif

[2018-09-14 01:59] andxu commented on #307
@JustAnotherSoftwareDeveloper  Can you verify if multiple module project works on your machine?

[2018-09-14 02:00] andxu commented on #424
Similar issue : https://github.com/Microsoft/vscode-java-debug/issues/265

[2018-09-14 02:15] JustAnotherSoftwareDeveloper commented on #307
I can attempt at work tomorrow. Apologies, its been hectic lately.

On Thu, Sep 13, 2018, 7:59 PM Andy Xu(devdiv) <notifications@github.com>
wrote:

[2018-09-14 12:56] lashchev commented on #413
@andxu It fails for me from both places - from Test runner and Code Lens. Actually I rarely use Test Runner to start tests, because when I develop a method/test I run/debug tests that I am working on of fixing. I use Test Runner is for big/sweep runs.

[2018-09-14 21:39] adrianmoya commented on #411
I just hit this annoying issue.
Ubuntu 18.04
VSCode 1.27.2
Debugger 0.12.2

Start a debuggin session, buttons get disabled after 1st breakpoint, the only way to continue is pausing the debuggin session and restarting to the next breakpoint

[2018-09-14 22:39] andxu commented on #413
@lasalame I will work on this items after the release 0.13.0, can you help to give me a sample project which doesn't work for both places(attach the project folder here in this issue)?

[2018-09-18 04:33] #366 closed

[2018-09-18 04:39] testforstephen opened #431 "Introduce shortcut to launch program from active editor"
Open a new issue to track the additional discussion for the previous issue https://github.com/Microsoft/vscode-java-debug/issues/375.

At issue #375, it has provided codeLens to run/debug the program more conveniently. The discussion is to provide a single keyboard shortcut to launch program from active editor.

[2018-09-18 04:45] testforstephen commented on #375
Move the discussion about providing shortcut to launch program to the new issue #431.

[2018-09-18 04:45] #375 closed

[2018-09-19 01:24] andxu opened #433 "Endgame 0.13.0"
# Build
- [x] 9/19 - Bump version to 0.13.0 @andxu https://github.com/Microsoft/java-debug/pull/226, https://github.com/Microsoft/vscode-java-debug/pull/434
- [x] 9/19 - Add change log for 0.13.0 - @andxu https://github.com/Microsoft/vscode-java-debug/pull/435
- [x] 9/19 - Signed RC Bits @andxu
https://vscjavaci.cloudapp.net/job/vscode-java-debug/job/vscode-java-debug.vsix-withSign/

# Test
- [x]

[2018-09-19 08:48] testforstephen commented on #433
# Verify 0.13.0 on Mac

1. Open a spring-boot project/5.breakpoint/3.thread, start debugging, the step/continue/restartStackFrame feature works as normal. Except that debug buttons still has issues when switching multiple threads. Keep the issue https://github.com/Microsoft/vscode-java-debug/issues/411 open to track the multiple threads scenario. **[Partial PASS]**
2. Open a Java program, and add

[2018-09-19 08:58] Eskibear commented on #433
## Verification on Windows

···
Version: 1.27.2 (user setup)
Commit: f46c4c469d6e6d8c46f268d1553c5dc4b475840f
Date: 2018-09-12T16:17:45.060Z
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64
···

1. Start with an empty springboot project in VSCode. Add a loop with logpoints set.
[code]
2. Debug the project, from the verbose log, no duplicated classpath entries.

[2018-09-19 09:48] sallyur opened #437 "Code lens debug java 9 test case: "ConfigError: 'com.microsoft.app.mymodule/com.microsoft.app.App' is not a valid class name.""
##### Environment
- Operating System: Windows
- JDK version: 10
- Visual Studio Code version: 1.27.2
- Java extension version: 0.31.0
- Java Debugger extension version: 0.13.0
- Build: 61

##### Steps To Reproduce
1. Open the project 19. java9 - app
2. Open App.java
3. Use code lens to debug or run the project

##### Result: report error
![image](https://user-images.githubusercontent.com/28860891/

[2018-09-19 10:03] testforstephen commented on #437
Currently we use the regular expression `([$\\w]+\\.)*[$\\w]+` to validate the class name, it doesn't cover Java 9 case. This is a bug.

[2018-09-19 10:06] sallyur commented on #433
### Run test plan:
Following https://github.com/Microsoft/vscode-java-debug/blob/master/TestPlan.md

**1. Configuration**

Windows | Mac
-- | --
Vscode 1.27.2 JDK 10 | Vscode1.27.2 JDK 8

**2. Open bug**: #437

**3.Test result:**

Test   case | Windows | Mac
-- | -- | --
Configurations | Vscode 1.27.2 JDK 10 | Vscode1.27.2 JDK 8
Clean   install | Pass | Pass
Uninstall | Pass | Pass
Update | Pass |

[2018-09-19 10:12] testforstephen commented on #369
@andxu Look likes this issue can be stably reproduced, please have a look.

[2018-09-19 10:12] sallyur commented on #433
### Verify new features:

Features | Win10   x64 | Mac
-- | -- | --
Configurations | Vscode 1.27.2 JDK 10 | Vscode1.27.2 JDK 8
Use code   lens to run java program in much simpler way | Pass | Pass
Make   vmArgs accept an array | Pass | Pass
mainClass   Should Accept varaiable | Pass | Pass
Put last   used main class on top | Pass | Pass

[2018-09-19 10:39] testforstephen commented on #411
Through the discussion with VS Code team, the StoppedEvent should be sent after StepResponse or ContinueResponse. So we submit a fix to fix the StoppedEvent order. This fix works well for single thread scenario. But for multiple threads scenario, the debug buttons disabled issue is still probably existing.  We're communicating back to VS Code team about the new scenario.

The new release 0.13.0 wi

[2018-09-19 13:26] testforstephen commented on #375
@patelkunal this feature is included in 0.13.0, welcome to have a try.

[2018-09-19 14:38] fbricon opened #438 "Code lenses for Run/Debug links on main methods don't show up immediately"
Code lenses for Run/Debug links on main methods don't show up immediately

##### Environment
- Operating System: macOS 10.13
- JDK version: 1.8
- Visual Studio Code version: 1.27.2
- Java extension version: 0.31.0
- Java Debugger extension version: 0.13.0

##### Steps To Reproduce
1. Create a simple java class
2. Copy and paste this main method into the class
[code]
3. Run/Debug code lenses don't

[2018-09-19 19:46] wpfeiffe commented on #411
Just tried it with simple Hello World java debug and with Spring Boot java
remote debug.  Both work fine.   Debug toolbar buttons stay enabled
throughout the session.

Thanks

On Wed, Sep 19, 2018 at 6:39 AM Jinbo Wang <notifications@github.com> wrote:

[2018-09-20 01:13] Eskibear commented on #438
Same behavior for the "main" snippet, it takes about 6 seconds to show up if you don't save or type any character.

[2018-09-20 01:18] #433 closed

[2018-09-20 01:32] testforstephen commented on #411
@wpfeiffe Thanks for the verification.

[2018-09-20 01:39] andxu opened #439 "Special charactor for vmArgs and args(quotes and slash)"
eg: "args":  ["a b", "\""]

![image](https://user-images.githubusercontent.com/17075863/45790779-13164b80-bcb9-11e8-83fb-8f61b91b073d.png)

[2018-09-20 01:40] andxu opened #440 "The startup command for internalConsole is different from integratedTerminal"
terminal:
[code]
console:
[code]

[2018-09-20 01:50] #392 closed

[2018-09-20 01:51] andxu opened #441 "0.14.0 plan"
Legend of annotations:

Mark | Description
-- | --
🏃 | work in progress
✋ | blocked task
💪 | stretch goal for this iteration
🔴 | missing issue reference
🔵 | more investigation required to remove uncertainty
⚫️ | under discussion within the team

@testforstephen
- [x]  Code lenses for Run/Debug links on main methods don't show up immediately #438
- [x] It throws "ConfigError: 'com.microsoft.app.mym

[2018-09-20 01:55] andxu commented on #313
There are multiple choices:
1.  Use codelen to run
1.  Use F5, and the active file will on the top of the list.

[2018-09-20 01:55] #313 closed

[2018-09-20 01:59] andxu commented on #275
There are multiple choices:

Use codelen to run
Use F5, and the active file will on the top of the list.

[2018-09-20 01:59] #275 closed

[2018-09-20 02:04] gerardov1 opened #442 "Debug Bar greys out after a few steps"
Issue Type: <b>Bug</b>

Open a java project (yeah, debugging on single files still doesnt work or is supported)
Set a breakpoint
Start Debug
Step In to the next line, - after a few steps the debug bar will grey out all means to step in to the code and will keep just stop and restart available. All else is still responsive, it just simple stops allowing you to step in the code

Extension version: 0

[2018-09-20 02:36] andxu commented on #418
https://github.com/Microsoft/java-debug/pull/228

[2018-09-20 03:31] Eskibear opened #443 "Running spring-boot process is not killed after I close VS Code."
When I start a spring-boot project without debugging, and close the VS Code as soon as the debug session is launched, the process will not be killed and will become an orphan.

##### Environment
- Operating System: Windows 10 Ent. x64
- JDK version:1.8.0_181 x64
- Visual Studio Code version: 1.27.2
- Java extension version: 0.31.0
- Java Debugger extension version: 0.13.0

##### Steps To Reproduce

[2018-09-20 05:03] Eskibear commented on #391
For setting up Eclipse environment for the debug, I think it's much more clear to record a video.

[2018-09-20 06:57] testforstephen commented on #442
@gerardov1 Can you attach a sample project to help us to investigate?

[2018-09-20 07:14] vanmxpx opened #444 "hover instance in debug mode don't show popup with details"
I have a problem since updated java debugger update. Whenever i tried to see what i have in variable when i debug an application the popup with its details don't shows.

Same issue was some time ago https://github.com/Microsoft/vscode-java-debug/issues/297

##### Environment
- Operating System: Windows 10
- JDK version: 1.8.0.152
- Visual Studio Code version: Vs Code 1.27.2 or VS Code Insiders 1.2

[2018-09-20 09:06] andxu commented on #444
Thank you to provide the snapshot, I will look at this issue.

[2018-09-20 09:07] vanmxpx commented on #444
@andxu thank you for you time

[2018-09-20 09:11] testforstephen commented on #438
When the user is editing the textDocument, there are two events happening in the Language Server Protocol level.
- vscode will call `provideCodeLenses` interface registered by java-debug to update CodeLens.
- vscode will send `document/didChange` to jdt.ls about the changed text.

The implementation of these two handlers both will operate the CompilationUnit object of the current file.  java-debug

[2018-09-21 04:40] ZijunH commented on #375
Hello. I appreciate this feature, but is there a way to disable it in the settings?

[2018-09-21 06:30] testforstephen commented on #375
No setting to disable it yet, but we can consider adding an option to control it.

[2018-09-21 22:57] gerardov1 commented on #442
The project is attached. Very simple project. I used the Mave plugin to create a quick archetype project and the code is just test code. I am using as required by the plugins the red hat java sdk.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Jinbo Wang <notifications@github.com>
Sent: Wednesday, September 19, 2018 11:57:25 P

[2018-09-24 09:02] vanmxpx commented on #444
@andxu  Some updates
Popup start showing, if i just step out of variable
![image](https://user-images.githubusercontent.com/16278721/45944053-622dea80-bff1-11e8-9039-43d4a173bf5c.png)

But even i go to the next lines, again no popup
![image](https://user-images.githubusercontent.com/16278721/45944122-b1741b00-bff1-11e8-8f6e-79d2754c7d6f.png)

[2018-09-24 18:15] thiagoalvescosta opened #445 "CreateProcess error=206, The filename or extension is too long ..."
My maven java project has many libraries and it generates a huge line command. How can i solve it? Is there any options to use classpath @argsFile or classpath file ?

##### Environment
- Operating System: Windows 10
- JDK version: Java 10
- Visual Studio Code version: latest
- Java extension version: latest
- Java Debugger extension version: latest

##### Steps To Reproduce
1. Create a project wi

[2018-09-24 23:59] andxu commented on #445
Dup as https://github.com/Microsoft/vscode-java-debug/issues/110

[2018-09-25 05:10] testforstephen commented on #445
@thiagoalvescosta Did you run the project on cmd? cmd has limitation of 8192 characters on the command line. You can change your terminal to powershell, which doesn't have the limitation.

[2018-09-25 05:31] testforstephen commented on #411
VS Code team has pushed a fix for the multiple threads scenario, it's in the 2018-09-20 insider. And i verified it works. Close this issue first. If you guys find the issue is still not resolved, welcome to reopen it.

[2018-09-25 05:31] #411 closed

[2018-09-25 21:58] jamestharpe commented on #110
What information is needed? I am having the issue and can provide additional information, but there's no clear request in this ticket's history.

[2018-09-26 08:46] andxu commented on #413
https://github.com/Microsoft/java-debug/pull/232

[2018-09-26 12:05] andxu commented on #444
@vanmxpx I can not  reproduce your problem, please open vscode settings and set java trace level and  java debug loglevel to verbose:
![image](https://user-images.githubusercontent.com/17075863/46078585-2d738c00-c1c7-11e8-9c92-8670dbb70df5.png)
![image](https://user-images.githubusercontent.com/17075863/46078615-48460080-c1c7-11e8-9a48-6b6c11b30c62.png)
and find the log by "Open java language serv

[2018-09-26 13:11] vanmxpx commented on #444
Somehow it worked now properly
Probably, i found the solution

There is `node_modules` folder with a lot of files in my projects' source folder. (In gradle build i exclude it)
Also i noticed, what after couple of refreshes Java Server stops working properly

So i moved `node_modules` suggested, what Java Server trying to watch all this files.

But maybe it's just fixed with another update :)

[2018-09-26 13:15] thiagoalvescosta commented on #445
Open vscode from powershell and then start debug ?

[2018-09-26 23:30] andxu commented on #444
If you now work properly after removing node_modules,  I will close this issue.

[2018-09-27 01:13] testforstephen commented on #445
Would you mind share us your project? i try to reproduce it in my machine, but no luck.

[2018-09-27 02:45] bsaby commented on #369
Configurations:
[code]

Steps:

1. Open project simple-java in vscode, write the following code:
[code]

2. Set the conditional breakpoint on line 13 with condition i ==1000, F5 and wait the breakpoint to be hit

Result:
![image](https://user-images.githubusercontent.com/22470312/46120466-613fc780-c242-11e8-8780-bef907770e1c.png)

Log file:
[log.txt](https://github.com/Microsoft/vscode-java-debug/

[2018-09-27 05:35] gerardov1 commented on #442
Hi Stephen, sorry, seems the attachments did not go through as I answered via email. I tried the project again today and funnily enough it worked flawlessly. Has there been any update? I was able to consistently repro it. Anyway... Will also try the insiders version. What version are you guys flighting?

[2018-09-27 05:55] #369 closed

[2018-09-27 06:07] testforstephen commented on #442
Glad to see it works for you again. We observed the issue in 0.12.0 https://github.com/Microsoft/vscode-java-debug/issues/411, so provided a fix for it in 0.13.0.  Did you reload your VS Code window ever when you retried the project?

[2018-09-27 06:09] testforstephen commented on #442
Since it works for you, close this issue first. Feel free to reopen it if you're still bothered by the issue.

[2018-09-27 06:09] #442 closed

[2018-09-27 06:45] #413 closed

[2018-09-27 07:29] vanmxpx commented on #444
No problems after that, thanks for helping

[2018-09-27 07:50] #444 closed

[2018-09-27 14:07] patelkunal commented on #375
Awesome (y)

[2018-09-28 05:01] testforstephen commented on #427
This issue only happens when the file Main.java is standalone Java file.

[2018-09-29 02:38] testforstephen commented on #110
Could you tell us your classpath length? we want to find the length limitation for CreateProcess, then find a project to reproduce the problem.

[2018-09-29 02:44] testforstephen commented on #110
Windows Create Process has 32K limitation on the command line. [[Source](https://blogs.msdn.microsoft.com/oldnewthing/20031210-00/?p=41553/)]
Need fine some way to pass the long classpath to Java program.

[2018-09-29 02:47] testforstephen commented on #445
This is a Windows Create Process limitation issue. 32k chars on the total command line. Will track the future update on issue #110.

[2018-09-29 03:15] testforstephen commented on #427
For the enclosing type Main1, we passed the fully qualified name `Main$Main1` to jdt search engine to get the corresponding IJavaElement instance. But it doesn't work because search engine doesn't support `$` as enclosing separator. It only supports dot separated fully qualified name, `Main.Main1` .

Besides, in java launch parameters, main class value `Main$Main1` works, but `Main.Main1` doesn't

[2018-09-29 06:27] testforstephen commented on #427
One possible solution is to add an extra search from main method if it's the enclosing type case.

[2018-09-29 11:38] thiagoalvescosta commented on #445
You cloud use classpath file or java 9+ @argsfile, like IntelliJ ! Without that, anyone could use vscode to debug projects with large number of maven libs

[2018-09-29 11:40] thiagoalvescosta commented on #445
You cloud use classpath file or java 9+ @argsfile, like IntelliJ ! Without that, no one could use vscode to debug projects with large number of maven libs

[2018-10-01 09:12] clankill3r commented on #413
Can other people get this to work?
I get:
`Error: Could not find or load main class hello.GreeterTest`.

[2018-10-01 12:02] jamestharpe commented on #110
Sorry, I'm new to Java - how do I determine the classpath value/length?

[2018-10-01 13:37] clankill3r commented on #413
@joshryanne I want to roll back as well, do you happen to know what the VSIX link is?

It such a pain to find it. The link should be close to this:

`https://ms-vscode.gallery.vsassets.io/_apis/public/gallery/publisher/ms-vscode/extension/vscjava.vscode-java-debug/0.12.0/assetbyname/Microsoft.VisualStudio.Services.VSIXPackage`

But we are dealing with microsoft here...

[2018-10-02 15:23] LordKa0S opened #449 "Single file debug not working with VS Live Share extension"
When trying to **debug single source files without a folder or project open**, a pop up "root folders property missing" appears with the option to open launch.json. This happens **only when the VS Live Share extension is enabled**.

##### Environment
- Operating System: Windows 10
- JDK version: 8u181
- Visual Studio Code version: 1.27.2
- Java extension version: 0.4.0
- Java Debugger extension ve

[2018-10-03 18:45] LordKa0S commented on #449
Refer : [#1070](https://github.com/MicrosoftDocs/live-share/issues/1070) on the VS Live Share repository.

[2018-10-03 18:45] #449 closed

[2018-10-04 02:14] darewreck54 opened #450 "Failed to remote debug azure cloud services?"
I'm having issue remote debugging.

Any suggestion on what the issue could be?  Not sure if this is an issue with vscode vs. configuration.  I followed https://www.youtube.com/watch?v=n9nw6MPG0Vo which describe how to connect remotely.

Thanks!

##### Environment
- Operating System: macOS Sierra Version 10.12.6
- JDK version:
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_12

[2018-10-04 02:38] #326 closed

[2018-10-08 01:43] jdneo commented on #450
@darewreck54 The document is out of date. Currently, the java function could not remote debug.

There is a tracking issue here: https://github.com/Azure/azure-functions-host/issues/2986

[2018-10-08 05:02] yaohaizh opened #451 "Support for overriding properties in Spring Boot apps"
_From @mattcobley on October 1, 2018 20:28_

It would be great if the ability to override values for properties was made available when running/debugging Spring Boot applications.

This would allow a file like application.properties - which might contain variables instead of real values for use with something like Octopus Deploy - to be left as they are, but values for running locally to be specif

[2018-10-08 06:10] andxu commented on #440
Test:
1. Open `1.helloworld`
2. F5 to generate launch.json
3. set args to "a b \\" and set breakpoint on the first line of main method
4. F5 to hit the breakpoint, use procexp64.exe or ps to record the startup arguments (P1)
5, Kill debug session and modify the console to "integratedTerminal" and  F5 to hit the breakpoint, use procexp64.exe or ps to record the startup arguments (P2)

6, Kill debug

[2018-10-08 09:43] testforstephen commented on #110
@jamestharpe thanks for response. we have figured out the maximum command line length. It's 32K(32768) characters. Will provide a fix for the long classpath case.

[2018-10-08 14:29] yahudev commented on #302
I'm encountering the same issue is there anyway to workaround? where's the cache location for ubuntu?

[2018-10-08 17:59] ramya-rao-a opened #452 "Please use the latest version of vscode-extension-telemetry & vscode-extension-telemetry-wrapper dependencies"
This extension uses version 0.3.1 of `vscode-extension-telemetry-wrapper` module and version 0.0.18 of `vscode-extension-telemetry` module. Please update both to their latest versions.

The latest version of `vscode-extension-telemetry-wrapper` module (0.3.2) uses the latest version of `vscode-extension-telemetry` module (0.0.22) which has the fix to prevent unnecessary patching of the require and

[2018-10-08 23:12] bedge commented on #112
Seeing the same as @WritingSolutions2020 with:
VS Code version: Version 1.29.0-insider (1.29.0-insider)
OS and version: OSX High Sierra 10.13.6 (17G65)

Also, I'm using jenv which adds another layer of obfuscation, but all shells show:
[code]

[2018-10-09 01:44] testforstephen commented on #438
Add logic to wait the DocumentLifeCycleHandler to finish updating.

[2018-10-09 01:44] #438 closed

[2018-10-09 01:44] #437 closed

[2018-10-09 01:45] testforstephen commented on #437
Java command line supports two kinds of main class format: <mainclass> and <module>[/<mainclass>]

The regular expression should support these two cases.

[2018-10-09 02:22] testforstephen opened #454 "Endgame 0.14.0"
# Build
- [x] 10/10 - Bump version to 0.14.0 @testforstephen https://github.com/Microsoft/vscode-java-debug/pull/457 https://github.com/Microsoft/java-debug/pull/239
- [x]  10/10 - Add change log for 0.14.0 - @testforstephen https://github.com/Microsoft/vscode-java-debug/pull/456
- [x]  10/10 - Signed RC Bits @testforstephen https://vscjavaci.cloudapp.net/job/vscode-java-debug/job/vscode-java-debu

[2018-10-09 07:54] #440 closed

[2018-10-10 03:33] #452 closed

[2018-10-10 05:43] Eskibear commented on #454
### Verify bug on Windows
Envs:
[code]
#### Cannot run from src/test anymore bug
**Test passed.**
Related issue: https://github.com/Microsoft/vscode-java-debug/issues/413
I tried with a simple spring-boot project, adding the main function in DemoApplicationTests.java, and debug it. It fails to load the class in v0.13.0 but works with the private build.

#### report InvalidStackFrameException durin

[2018-10-10 06:33] sallyur opened #458 "SetVariablesRequest: property 'name' is missing, null, or empty"
##### Environment
- Operating System: Windows & Mac
- JDK version: 8/10
- Visual Studio Code version: 1.28.0
- Java extension version: 0.32.0
- Java Debugger extension version: 0.14.0
- Build: 62

##### Steps To Reproduce

1. Open test project 4.variable
2. Set BP on the last statement of VariableTest#test
3. Press F5 to generate launch.json and press F5 again to start debug and wait for BP to be

[2018-10-10 06:46] testforstephen commented on #458
Tracked in vscode https://github.com/Microsoft/vscode/issues/60444

[2018-10-10 10:07] sallyur commented on #454
### Run test plan:

Following https://github.com/Microsoft/vscode-java-debug/blob/master/TestPlan.md

**1. Configuration**

Windows | Mac
-- | --
Vscode 1.28.0 JDK 8 | Vscode1.28.0 JDK 10

**2. Open bug**: #458

**3.Test result:**

Test case | Windows | Mac
-- | -- | --
Configurations | Vscode 1.28.0 JDK 8 | Vscode1.28.0 JDK 10
Clean install | Pass | Pass
Uninstall | Pass | Pass
Update | Pass | Pa

[2018-10-10 10:07] sallyur commented on #454
### Verify bugs:

Features | Win10 x64 | Mac
-- | -- | --
Configurations | Vscode 1.28.0 JDK 8 | Vscode1.28.0 JDK 10
Code lenses for Run/Debug   links on main methods don't show up immediately #438 | Pass | Pass
It throws "ConfigError:   'com.microsoft.app.mymodule/com.microsoft.app.App' is not a valid class   name." for java 9 program #437 | / | Pass
Cannot run from src/test   anymore bug #413 |

[2018-10-10 10:10] testforstephen commented on #454
the issue about handling special chars in vmArgs and args is tracked by bug https://github.com/Microsoft/vscode-java-debug/issues/439.

[2018-10-10 10:28] testforstephen commented on #454
0.14.0 is released, close it.

[2018-10-10 10:28] #454 closed

[2018-10-10 16:32] toutiay opened #459 "Java Language Server Error"
[provide a description of the issue]

##### Environment
- Operating System:win10.1803
- JDK version:
java -version
java version "10.0.2" 2018-07-17
Java(TM) SE Runtime Environment 18.3 (build 10.0.2+13)
Java HotSpot(TM) 64-Bit Server VM 18.3 (build 10.0.2+13, mixed mode)

javac -version
javac 1.8.0_161-1-redhat

- Visual Studio Code version:1.28.0
- Java extension version:0.4.0
- Java Debugger ext

[2018-10-10 22:40] andxu commented on #454
@Eskibear It is caused by Java class Runtime.exec, and eclipse has the same bugs, bug https://github.com/Microsoft/vscode-java-debug/issues/439 is to track this

[2018-10-11 09:06] testforstephen commented on #459
this is related with rename, assign @yaohaizh to have a look.

[2018-10-11 09:09] #441 closed

[2018-10-11 17:55] michael-hawker commented on #423
Is this similar to #344?

[2018-10-11 17:56] michael-hawker commented on #344
This is a pain for EDU scenarios too, it'd be great if a student can just open up a Java file and be able to run it and debug it without having to have a whole project system setup yet.

[2018-10-11 17:58] michael-hawker opened #460 "Open Issues still in closed Milestones"
There's open issues that weren't addressed in older milestones which were closed.  Those work items should be moved to the backlog or the current milestone.

![image](https://user-images.githubusercontent.com/24302614/46824000-8d7c3d80-cd44-11e8-961c-2b3195efa6d1.png)

[2018-10-12 02:19] testforstephen commented on #391
development documentation is here https://github.com/Microsoft/vscode-java-debug/blob/master/CONTRIBUTING.md

[2018-10-12 02:19] #391 closed

[2018-10-12 17:32] j-james commented on #238
I too am having this problem, it's stuck at 37%. This happened after upgrading gradle with `./gradle wrapper`, then rebooting.

[2018-10-15 01:29] andxu commented on #439
This bug is blocked by Runtime.exec has improper wrap over special characters,  considering using ProcessBuilder or https://github.com/apache/commons-exec to replace the way of starting user app, moving to backlog, please vote it if it blocks you.

[2018-10-15 01:59] akaroml commented on #451
@kdvolder @martinlippert could you please help evaluate this issue and share your thoughts?

To me, this is a spring-specific feature.

[2018-10-15 05:42] hawkerm commented on #358
I just got a build failed issue too.  I had to clear the cache, it'd be nice if the build failed option had that as an option or did that as step if there are no error class problems.

It looks like I got in this state from opening a .java file in VS Code from outside of my Java Project.

[2018-10-15 17:36] kdvolder commented on #451
Firs, I think this is a useful feature. Might not be easy to implement.

For one, I am not certain how hard it is to implement UI for this sort of thing in a vscode extension.

For another, if you want nice completion help in the table, you need to read the properties metadata from the classpath and parse/use it (vscode-spring-boot language already does that, but the vscode boot dash does not).

I

[2018-10-16 05:57] testforstephen commented on #458
this issue is fixed in vscode 1.28.1 patch release.

[2018-10-16 05:57] #458 closed

[2018-10-16 07:33] martinlippert commented on #451
My thoughts on this:

- this feature would make a lot of sense. Assisting developers in overriding spring-boot-related properties easily for individual launch configs makes a lot of sense.
- I would also vote against a fancy UI with check boxes, tables, etc. and instead try to provide a meaningful content-assist in either the launch.json file when people add vm arguments, so that all the spring-bo

[2018-10-17 18:42] EnriqueEll commented on #110
@testforstephen  It can easily be reproduced adding to a simple Spring Boot application with the dependency as below:

[code]

[2018-10-17 20:13] elisetreit commented on #358
I have also been having this problem, but if I click proceed it works approximately 30% of the time.  I have cleared the workspace cache, and while it worked this first time to stop having this error, it doesn't work anymore.

[2018-10-18 06:50] testforstephen commented on #110
@EnriqueEll Thanks for the feedback, appreciate a lot if you can share the entire gradle project to help us to verify the bug.

[2018-10-18 12:30] JamesBewley commented on #358
I'm just configuring VS code to run as a debugger and have an exiting ant build process that works fine.

The debugger is working find now and I have a preLaunchTask to build the ant target but I still have to see the "Build failed, do you want to continue?" and click "Proceed" before the debugger will lanuch.

What exactly is the plugin trying to do?
Can it be disabled (the follow have no effect)

[2018-10-18 12:52] Yanpas opened #461 "Beetle emoji is not rendered on linux"
Beetle :beetle:  emoji used by java language server is not rendered on linux:
![image](https://user-images.githubusercontent.com/7345761/46680420-bfc95600-cbf1-11e8-822b-7e049ddb7beb.png)

`    "editor.fontFamily": "'Twitter Color Emoji', 'Fira Code','Droid Sans Mono', 'monospace', monospace, 'Droid Sans Fallback', 'Noto Color Emoji'"`

Seems like there is color-emoji rendering problem on linux, k

[2018-10-18 13:34] yaohaizh commented on #461
@Yanpas, thanks for reporting this issue. Since this emoji is not vision friendly in some cases, @testforstephen will remove this icon in next release, only keep the run triangle.

[2018-10-18 23:17] andxu commented on #358
@JamesBewley disabling auto build is exactly the same operation of disabling the build automatically menu, but before launching debug we will force a build since we don't want you to run on out-dated project, if you want to disable the whole build and use custom build in prelaunch task, there is no-way by now, we can have the option/solution in future:
![image](https://user-images.githubuserconten

[2018-10-19 06:54] andxu commented on #358
yes, I suggest to move on maven for the workaround.

[2018-10-19 06:55] andxu opened #462 "[Feature]add a new option for disabling the build and use custom build in prelaunch task"
[provide a description of the issue]

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version:
- Java extension version:
- Java Debugger extension version:

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[attach a sample project reproducing the error]
[attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

##### Current Resul

[2018-10-19 08:45] JamesBewley commented on #462
+1

[2018-10-21 21:46] JerryGoyal commented on #344
is there any update on this? It's really frustrating when you quickly want to test some java code and you just can't do that.
I don't want to set up the whole maven/gradle/eclipse project to test 5-10 lines of code. An extension should support the basic things first.

[2018-10-22 09:37] testforstephen commented on #344
@JerryGoyal The solution is still on discuss, see the issue update on the language server side. https://github.com/redhat-developer/vscode-java/issues/620

[2018-10-23 15:28] Yanpas commented on #461
Hmm, opened vs code today and it works...
![image](https://user-images.githubusercontent.com/7345761/47371917-59642d80-d6f1-11e8-96d2-e9143901ce46.png)

[2018-10-25 05:36] fbricon commented on #443
I got the same problem in debug mode, after reloading vscode due to changes in installed extensions. This is *very* annoying.

[2018-10-25 05:41] fbricon commented on #364
Eclipse allows users to define custom [detail formatter expressions](https://blog.codecentric.de/en/2013/04/again-10-tips-on-java-debugging-with-eclipse/) in its debugger, so that you can get a sensible String representation of an object, even if it doesn't override toString() itself.

[2018-10-25 06:16] akaroml commented on #461
Please remove the bug emoji... Looks ugly and unnecessary.

[2018-10-27 05:36] ThadHouse opened #464 "Add way to disable run and debug buttons on main function definition."
I have a build where if you just attempt to run the main function, it fails to start, because I have some native dependencies that need to be configured. I am providing this build to a large amount of users, and it is confusing our users, as those buttons do not work, and they throw very confusing errors. Could a property be added to disable these buttons from showing up?

[2018-10-31 02:29] #464 closed

[2018-10-31 02:39] ThadHouse commented on #464
Quick question maybe @testforstephen

Is there an estimated release cadence for this repo? I can't find one, and this bug at least for me is a blocker that would be really nice to have fixed by sometime in mid November at the latest. Is that possible?

[2018-10-31 03:30] andxu commented on #464
We will release it tomorrow.

[2018-10-31 04:59] testforstephen opened #468 "Endgame 0.15.0"
# Build
- [x] 10/31 - Bump version to 0.15.0 @testforstephen
- [x] 10/31 - Add change log for 0.15.0 - @testforstephen
- [x] 10/31 - Signed RC Bits @testforstephen https://vscjavaci.cloudapp.net/job/vscode-java-debug/job/vscode-java-debug.vsix-withSign/

# Test
- [x] 11/01 - Run test plan and verify new changes listed in 0.15.0 changelog- @bsaby
- [x] 11/01 Verify new change: Add new user settings

[2018-10-31 08:38] sallyur opened #469 "Single file build, the actual behavior is different from the expected behavior"
##### Environment

- JDK version: 8/10/11
- Visual Studio Code version: 1.28.2
- Java extension version: 0.33.0
- Java Debugger extension version: 0.15.0
- Build: 64

##### Steps To Reproduce

1. Open the file in folder 21.single-file.(Open folder or Open file)
2. Press F5, make sure it debugs well.
3. Update the src to introduce a compilation error. For example, change String s = "1"; to String s

[2018-11-01 02:09] andxu commented on #468
On Ubuntu:
Disable the code lens settings, the code lens disappears and enable it again, the code lens is back.

[2018-11-01 03:12] sallyur commented on #468
### Run test plan:

Following https://github.com/Microsoft/vscode-java-debug/blob/master/TestPlan.md

**1. Configuration**

Windows | Mac
-- | --
Vscode 1.28.2 JDK 8 | Vscode1.28.2 JDK 10/JDK 11

**2. Open bug:**#469

**3.Test result:**

Test   case | Windows | Mac
-- | -- | --
Configurations | Vscode 1.28.2 JDK   8 | Vscode1.28.2JDK 10/JDK11
Clean   install | Pass | Pass
Uninstall | Pass | Pass
U

[2018-11-01 03:31] sallyur commented on #468
### Test on Ubuntu

Run HelloWorld and TODO application on Ubuntu - test passed

[2018-11-01 03:40] sallyur commented on #468
### Feature test

**1. Configuration**

Windows | Mac | Ubuntu
-- | -- | --
Vscode   1.28.2 JDK 8 | Vscode1.28.2   JDK 10 | Vscode1.28.2 JDK 8

**2. No new issue found**

**3.Test result**

Feature | Win10 x64 | Mac | Ubuntu
-- | -- | -- | --
Add way to disable run and debug code lens provider #464 | Pass | Pass | Pass

[2018-11-01 07:17] andxu commented on #464
@ThadHouse 0.15.0 is released https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-debug

[2018-11-01 07:21] #468 closed

[2018-11-01 07:28] andxu commented on #423
Use redhat-developer/vscode-java#620 to discuss the single file, close this one

[2018-11-01 07:28] #423 closed

[2018-11-01 07:30] andxu commented on #445
Use https://github.com/Microsoft/vscode-java-debug/issues/110 to discuss file too long issue.

[2018-11-01 07:30] #445 closed

[2018-11-01 07:33] andxu commented on #327
The .classpath deleted and the java language server will not work unless you clean the workspace.

[2018-11-01 07:33] andxu commented on #327
Dup as https://github.com/redhat-developer/vscode-java/issues/658, close this issue and use that one instead.

[2018-11-01 07:33] #327 closed

[2018-11-01 07:37] sallyur commented on #367
Closed it, since it not repro now.

VScode version: 1.28.2
JDK 8
java debugger version: 0.15.0

[2018-11-01 07:37] #367 closed

[2018-11-01 07:39] andxu commented on #194
@simahao  will add this feature at java-dependency in future, see it at https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-dependency

[2018-11-01 07:39] #194 closed

[2018-11-01 07:43] andxu commented on #299
@myguddy Any update on this issue?

[2018-11-01 07:54] andxu commented on #256
attach this issue https://github.com/Microsoft/vscode-java-debug/issues/462 and can work together with external build-launch-in-debug tasks.

[2018-11-01 07:57] andxu commented on #210
Use https://github.com/Microsoft/vscode-java-debug/issues/110 to discuss file too long issue.

[2018-11-01 07:57] #210 closed

[2018-11-08 04:10] yp0808 commented on #361
meet the same problem

[2018-11-08 04:49] Kirajav commented on #194
I did it in the launch.json archive as mentioned before, but it doesn't really work for me. I'd really want to know "how can I provide a jar files to a single file that is not a project"?...
After a little research, i finally opted to make a _quick-start maven project_ and [add the respective dependency](https://stackoverflow.com/a/35725899/9077593) in the pom.xml file.

Well i just wanted to add

[2018-11-08 04:53] Kirajav commented on #194
I also have this installed, but i don´t know how can i supposed to add the .jar library with this extension.

[2018-11-09 10:04] testforstephen opened #470 "Disable code lens for the java file not in the project's classpath"
![image](https://user-images.githubusercontent.com/14052197/48256158-baa63380-e449-11e8-8c1c-3da33b56e7ae.png)

Hello.java is not in the maven source path `src/main/java`, so jdt will not persist the corresponding .class file in the `target` directory. When the user clicks the Run/Debug code lens, it will pop up `Error: Could not find or load main class Hello`. This sometimes will confuse the user

[2018-11-10 07:50] testforstephen opened #472 "Localization support for the extension message"
Currently the extension has supported english and italian for configuration settings, help wanted for other locales.

[2018-11-13 02:23] ramya-rao-a opened #473 "Please use the latest version of vscode-extension-telemetry-wrapper dependency"
This extension uses version 0.3.3 of `vscode-extension-telemetry-wrapper`  module.

The latest version of `vscode-extension-telemetry-wrapper` module (0.3.4) uses the latest version of `vscode-extension-telemetry` module (0.1.0) which has the fix to prevent the spawning of counteless powershell instances in Windows 7  & Windows NT

For more details, please see https://github.com/Eskibear/vscode-ex

[2018-11-13 03:03] akaroml opened #475 "Remove the bug emoji before the "Debug" codelens"
This looks a bit scary. Can we remove it?

But the little triangle arrow before Run can stay. That one is elegant and precise.

[2018-11-13 03:15] Eskibear commented on #472
Any instructions?

[2018-11-13 03:24] yaohaizh commented on #472
@Eskibear This PR for your reference.

[2018-11-13 13:02] #420 closed

[2018-11-13 15:52] isidorn opened #476 "Simplify generated launch.json"
Hey,

VSCode dev here. This milestone I am looking into simplifing generated `launch.json` for various extensions Microsoft/vscode#62851

The `launch.json` that Java generates is attached at the end. This is not too complex for the avarage user, however we can still improve. I suggest to simplify it the following way:

- [ ] `DebugConfigurationProvider` should use the `quickPick` to ask the user i

[2018-11-15 07:57] #299 closed

[2018-11-15 10:01] akaroml opened #477 "Chinese Language Support"
We have lots of Chinese developers. It would be great if we can provide a localized interface. This issue is to track the effort of building the localization story.
Supporting Chinese is a start. Once the solution is working, we can expand the support to other languages.

[2018-11-20 10:08] isidorn commented on #476
@testforstephen Are there any plans to address this?
Do you agree with my suggesstions here?
If you do not have cycles to address this but would like to see it done, I can try to get some users to provide a PR which tackles this.

Thanks a lot

[2018-11-20 13:40] rockxsj opened #478 "Flink official demo debug will get error :Cannot find a class with the main method"
[provide a description of the issue]

##### Environment
- Operating System:macos 10.14.1
- JDK version: 1.8.0_144
- Visual Studio Code version:1.29.1
- Java extension version:0.4.0
- Java Debugger extension version:0.15.0

##### Steps To Reproduce
1. curl https://flink.apache.org/q/quickstart.sh | bash -s 1.6.1
2. open the quickstart dir with vscode and press F5 to debug,will get the error:
![imag

[2018-11-21 03:43] testforstephen commented on #476
@isidorn Is there any strong reason to shorten the launch.json? Because we found the user will be pretty hard to discover the hiding launch options.

Here is my thoughts about the removable options:
Ok to remove `stopOnEntry` from the default options, Neutral on `cwd`, `hostName`. But i'd like to keep `console`, `args`. VS Code default CONSOLE doesn't program input, so the user frequently reports

[2018-11-21 08:00] andxu commented on #478
Seems a bug in eclipse maven importer, to solve your problem temporarily, try to
1. close vscode and eclipse
2. delete .project file and .classpath file(if the root folder has)
3. run `mvn eclipse:eclipse` at the root folder
4. open the root folder in vscode, F5 and you will be able to debug
[code]

[2018-11-21 09:48] isidorn commented on #476
@testforstephen thanks for the reply. Well it is a delicate belance of showing just enough such that it does not look too complex and is discoverable enough. Shorting the configuration makes it look and feel simpler for the user.
With regards to that it is perfectly fine to keep some fields for discoverability, however I would only keep those which the users depend on a lot.
So I agree with you, k

[2018-11-22 01:30] rockxsj commented on #478
tks! this workaround work well! 👍

[2018-11-22 01:45] testforstephen commented on #476
yes, `mainClass` option will be automatically filled when java debugger generates launch.json.

[2018-11-22 09:09] isidorn commented on #476
@testforstephen aha ok. I only got the `""` because i had no main in my workspace.
Maybe default to `"${file}"` if you can not detect the main, could be better than the empty string

What do you think about the suggestion that `DebugConfigurationProvider` could use the quickPick to ask the user if he would like to launch or to attach?

[2018-11-22 15:58] Zeus-Iqd commented on #478
mac how to do

[2018-11-22 16:05] Zeus-Iqd commented on #478
您好，请问下mac下要怎么做？@andxu

[2018-11-22 16:06] Zeus-Iqd commented on #478
@andxu 请问下mac要怎么做？

[2018-11-22 23:19] andxu commented on #478
@Zeus-Iqd 是同样的项目吗？如果是的话，在pom.xml里删掉lifecycle-mapping插件，如果不是的话，可不可以attach一个你的project？

[2018-11-23 03:06] rockxsj commented on #478
一样的，就按照@andxu 说的做就行了

[2018-11-26 07:14] chadirino commented on #476
I am just a beginner here but the auto-detection of the fully qualified class name (for the `mainClass` option) would be a great update -- it would definitely shorten and simplify the `launch.json` file (removing the need to list each class). I also find relying on the quickPick option to choose the class name to be frustrating (I have chosen the wrong one many times and it would obviously save a

[2018-11-26 07:56] testforstephen commented on #476
@chadirino Glad to hear your feedback. The real user's feedback is definitely helpful for us to improve the product.  Thanks.

To improve the auto-detection, we plan to generate a configuration at the beginning of launch.json.
[code]
But the auto-detection will be only based on your current focus editor. If your current opening editor file is not a Java file with main method, then prompt you to ch

[2018-11-26 09:14] chadirino commented on #476
Thanks for the response, @testforstephen. I am glad that I can be of some help to you -- your work is great and really appreciated! That goes to you too, @isidorn.

I see -- you are using `${file}` to check if the current focus editor is for a Java file with a main method. I have always run my code from within the file so I think that works just great! And I do think it is good to keep the quickPi

[2018-11-26 09:24] testforstephen opened #479 "use vscode.open instead of openurl"
use vscode.open instead of openurl

[2018-11-26 11:37] testforstephen commented on #476
@chadirino Nice to know your scenario, thanks.
yes, the current file support should fix the `active editor` default issue, too.

[2018-11-26 11:41] testforstephen commented on #476
@patelkunal Hope this solution will fix the issue `"Introduce shortcut to launch program from active editor"` too.

[2018-11-28 17:25] fbricon opened #480 "Multiple calls to vscode.java.resolveMainMethod when opening a Java file"
Opening a java file causes multiple calls to vscode.java.resolveMainMethod. Seems unnecessary.

##### Environment
- Operating System: macOS 10.14.1
- JDK version: 1.8.0.181
- Visual Studio Code version: 1.29.1
- Java extension version: 0.34.0
- Java Debugger extension version: 0.15.0

##### Steps To Reproduce
1. open a Java file
2. look at the Java Language Server traces

##### Current Result
12 c

[2018-11-30 02:46] yaohaizh opened #482 "Extension 'vscjava.vscode-java-debug' uses a document selector without scheme"
From extension host log:

EXTHOST-LOG:::::
["Extension 'vscjava.vscode-java-debug' uses a document selector without scheme. Learn more about this: https://go.microsoft.com/fwlink/?linkid=872305"]
EXTHOST-LOG:::::
["Extension 'vscjava.vscode-java-test' uses a document selector without scheme. Learn more about this: https://go.microsoft.com/fwlink/?linkid=872305"]

[2018-11-30 04:18] #479 closed

[2018-12-01 07:56] lfzy opened #486 "run junit4 read spring config file -- FileNotFoundException"
To run the junit unit test, read the spring context configuration file, but  cannot ， then throw a FileNotFoundException. This program is running correctly on the idea.

![image](https://user-images.githubusercontent.com/12446762/49325648-195e5900-f581-11e8-8456-b6d2c26a5ade.png)

I tried a lot of ways to change the working directory and it didn't work

![image](https://user-images.githubuserconte

[2018-12-01 22:46] ThadHouse opened #487 "ExternalTerminal does not use java.home vscode variable"
When running a debug with externalTerminal set as the terminal, the terminal just calls `java`. However, Java might not be installed at the system level, and instead might be only findable through either JAVA_HOME or the java.home vscode variable. The terminal should be passed the full Java path if these 2 variables are set.

[2018-12-02 10:04] jdneo commented on #486
@lfzy You can try to `run with configuration` , which can refer to a configuration file to define the working directory.

This issue may help you: https://github.com/Microsoft/vscode-java-test/issues/143

[2018-12-02 11:52] lfzy commented on #486
@jdneo  Sorry, I didn't find a solution in that answer.

This is my file(launch.test.json)
`
{
                "name": "eight",
                "projectName": "eight",
                "workingDirectory": "c:\\Users\\zwjlf\\IdeaProjects\\eightdragon\\eight",
                "args": [],
                "vmargs": [],
                "env": {},
                "preLaunchTask": ""
            }
`
**cwd

[2018-12-02 11:55] lfzy commented on #486
@jdneo I want to configure eight's working directory. that's also,
` user.dir = c:\\Users\\IdeaProjects\\eightdragon\\eight`

[2018-12-03 01:18] jdneo commented on #486
@lfzy

A valid launch.test.json may format as following:

[code]

You need to set the value of `default` to the name of the configuration item you want to use.

[2018-12-03 02:10] lfzy commented on #486
@jdneo Thanks!!!   I didn't find a description of the default attribute.But it's useful. ：）

[2018-12-03 02:10] #486 closed

[2018-12-03 02:48] jdneo commented on #486
@lfzy Glad to know the problem is solved.

Actually, this feature is not well designed, we will consider to improve it in the near future.

If you have other problems related with the Test Runner extension, feel free to open issues at: https://github.com/Microsoft/vscode-java-test/issues

[2018-12-03 05:31] testforstephen commented on #462
Add a new user setting `java.debug.settings.forceBuildBeforeLaunch` to control whether to build the workspace before launch/debug.

[2018-12-03 05:31] #462 closed

[2018-12-03 06:13] testforstephen commented on #487
@ThadHouse We should have fixed the problem in 0.13.0.
Could you set the log level `java.debug.logLevel` to `verbose` in the user settings? Then launch debug.

The log should be recorded in the Java language server log file. You could open it through running the vscode command `Java: Open Java Language Server log file` in the command palette. If the log file is opened, share us the log. thanks.

[2018-12-03 07:06] testforstephen commented on #475
Both the emoji before Run/Debug codelens will be removed.

[2018-12-03 07:06] #475 closed

[2018-12-04 02:00] testforstephen commented on #472
Have supported Chinese version for user settings and launch.json configurations. Help wanted for other locales.

[2018-12-04 02:45] yaohaizh opened #489 "Organize the nls files"
The nls files is under the root folder of the workspace. Should move to specified folders.

[2018-12-04 05:18] yuzexun opened #490 "Add Exception url to click open java file"
[provide a description of the issue]

##### Environment
- Operating System:MacOS 10.14.1
- JDK version:1.8
- Visual Studio Code version:0.35.0
- Java extension version:Red Hat 0.35.0
- Java Debugger extension version:0.15.0

##### Steps To Reproduce
1. [step 1]
run code:
new Exception().printStackTrace();
2. [step 2]

[attach a sample project reproducing the error]
[attach logs](https://github.com

[2018-12-04 05:22] yaohaizh opened #491 "add exception url in debug console"
_From @yuzexun on December 4, 2018 4:1_

[provide a description of the issue]

##### Environment
- Operating System:MacOS 10.14.1
- JDK version:1.8
- Visual Studio Code version:1.29.1
- Java extension version:0.35.0

##### Steps To Reproduce
1. [step 1]
run code:
new Exception().printStackTrace();

[attach a sample project reproducing the error]
[attach logs](https://github.com/redhat-developer/vs

[2018-12-04 06:40] yaohaizh commented on #491
Dup with https://github.com/Microsoft/vscode-java-debug/issues/490

[2018-12-04 06:40] #491 closed

[2018-12-04 07:47] yaohaizh opened #492 "Improve the extension load time by using webpack"
References:

1.	[VS Code extension sample](https://github.com/Microsoft/vscode-extension-samples/tree/master/webpack-sample)
2.	[Improving load times and performance of Python Extension for VS Code with WebPack](https://medium.com/@don.jayamanne/improving-performance-of-python-extension-for-vs-code-with-webpack-8e4469533f09)

[2018-12-04 09:03] ZhengJun003 opened #493 "Not remove args/console from default codelens launch.json"
##### Environment
- Operating System: Win10/Mac OS
- JDK version: 1.8.0_171/11.0.1
- Visual Studio Code version: 1.29.1
- Java extension version: 0.35.0
- Java Debugger extension version: Build 350

##### Steps To Reproduce
1. Open test project
2. Click `debug` codelens

##### Current Result
There are args/console in default codelens launch.json
![image](https://user-images.githubusercontent.com/4

[2018-12-08 18:56] maarek opened #504 "Cannot launch module from workspace launch config"
I have a multi-module project setup and instead of using the launch.json under .vscode, I have setup my launch config inside of myproject.code-workspace.

In this configuration, I can't seem to get the debugger to run. I do not receive any errors in the console, pop-ups, or logs. Pressing the debug run for launch configuration, the debugger just quickly disappears.

Using the same config inside of

[2018-12-10 03:19] akaroml opened #505 "Colorize Debug Console output"
According to Microsoft/vscode-java-pack#78, it's very helpful if the output in debug console can be colorized. Here to request this feature.

[2018-12-10 03:22] akaroml opened #506 "Jump to source when clicking the call stack info in debug console"
According to Microsoft/vscode-java-pack#78, when an exception is thrown, its info is printed in the debug console including the call stack. It would be very helpful if users can jump to the corresponding source by clicking on the call stack. Here to request this feature.

[2018-12-10 03:35] yaohaizh opened #507 "Does vscode-java support javaFx11or openFx11?"
_From @jiayaoO3O on December 7, 2018 11:23_

I can use maven to run javaFx11, but every time I run the program I type in the powershell: `mvn exec:java`, which makes me wonder how to use the breakpoint to debug the program. If I try to click the debug button directly, vscode Will tell me: `Error: JavaFX runtime components are missing, and are required to run this application`, how can I do this to

[2018-12-10 03:35] yaohaizh commented on #507
_From @fbricon on December 7, 2018 21:32_

can you provide a sample project reproducing this issue?

[2018-12-10 03:35] yaohaizh commented on #507
_From @fbricon on December 7, 2018 22:27_

So I managed to reproduce the problem with this sample project : https://github.com/openjfx/samples/tree/master/HelloFX/Maven

<details>
<summary>server log</summary>
<pre>
[Trace - 4:41:42 PM] Sending request 'workspace/executeCommand - (93)'.
Params: {
    "command": "vscode.java.validateLaunchConfig",
    "arguments": [
        "file:///Users/fbricon/D

[2018-12-10 03:35] yaohaizh commented on #507
_From @jiayaoO3O on December 8, 2018 2:23_

I mean I can build javafx11 with maven, but I don't know how to do it on vscode: click the debug button to run the Javafx11 application instead of typing commands on powershell

[2018-12-11 09:13] testforstephen opened #508 "Endgame 0.16.0"
# Build
- [x] 12/12 - Bump version to 0.16.0 @testforstephen
- [x] 12/12 - Add change log for 0.16.0 - @testforstephen
- [x] 12/12 - Signed RC Bits @testforstephen

# Test
- [x] 12/12 - Run test plan and verify new changes listed in 0.16.0 changelog- @bsaby
- [ ] 12/12 Verify new change: Add a new user settings `java.debug.settings.forceBuildBeforeLaunch` to control whether build the workspace bef

[2018-12-11 10:14] #493 closed

[2018-12-12 02:01] testforstephen commented on #431
In launch.json, add the following config.
[code]
And let Debug Viewlet select `Debug (Launch) - Current File` as default config.
![image](https://user-images.githubusercontent.com/14052197/49841997-d314bf80-fdf4-11e8-88c5-e6c5aeac5560.png)

Then F5, the debugger will auto launch current active Java file.

[2018-12-12 03:36] egoarka opened #512 "Plan on extension for scala?"
Hi there, I'm enjoying debugging java in vscode, thank you!
Wouldn't you think to make the similar vscode extension for Scala?

[2018-12-12 05:48] #473 closed

[2018-12-12 08:08] testforstephen commented on #480
The debugger registered a CodeLensProvider in vscode, the call frequency is controlled by vscode client. If this problem is bothering much, maybe we should open an issue in vscode to discuss it.

[2018-12-12 08:43] sallyur opened #513 "Chinese language pack can't be removed completely"
##### Environment
- Operating System: All
- JDK version: 8/11
- Visual Studio Code version: 1.29.1
- Java extension version: 0.35.0
- Java Debugger extension version: 0.16.0
- Build: 65

##### Steps To Reproduce
1. Install chinese language pack from vscode marketplace and restart vscode
2. Verify the display language switch to chinese
3. Uninstall chinese language pack and restart vscode

Result:

[2018-12-12 08:48] sallyur commented on #508
### Run test plan
Following https://github.com/Microsoft/vscode-java-debug/blob/master/TestPlan.md

**1. Configuration**

Windows | Mac
-- | --
Vscode 1.28.2 JDK 8 | Vscode1.29.1 JDK 11

**Open Bug**
No new bug

**Test result**

Test   case | Windows | Mac
-- | -- | --
Configurations | Vscode 1.29.1   JDK 1.8.0_191 | Vscode 1.29.1   JDK 11
Clean   install | Pass | Pass
Uninstall | Pass | Pass
Upda

[2018-12-12 08:52] sallyur commented on #508
### Test on Ubuntu

Run HelloWorld/Nodebuginformationtest/petclinic on Ubuntu - test passed

[2018-12-12 08:58] sallyur commented on #508
### Feature test
**1. Configuration**

Windows | Mac | Ubuntu
-- | -- | --
Vscode 1.29.1 JDK 8 | Vscode1.29.1 JDK 11 | Vscode1.29.1 JDK 8

**2. Open bug**
#513

**3.Test result**

Feature | Windows | Mac | Linux
-- | -- | -- | --
[Feature]add   a new option for disabling the build and use custom build in prelaunch task #462 | Pass | Pass | Pass
Remove   the bug emoji before the "Debug" codelens #4

[2018-12-12 10:09] testforstephen commented on #508
0.16.0 released.

[2018-12-12 10:09] #508 closed

[2018-12-12 10:10] testforstephen commented on #476
0.16.0 release contains the change. close this task.

[2018-12-12 10:10] #476 closed

[2018-12-12 10:31] testforstephen commented on #513
Can you share the locale.json file?  You can pop it via vscode command `Configure Display Language` or `配置显示语言`

[2018-12-12 10:33] isidorn commented on #476
@testforstephen great, thanks a lot!

[2018-12-13 01:52] sallyur commented on #513
After uninstall chinese language pack my locale.json display as below:

[code]

[2018-12-13 01:58] testforstephen commented on #513
comment the `locale` field, and restart again.

[2018-12-13 02:05] sallyur commented on #513
If I comment the `locale` filed and restart vscode, display language change to English.

[2018-12-13 02:06] testforstephen commented on #513
This is by design

[2018-12-13 02:06] #513 closed

[2018-12-13 06:43] testforstephen commented on #504
@maarek
See the vscode doc https://code.visualstudio.com/updates/v1_20#_improved-debugging-support-for-multi-root-workspaces.  In your myproject.code-workspace file, there are multiple roots. And you should change the config `"cwd": "${workspaceFolder}/myproject-service"` to `"cwd": "${workspaceFolder:myproject-service}"`

[2018-12-13 06:50] #504 closed

[2018-12-13 06:56] testforstephen commented on #461
In latest 0.16.0, the emoji is removed. Close it.

[2018-12-13 06:56] #461 closed

[2018-12-13 07:59] testforstephen commented on #507
Use the modular one https://github.com/openjfx/samples/tree/master/CommandLine/Modular/Maven/hellofx, the debug works in vscode.

But the non modular one https://github.com/openjfx/samples/tree/master/HelloFX/Maven cannot debug in vscode.

This looks like an issue on generating the launching command line.

[2018-12-13 09:30] jiayaoO3O commented on #507
I used the above example and it works successfully, but I still don't know how to use breakpoints in this example.
![image](https://user-images.githubusercontent.com/22891632/49928776-de9ede00-fefb-11e8-8a8f-d8515e058eb1.png)
Please tell me how to use breakpoints when building a javafx11 project using maven, and how to use the maven build project to directly click the debug button to run the progr

[2018-12-13 10:11] testforstephen commented on #507
You can use vscode to launch your program directly. Only need click the **Debug** code lens.
![image](https://user-images.githubusercontent.com/14052197/49931482-e5c8ea80-ff01-11e8-952e-2d232f32a1d5.png)

If you prefer to use mvn to launch your program, please reference the following comment for that.
https://github.com/Microsoft/vscode-java-debug/issues/120#issuecomment-417269773

[2018-12-13 10:32] testforstephen commented on #374
The issue is fixed in vscode. Close it.

[2018-12-13 10:32] #374 closed

[2018-12-13 10:59] googlomooglo opened #515 "Debug adapter process has terminated unexpectedly (read ECONNRESET)"
Java debugger randomly terminates when debug attach with the following error:
Debug adapter process has terminated unexpectedly (read ECONNRESET)

##### Environment
- Operating System: Windows 7 Enterprise 64-bit
- JDK version: 1.8.0_66
- Visual Studio Code version: 1.30.0-insider (user setup)
- Java extension version: Java Extension Pack 0.4.0
- Java Debugger extension version: 0.15.0 - 2018-11-0

[2018-12-13 11:30] jiayaoO3O commented on #507
![image](https://user-images.githubusercontent.com/22891632/49935805-0fd3da00-ff0d-11e8-8a16-14ce98f17284.png)
There is nothing in this position, probably because launch.json is not generated. Can you show the contents of launch.json? I try to generate launch.json automatically, but it doesn't work.
![image](https://user-images.githubusercontent.com/22891632/49935951-70631700-ff0d-11e8-851f-9ada36

[2018-12-13 11:37] testforstephen commented on #507
This config is correct. Maybe there are some environment issues.

Please try the alternative way. Follow the comment https://github.com/Microsoft/vscode-java-debug/issues/120#issuecomment-417269773, use preLaunchTask to launch your program,then attach to debugger.

[2018-12-13 13:33] jiayaoO3O commented on #507
I know why I can't run it. I should open the "HELLOFX" folder directly.
![image](https://user-images.githubusercontent.com/22891632/49941391-4ade0980-ff1d-11e8-9c54-817d7dd6cdc3.png)

 Now I can click the debug button to run the javafx program, but I still don't understand why this project can run directly but my project can't?
Comparing my project with the examples you provided, I would like to a

[2018-12-13 13:50] testforstephen commented on #507
Having `module-info.java` means your program will be launched as a Java module (module is introduced in java 9). Without `module-info.java`, it will be taken as a traditional Java program (java 8).

In your app, you use javafx11 library, which must be used by the way of java module. This is probably a bug about how to use java module in a non modular program.

[2018-12-13 16:14] chenpi12311 opened #516 "Can not load a correct jar from maven repository"
I want to debug a SpringBoot project with 1.5.16 version. When i debug it, it always gives the error below:
[code]
I can debug it correctly in IDEA,but i can't debug it in vscode.How can i solve this problem?

##### Environment
- JDK: 1.8
- Maven: 3.3.9
- SpringBoot: 1.5.16

[2018-12-17 01:50] testforstephen opened #517 "Use webpack to reduce package size"
Refer to PR https://github.com/Microsoft/vscode-java-pack/pull/80 to use webpack to reduce package size.

[2018-12-17 02:01] testforstephen opened #518 "Java 11 support"
Test the Java 11 support, and figure out the potential issues.

[2018-12-24 07:09] ecormaksin opened #520 "Spring Boot Test Fails with NoSuchBeanDefinitionException."
Any advice would be appreciated.

[provide a description of the issue]

##### Environment
- Operating System: macOS High Sierra 10.13.6
- JDK version: 1.8.0_151
- Visual Studio Code version: 1.30.1
- Java extension version: 0.5.0
- Java Debugger extension version: 0.16.0

##### Steps To Reproduce
1. Create Spring Boot project by following the page below. https://code.visualstudio.com/docs/java/jav

[2018-12-25 21:53] manastalukdar opened #521 "Is is possible to view only the values for non-primitive variables"
Is is possible to view only the values for non-primitive variables while debugging?

![image](https://user-images.githubusercontent.com/2075466/50426800-2f8fca00-084c-11e9-9526-179051d6dc49.png)

For example, in the above screenshot of a HashMap, instead of all the "metadata" if we could view just the k-v data that would be great. Currently, we have to drill down to view the actual k-v data.

This

[2018-12-30 18:42] fwcd opened #522 "Uncaught Exceptions do not trigger a detail window"
Uncaught exceptions do not show trigger the exception detail popup from VSCode when encountered.

#### Environment
- Operating System: Windows 10
- JDK version: 8
- Visual Studio Code version: 1.30.1
- Java extension version: 0.36.0
- Java Debugger extension version: 0.16.0

#### Steps To Reproduce
1. Enable "Uncaught Exceptions" breakpoints

![image](https://user-images.githubusercontent.com/3087

[2019-01-07 08:20] tianyu07 commented on #516
same here, add this and solved:
`<dependencies>
   <dependency>
      <groupId>javax.servlet</groupId>
      <artifactId>javax.servlet-api</artifactId>
      <version>3.1.0</version>
   </dependency>
</dependencies>`

[2019-01-08 07:26] adashen opened #523 "envFile option for debugger in launch mode"
This is an enhance requirement.
When configuring the debug in launch.json for launch mode. And envFile option will be helpful instead of key in all the env variables.
envFile option has been supported in c#, python, nodejs... debuggers.

[2019-01-19 00:11] TheFanatr opened #524 "VSCode Java Debug Console in Terminal Not Showing Unicode Characters"
If the `launch.json` file for the project is changed to have the `console` property set to `integratedTerminal` for the launch configuration, any Unicode characters printed to said terminal with will be replaced with plain-text question marks. This is happening because the VSCode `Terminal` being started is using the default Windows code page of `65000`, which is `ASCII`, not `65001` which is `UTF

[2019-01-19 00:14] TheFanatr commented on #524
The resolution to this would be to change the launch script to run the command `chcp 65001` and then 'cls'. I have not yet found a way to make this possible.

[2019-01-22 04:43] sumanthhg commented on #110
I am getting this error in windows 10.

[Error - 7:09:48 PM] 21-Jan-2019, 7:09:47 PM [error response][launch]: Failed to launch debuggee VM. Reason: java.io.IOException: Cannot run program "C:\Program Files\Java\jdk-10.0.2\bin\java" (in directory "c:\Users\Sumanth\Documents\turbo-workspace\dev-for-uat-release18-elb"): CreateProcess error=206, The filename or extension is too long
Failed to launch

[2019-01-24 06:16] SupinePandora43 opened #525 "add 'java.debug.settings.onBuildFailed' config"
i trying to port java project from classpath, to gradle.
but i always have 'Build failed, do you want to continue?', and if press 'Proceed', code normal runs!
can you add config 'java.debug.settings.onBuildFailed' ['proceed', 'abort']?

[2019-01-24 13:04] SupinePandora43 commented on #525
or may be issue is 'gradle project always say 'Build Failed', but in proceed runs normal'

[2019-01-25 13:23] shivamju commented on #276
Hi ,

Are you able to resolve this issue.I am also stuck in similar problem.

[2019-01-25 14:36] andxu commented on #276
Reopen this issue , @shivamju could you please provide the reproduce step

[2019-01-25 15:32] #276 closed

[2019-01-26 02:42] Eskibear opened #526 "maven test scope dependency problem"
From https://github.com/Microsoft/vscode-maven/issues/165 by @fssrepository

------
v 1.29.1

Steps to Reproduce:

I have the following two dependencies in maven:

[code]

Although test scope is not transitive dependency it includes org.junit - suggested in the official spring documentation. - and it's working on netbeans 8.2

I have got several issues related to test packages, that org.junit / or

[2019-01-26 02:45] Eskibear commented on #526
Closing it, wrong place, should be the language server repo.

[2019-01-26 02:45] #526 closed

[2019-01-26 03:05] jonioni opened #527 "Single File Debugging with Classpaths Setting"
How could I add custom classpath for a single file?

##### Environment

- Operating System: macOS Mojave 10.14.2
- JDK version: 10.0.1
- Visual Studio Code version: 1.30.2
- Java extension version: Microsoft Java Extension Pack 0.4.0
- Java Debugger extension version: Microsoft Debugger for Java 0.16.0 - 2018-12-12

##### Steps To Reproduce

1. A simple file `Hello.java` (a single file in a simple

[2019-01-26 03:34] #527 closed

[2019-01-28 09:26] snowThinker opened #528 "Offline install failed"
[provide a description of the issue]

##### Environment
- Operating System: Win10
- JDK version: 1.8
- Visual Studio Code version: 1.30.2
- Java extension version:
- Java Debugger extension version:

##### Steps To Reproduce
1. code --install-extension vscjava.vscode-java-debug-0.16.0.vsix
2. read ECONNRESET

[attach a sample project reproducing the error]
[attach logs](https://github.com/redhat-d

[2019-02-04 05:11] NDelt commented on #524
I also have this issue. I've set terminal to start in code page 65001, but debugs session is started in `Debug Console` so Unicode strings are displayed as broken word.

[2019-02-06 19:02] bkbonner commented on #281
Is this still true?   I followed the path.   It sort of critical to be able to debug lambdas.

It looks like the bug in eclipse is here:  https://bugs.eclipse.org/bugs/show_bug.cgi?id=448473   (the other bug in the stack overflow was marked as a duplicate of this)

[2019-02-07 14:13] bkbonner commented on #506
This would be a really useful feature.

[2019-02-07 14:30] bkbonner opened #529 "Debug console does not wrap properly when parameters is at line edge of screen"
[provide a description of the issue]

##### Environment
- Operating System:  OSX
- JDK version:  1.8
- Visual Studio Code version:  1.3.1
- Java extension version:   0.38.0
- Java Debugger extension version:  0.16.0

1.  Size the debug window so the package breaks right at the parameter.

The parameter gets truncated on the screen

If the edge of the screen occurs in a package or classname, then i

[2019-02-08 11:32] bartosz-antosik commented on #110
Gentlemen, please could you do something about this problem as it practically renders VSCode unable to debug any non-trivial Spring Boot project on Windows!

The problem is, as @testforstephen pointed out, with Windows command line length limit which is 32768 characters.

It is also rather simple to reproduce as @EnriqueEll has shown: Once you have some very basic Gradle project for Spring Boot ap

[2019-02-11 03:33] yaohaizh commented on #529
@testforstephen Is there any user setting to configure the word wrap for the debug output console?

[2019-02-11 04:46] testforstephen commented on #525
@SupinePandora43 You can set the user settings `java.debug.settings.forceBuildBeforeLaunch` to `false` to disable build failed message.

[2019-02-11 05:20] testforstephen commented on #110
Sorry for the late response. Just got back from vacation. I'm trying to fix this problem. The idea is adding a new option `shortenCommandLine` in launch.json to control how to handle the command line.

The new option provides three possible values: `none`, `jarmanifest`, `argfile`.
- none: keep the default behavior.
- jarmanifest: generate the classpath parameters to a temp classpath.jar, and pass

[2019-02-11 08:42] magicmwt commented on #110
Looking forward to get your fix

[2019-02-11 09:05] bartosz-antosik commented on #110
@testforstephen The idea looks excellent! Exactly what is needed to straighten something that is unnecessarily convoluted. ;-) Looking forward for the modifications! Please let me know when this can be tested or if I can help in any other way!

[2019-02-11 10:52] SupinePandora43 commented on #525
ОК

[2019-02-11 10:52] #525 closed

[2019-02-12 07:11] testforstephen commented on #529
VS Code doesn't provide the work wrap settings for DEBUG CONSOLE view.

[2019-02-12 10:29] sandy081 opened #531 "Adopt extension for no reload on install"
Hi, I am a developer from VS Code and in the last release `1.31`, we added a new feature - no reload is required on installing an extension - https://code.visualstudio.com/updates/v1_31#_no-reload-on-install

But there are some exceptions to it as mentioned in the doc. If the extension is contributing to external contribution points, then the extension requires reload after installing. Hence, we a

[2019-02-14 09:01] testforstephen commented on #528
@snowThinker Have you tried offline install with vscode ui?
![image](https://user-images.githubusercontent.com/14052197/52775273-354ea280-307a-11e9-9ef1-ffd3bac756f3.png)

[2019-02-14 09:06] testforstephen commented on #520
@jdneo could you help a look?

[2019-02-14 09:06] jdneo commented on #520
@ecormaksin May I ask how do you trigger the test?

[2019-02-15 05:07] HelloWorld-orz opened #534 "Repeated start of spring boot will cause the output to fail to switch"
I started a spring boot, then modified some configurations and started it again. All of them started successfully. Then I switched the output console and found that I couldn't switch to the output of the first startup. Then I turned off the last startup program. At this time, you can see the output of the program that was started for the first time.

[2019-02-15 05:15] #517 closed

[2019-02-15 07:45] Eskibear commented on #534
Just a note that technically it's **able** to allow user repeatedly launch the same project via the CodeLens, by appending a hash value to the name for each launch.

[2019-02-15 07:46] pehalo commented on #534
@Eskibear My debug name seems to be different from yours. My name is at the beginning of CodeLens. Where am I getting it wrong?
![image](https://user-images.githubusercontent.com/15843581/52841897-73aa9700-3138-11e9-8107-2fa90f089963.png)

[2019-02-15 07:55] Eskibear commented on #534
@pehalo Nothing wrong, it doesn't matter. As far as I know, it's depend on the way you launch a project for the first time. Yours are created by clicking the "Run" CodeLens. I started the project by pressing <F5>.

[2019-02-16 10:51] dmarrazzo opened #535 "Debug console does not autocomplete when a .class file is open"
Debugging a remote process, in the debug console, I cannot get any suggestion to inspect the code.

##### Environment
- Operating System: Fedora 29
- JDK version: openjdk version "1.8.0_201"
- Visual Studio Code version: 1.31.1
- Java extension version: 0.38
- Java Debugger extension version: 0.16

##### Steps To Reproduce
1. run a server in debug mode
2. launch the debug session

##### Current Re

[2019-02-17 12:38] ecormaksin commented on #520
@jdneo Thanks for your reply.

I trigger the test by clicking 「Run Test」link on VS Code Editor.

I uploaded the repository as pubic.
https://github.com/ecormaksin/BatchTaskletApplication-1

Could you check  if you possible?

[2019-02-17 12:48] ecormaksin commented on #520
launch.json is below.

`
{
    "configurations": [
        {
            "type": "java",
            "name": "CodeLens (Launch) - BatchTaskletApplication",
            "request": "launch",
            "mainClass": "com.tasklet.batch.BatchTaskletApplication",
            "projectName": "BatchTaskletApplication-1"
        }
    ]
}
`

And java.test.config is below.

`
{
    "java.test.config": [

[2019-02-18 03:47] snowThinker commented on #528
I have been settle down by using synchronize ${user.home}/.vscode/extensions directory. Thank you.

[2019-02-18 05:10] testforstephen commented on #492
close with PR #533

[2019-02-18 05:10] #492 closed

[2019-02-18 05:14] testforstephen commented on #535
@yaohaizh could you have a look?

[2019-02-18 05:17] testforstephen commented on #528
thanks for the info. I will close it because you find the fix. Feel free to reopen it if you want to continue discussing it.

[2019-02-18 05:17] #528 closed

[2019-02-21 06:53] #110 closed

[2019-02-21 07:27] testforstephen commented on #110
Add a new value `auto` to smartly decide to shorten the classpath if necessary. So at most cases, you don't need care about the new config, it will auto handle the long command line. Below is the doc to explain each values.

`shortenCommandLine` - When the project has long classpath or big VM arguments, the command line to launch the program may exceed the maximum command line string limitation al

[2019-02-24 06:41] thanh125643 opened #537 "Debug not work with this situtional"
Issue Type: <b>Bug</b>

this is my launch.json file

[code]

the first program work fine with debug but the second is missing mainClass:"Graycodes"

but program have it

[code]

and this is my folder have all of my file
[https://imgur.com/qPO94rQ](https://imgur.com/qPO94rQ)
[https://drive.google.com/file/d/1BZr1ZODtrEVCXjdydac2K6Fq7t35JcJR/view?usp=sharing](https://drive.google.com/file/d/1BZr1ZOD

[2019-02-25 03:01] testforstephen commented on #537
@thanh125643 Could you show the result of vscode command `Java: List all Java source paths`
![image](https://user-images.githubusercontent.com/14052197/53311420-d0057780-38eb-11e9-91c0-1c82d17c23ab.png)

If it just lists "StudentID1\exercise1" at the result, then you need use the context menu "Add Folder to Java Source Path" to add the `exercise 2` as a source folder.
![image](https://user-images.

[2019-02-25 07:33] #522 closed

[2019-02-25 10:43] sallyur opened #538 "DeprecationWarning: Buffer() is deprecated due to security and usability issues"
##### Environment
- Operating System: All
- JDK version: 8 &11
- Visual Studio Code version: 1.31.1
- Java extension version: 0.39.0
- Java Debugger extension version: 0.16.0
- Build: 359

##### Steps To Reproduce
1.Install the build 359
2. Open one java project

##### Current Result
After the extension active, there is one error in toggle developer tools
![image](https://user-images.githubusercon

[2019-02-25 10:52] sallyur opened #539 "Error: Data tree node not found"
##### Environment
- Operating System: Win & Mac
- JDK version: 8 &11
- Visual Studio Code version: 1.31.1
- Java extension version: 0.39.0
- Java Debugger extension version: 0.16.0
- Build: 359

##### Steps To Reproduce
1. Open one java project
2. Press F5 to generate launch.json file

[attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

##### Current

[2019-02-25 11:23] sallyur opened #540 "When run the longclasspath project, sometimes the debug icon will gone"
##### Environment
- Operating System: Win & Mac
- JDK version: 8 &11
- Visual Studio Code version: 1.31.1
- Java extension version: 0.39.0
- Java Debugger extension version: 0.16.0
- Build: 359

##### Steps To Reproduce
1. Open the project "longclasspath"
2. F5 to generate launch.json
3. Modify the launch.json with the following combinations:
  "shortenCommandLine": ""/"auto"/"jarmanifest"/"argfil

[2019-02-25 11:48] sallyur opened #541 "In some cases, debug longclasspath project failed"
##### Environment
- Operating System: Win & Mac
- JDK version: 8 & 11
- Visual Studio Code version: 1.31.1
- Java extension version: 0.39.0
- Java Debugger extension version: 0.16.0

##### Steps To Reproduce
1. Open the project "longclasspath"
1. F5 to generate launch.json
1. Modify the launch.json with the following combinations:
  "shortenCommandLine": ""/"auto"/"jarmanifest"/"argfile", // argfi

[2019-02-26 06:17] andxu commented on #469
@sallyur  Sally Liu reports this issue again, @testforstephen  for investigation.

[2019-02-27 09:39] goxr3plus commented on #451
Just made a [question](https://stackoverflow.com/questions/54901961/visual-studio-code-spring-boot-project-change-spring-properties-additional-loc) on StackOverflow about it

It is actually the only reason that i am using Eclipse ... please can we implement it or have a workaround ?

I have a `local.properties` file which i want to override the `application.properties` file .

[2019-02-27 09:43] goxr3plus commented on #451
I am voting of configuring it thorugh `launch.json` for the begginning .

[2019-02-27 10:26] bartosz-antosik commented on #110
Hi! May I ask, when do you plan to release milestone 0.17.0? I am very eager to test, especially the above and it seems that all the issues are fixed?

[2019-02-27 11:43] testforstephen commented on #110
@bartosz-antosik We plan to hava a release at March 6th.

[2019-02-27 12:30] #537 closed

[2019-02-27 13:51] testforstephen commented on #537
@thanh125643 this is a good suggestion. i will consider adding some tutorials about how to debug standalone files. thanks.

@hexiaokai could we add a topic in our document to specially promote how to debug standalone java files?

[2019-02-27 16:38] hexiaokai commented on #537
We do have multiple source folder support documented https://code.visualstudio.com/docs/java/java-project#_multiple-source-folders. Maybe we should just list this in our Faq again? Any suggestion on how to make the document structure more useful for questions like this?

[2019-02-28 02:10] testforstephen commented on #537
@hexiaokai  It's definitely necessary to link our vscode docs to the java debugger github repo to improve the discovery.

It's ok to keep the structure of our official docs in https://code.visualstudio.com/docs/java, because it's targeting to help user quickly get started with java in vscode. I'd prefer to extend java debugger's wiki page, and add more tutorials to teach how to troubleshoot issues

[2019-02-28 05:28] testforstephen commented on #539
Cannot reproduce. Please uninstall other extensions and only keep Java Language Server and Java Debugger. Try again.

[2019-02-28 06:23] testforstephen commented on #540
In `Run` mode, if the `console` is `integratedTerminal` or `externalTerminal`, the program is started in the external shell, it's life cycle is out of control. The debug toolbar is useless in such situation, so disable it. This is by design.

[2019-02-28 06:23] #540 closed

[2019-02-28 08:08] testforstephen commented on #541
When launching the program in the terminal (integrated terminal or external terminal), the terminal will echo the total command line strings in the shell before executing the command. In the case of this bug, the command line strings are long, so the terminal needs more time to print the command line strings. Current timeout for launching in terminal is only 10 seconds. It's not enough for the lon

[2019-02-28 08:14] sallyur commented on #539
I only install Java Language Server and Java Debugger, then click F5, it can stable repro.
Attached the video
[ErrorRepro.zip](https://github.com/Microsoft/vscode-java-debug/files/2914020/ErrorRepro.zip)

[2019-02-28 08:25] testforstephen commented on #539
do you mean you can reproduce this issue in any java project? both windows and mac?

[2019-02-28 08:31] sallyur commented on #539
Yes, we can stable repro this issue with windows and mac when click F5 to generate launch.json.

[2019-02-28 08:36] testforstephen commented on #539
Could you share a project that can reproduce the issue?

[2019-02-28 08:44] testforstephen commented on #539
This is vscode bug. https://github.com/Microsoft/vscode/issues/68627

Could you try the latest vscode-insider version?

[2019-02-28 09:23] sallyur commented on #539
I used vscode-insider 1.32.0, this issue also repro.

[2019-02-28 09:32] sallyur commented on #540
Now the behavior of our extension is that the debug toolbar will not disappear when running some other projects, but when running longclasspath project sometimes the debug toolbar will disappear.
I think this behavior should be consistent with all projects.

[2019-02-28 09:44] testforstephen commented on #540
In `Run` mode, the debug toolbar auto disappear is by design. If not, please open a new bug.

[2019-02-28 09:59] sallyur commented on #540
If the console is `internalConsole` in `Run` mode the debug toolbar never disappear, it is also by design?

[2019-02-28 18:14] kdvolder commented on #451
@goxr3plus As a workaround, perhaps you can consider using spring profiles to help you out. Something like this:

1. place your 'local.properties' file alongside the normal 'application.properties' file.
2. rename 'local.properties' to 'application-local.properties'.
3. Enable the 'local' profile when launching your app. (To do this simply add a command line argument `--spring.profiles.active=loca

[2019-02-28 21:20] dmarrazzo commented on #535
I found that this problem is related to file .class.
In other words, when the source file is opened (because vscode is able to retrieve the sources), but the file is read-only. I think that this limit the debug console suggestion capability.

[2019-02-28 21:53] mattcobley commented on #451
Thanks for the comments, all.

Personally, I agree that a text-based solution would suffice, and for now I'm not even sure if context assist is essential - the main thing initially is to make users aware of how to override the properties using what is currently available.

Given the options that have been mentioned, if Spring profiles or launch arguments can be used to perform the same function as

[2019-03-01 10:12] goxr3plus commented on #451
@kdvolder  Worked like charm thank you so much :)

[2019-03-03 19:44] tendonstrength opened #542 "Trying to transfer "use classpath of module" from intellij"
I'm trying to migrate from Intellij to vscode, and I'm having trouble setting up my launch configuration.

In my Intellij run configuration I have a setting called "use classpath of module".

I'm trying to set up a launch configuration like this in vscode, but I don't see a place for that sort of option. I see a classPath option, but conversely that doesn't map to anything in my Intellij config.

[2019-03-04 01:59] testforstephen commented on #542
@tendonstrength "use classpath of module" is mapped to "projectName" in launch.json. This option is used to specify the preferred project in which the debugger searches for classes to run the application.

[2019-03-06 02:20] testforstephen opened #546 "Endgame 0.17.0"
# Build
- [x] 03/06 - Bump version to 0.17.0 @testforstephen
- [x] 03/06 - Add change log for 0.17.0 - @testforstephen
- [x] 03/06 - Signed RC Bits @testforstephen

# Test
- [x] 03/06 - Run test plan and verify new changes listed in [0.17.0 changelog](https://github.com/Microsoft/vscode-java-debug/blob/master/CHANGELOG.md#0170---2019-03-06)- @bsaby @sallyur

# Release
- [x] 03/06 - Add 0.17.0 tag

[2019-03-06 08:49] sallyur commented on #546
### Run test plan
Following https://github.com/Microsoft/vscode-java-debug/blob/master/TestPlan.md

**1. Configuration**

Windows：Vscode   1.31.1 JDK 8

**2. Open bug**
No new bug

**3. Test result**

Test   case | Windows
-- | --
Clean   install | Pass
Uninstall | Pass
Update | Pass
HelloWorld | Pass
CallStack | Pass
Multiple   Thread | Pass
Variables | Pass
Big   stack frame | Pass
Breakpoint

[2019-03-06 09:08] sallyur commented on #546
### Verify new changes
**1. Configuration**

Windows | Mac | Ubuntu
-- | -- | --
Vscode 1.31.1 JDK 8 | Vscode1.31.1 JDK   11 | Vscode1.31.1 JDK   8

**2. Open bug**
No new bug

**3. Test result**

Feature | Windows | Mac | Linux
-- | -- | -- | --
Uncaught Exceptions do not trigger a detail window #522 | Pass | Pass | Pass
Use webpack to reduce package size #517 | Pass | Pass | Pass
Improve the ext

[2019-03-06 10:11] bartosz-antosik commented on #110
It seems to be working fine on `auto`! Have not tested on specific settings. If you need/want to, let me know. ;-) Many thanks!

[2019-03-06 10:29] testforstephen commented on #110
@bartosz-antosik Nice to hear that works. Thanks for the quick verification.
`auto` is recommended. It will smartly decide the shorten mechanism.

[2019-03-06 10:32] testforstephen commented on #445
latest version 0.17.0 has fixed this issue. please let us know if you still have problems. thanks.

[2019-03-06 10:54] thiagoalvescosta commented on #445
Excellent! I try to open again my project! Thanks

[2019-03-07 01:27] #546 closed

[2019-03-07 03:15] RobberPhex opened #548 "show call stacks more friendly"
While debugging, the call stack panel list all of the threads:
![screenshot of call stacks](https://user-images.githubusercontent.com/1926185/53929809-ea98d700-40c9-11e9-8613-ccac0400f376.jpg)

But most of the threads are not related to the application; they are just builtin threads(`Finalizer`, most of `http-nio-808-exec-*`).
So, *why not just put threads into a drop-down box*?
When I select the

[2019-03-07 08:55] testforstephen commented on #548
This is involved with the vscode experience, oops. I'd suggest to move it to vscode repository for further discussion.

[2019-03-08 01:32] LukeJelly opened #549 "Java Debugger Crashing after a few Seconds"
Running a very simple java program and debugging the debugger seems to work fine for about 30 seconds then I get the following errors:
"[error] Error: Language client is not ready yet "
"[error] Cannot read property 'path' of undefined: TypeError: Cannot read property 'path' of undefined"
"[error] Running the contributed command:'java.execute.workspaceCommand' failed.: Error: Running the contribut

[2019-03-08 02:12] snjeza commented on #549
@LukeJelly You may want to take a look at https://github.com/redhat-developer/vscode-java/issues/828#issuecomment-470182218 and https://github.com/redhat-developer/vscode-java/issues/815#issuecomment-469826697

[2019-03-08 02:43] LukeJelly commented on #549
@snjeza  thanks for the quick reply.  I just ran a sfc /scannow and it came back with nothing.  I also double checked that my PATH environmental variable was set correctly and it all looked normal.  I then tried deleting the entire %UserProfile%.vscode\extensions\redhat.java- file and restarting.  As of right now I have a feeling that mite of fixed it.  The debugger has been sitting for over 30sec

[2019-03-08 03:33] LukeJelly commented on #549
@snjeza The debugger is still running. Thanks for your help!

[2019-03-08 03:33] #549 closed

[2019-03-13 05:54] cshung opened #550 "Could not load source '': SourceRequest: property 'sourceReference' is missing, null, or empty."
Cannot load source code during Java debugging in a certain scenario.

##### Environment
- Operating System: OSX
- JDK version: 1.8.0_201
- Visual Studio Code version: 1.30.2
- Java extension version:0.6.0
- Java Debugger extension version:0.17.0

##### Steps To Reproduce
1. Clone and build the google closure compiler at https://github.com/google/closure-compiler
2. Set a breakpoint at src/com/goog

[2019-03-15 13:41] dmarrazzo commented on #535
Hi @yaohaizh ,

this problem that I have noticed in attached mode is really simple to reproduce.
Write a simple code that use an opensource library like apache commons.
Step into the library code, it will open the *.class file (showing the source code).
In this situation the debug console is not able to provide suggestions.

If you need I can provide a reproducer project and a video.

Thank you

[2019-03-17 00:07] SirTwsted opened #551 "Java JDK and JRE can not be located error splash."
VS Code Version: 1.32.3 (system setup)
Commit: a3db5be9b5c6ba46bb7555ec5d60178ecc2eaae4
Date: 2019-03-14T23:43:35.476Z
Electron: 3.1.6
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 6.1.7601

Im getting this same error, even though I have Java v1.8.0.201-b09  installed.
Everytime I want to do something in Java, this stupid message comes up saying I dont have Java JDK and J

[2019-03-17 00:24] yaohaizh commented on #551
@SirTwsted Could you run "where java" to see whether you use the JDK instead of JRE?

[2019-03-17 00:50] SirTwsted commented on #551
Its a bit strange because I have the 64-bit version installed and when I search for it within the OS
it says its located in C:\Program Files\Java\jdk1.8.0_202
but this says its not,  so really confused now.
.
![Screenshot_34](https://user-images.githubusercontent.com/15247713/54483643-269c0c80-482d-11e9-95fd-7c21c7757804.png)

[2019-03-17 01:07] yaohaizh commented on #551
Yep, Orcale installs a default java runtime path on your C:\\ProgramData folder as I remember.

You need specify the java home value for the VSCode Java extension to work:

Either set JAVA_HOME value in the system environment:
![image](https://user-images.githubusercontent.com/17268517/54483746-cd1af880-4893-11e9-97b9-974e7a61b9ff.png)

Or set the value in the VSCode setting:
[code]

[2019-03-17 01:11] SirTwsted commented on #551
Ya those are set, its the first place I went to when I got the error

[2019-03-17 01:16] SirTwsted commented on #551
though im also starting to get this annoying popup notice everytime I select a java file, a bit annoying.
.
![Screenshot_36](https://user-images.githubusercontent.com/15247713/54483823-d45cea80-4830-11e9-88d0-3ddc84851e54.png)

[2019-03-17 01:35] yaohaizh commented on #551
See this link https://github.com/redhat-developer/vscode-java/wiki/%22Classpath-is-incomplete%22-warning for the first one.

For the second one, just click the 'Never', it will not display anymore.

[2019-03-17 01:57] SirTwsted commented on #551
Thank you  <3

[2019-03-18 20:06] richard-fairthorne opened #552 "Cannot find a class with a main method, looking in wrong directory, caps sensetive"
VSCode cannot find main method in Java on OSX. The errors show that it has capitalized the first segment of the path:

/Users/rich/...

becomes:

/USERS/rich/...

##### Environment
- Operating System: OSX 10.14.3
- JDK version:
- Visual Studio Code version:
- Java extension version:
- Java Debugger extension version:

##### Steps To Reproduce
1. Create a single Java file on a caps filesystem in yo

[2019-03-19 01:37] testforstephen commented on #550
duplicated with https://github.com/Microsoft/java-debug/issues/259

[2019-03-19 01:37] #550 closed

[2019-03-19 02:18] testforstephen commented on #552
@richard-fairthorne Do you mind sharing the whole log file for our investigation? Thanks.

Open VS Code command palette, and run command `Java: Open Java Language Server log file` to get the log file.

[2019-03-21 07:08] yaohaizh commented on #535
https://github.com/Microsoft/java-debug/pull/261

[2019-03-25 09:10] testforstephen commented on #521
By default, the debugger will show the Object physical structure directly. For some types, the Object structure is too trivial. We have plan to refine this.

There will be two steps to simplify the variable display.
- Show the logical structure for the types `<? extends java.util.Map>` and `<? extends java.util.Collection>`. This will be covered by https://github.com/Microsoft/vscode-java-debug/is

[2019-03-29 13:38] fbricon opened #553 "Automatically add --enable-preview to vmArgs, when necessary"
Following on https://github.com/redhat-developer/vscode-java/issues/671, when trying to run Java 12 code using preview features, you need to add the `--enable-preview` flag in the launch configuration's `vmArgs`:
[code]

This could be done automatically by the vscode-java-debug extension

[2019-03-30 00:24] agumpg opened #554 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-java-debug`
- Extension Version: `0.17.0`
- OS Version: `Darwin x64 17.7.0`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/agumpg/vscjava.vscode-java-debug-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-cause

[2019-03-31 02:28] emadams93 commented on #302
I am having the same problem in Visual Studio.  It has happened a few times today.  I am debugging code that I edited, but it keeps running the same code over and over, no matter what change.  I even commented out a bunch of code, I set break points, and it just runs right through with the old code.

[2019-03-31 02:35] emadams93 commented on #302
Since I am connecting to a database to extract data to some variables in the program, and this seems to be where the hangup is occurring, I intentionally changed to password to throw an error connecting to the database, and then when I changed the password back it works again after that.

[2019-03-31 03:21] emadams93 commented on #302
And it just happened again, and this time I changed the password to connect to the database to an incorrect password, but it is still running the code before the changes were made.

[2019-03-31 05:06] jstanley23 opened #555 "java.lang.UnsupportedClassVersionError"
Unable to run debug against java files. Seems like vscode is compiling with one version and running with another.

Debug Console message:
java.lang.UnsupportedClassVersionError: HelloWorld has been compiled by a more recent version of the Java Runtime (class file version 52.65535), this version of the Java Runtime only recognizes class file versions up to 52.0
at java.lang.ClassLoader.defineClass1

[2019-03-31 07:41] chejdj commented on #555
I meet the same problem

[2019-03-31 08:25] hyzups commented on #555
@jstanley23, @chejdj, could you guys invoke "Java: Clean the Java language server workspace" command or "Java: Force Java Compilation" to see whether fix this problem?

[2019-03-31 08:27] yaohaizh commented on #555
could you guys invoke "Java: Clean the Java language server workspace" command or "Java: Force Java Compilation" to see whether fix this problem?

[2019-03-31 08:37] yaohaizh commented on #302
could you invoke "Java: Clean the Java language server workspace" command or "Java: Force Java Compilation" to see whether fix this problem?

[2019-03-31 09:28] HCYeung commented on #555
It does not work for me.

[2019-03-31 11:02] nateshmbhat commented on #555
Environment : Linux falcon 4.15.0-29deepin-generic #31 SMP Fri Jul 27 07:12:08 UTC 2018 x86_64 GNU/Linux

JAVA_HOME =  /opt/jdk1.8.0_201

[code]

[2019-03-31 12:46] jstanley23 commented on #555
Neither command did anything for me

[2019-03-31 14:14] SupriseBoy commented on #555
i am having the same problem.  it was working in the am fine but after the last java update at 9:53 pm on 2019-03-29 i started having this problem.  any suggestions would be appreciated. thanks

[2019-03-31 14:15] bill-mao commented on #555
me too

[2019-03-31 17:47] srini4000 commented on #555
same issue for me. Any one has a workaround ?

[2019-04-01 01:10] NeverKnowsTomorrow commented on #555
+1, I meet the same problem, I have tried to uninstall vscode and jdk1.8 (clear almost everything), and reinstall them, but it doesn't work. I believe my env is correct.

[2019-04-01 02:26] sparkrico commented on #555
i meet same issue

[2019-04-01 02:45] yaohaizh commented on #555
Could you guys share your project here?

[2019-04-01 02:59] testforstephen commented on #555
Here is a workaround.
In launch.json file, add `"vmArgs": "--enable-preview"` to your debug configuration.
[code]

[2019-04-01 03:26] bill-mao commented on #220
I worked it out by new a Java project rather than running a single current file.

[2019-04-01 03:38] sparkrico commented on #555
https://github.com/Microsoft/vscode-java-debug/tree/master/testprojects/1.helloworld

[2019-04-01 04:19] testforstephen commented on #555
@sparkrico YES, this issue only happens on standalone java files. No impact on maven, gradle, eclipse project. That's because redhat.java@0.42.0 just released recently, it will auto enable `enable-preview` compiler option for standalone java files to support java 12. If your JDK is 8, this option doesn't work. For JDK 11 above, you could add "vmArgs": "--enable-preview" to your debug configuration

[2019-04-01 04:24] testforstephen commented on #553
This `vmArgs` is not recognized by Java 8. We need distinguish the JVM version first and determine whether to add this flag.

[2019-04-01 04:27] nateshmbhat commented on #555
[code]

It shows me unrecognized option '--enable-preview' .

Unrecognized option: --enable-preview
Error: Could not create the Java Virtual Machine.
Error: A fatal exception has occurred. Program will exit.

[2019-04-01 05:59] nateshmbhat commented on #555
I was using jdk8 and now removed it installed jdk 11 . But the following error occurs when using the 'vmArgs' option .

/```
usr/lib/jvm/java-11-openjdk-amd64/bin/java -agentlib:jdwp=transport=dt_socket,server=n,suspend=y,address=localhost:45357 --enable-preview -Dfile.encoding=UTF-8 -cp "/home/natesh/.config/Code/User/workspaceStorage/f25dfee3d49af82423e43be725d04ec1/redhat.java/jdt_ws/CN group a

[2019-04-01 05:59] testforstephen commented on #555
@nateshmbhat This option doesn't work for java 8. We're trying to provide a fix on redhat.java side.

[2019-04-01 06:01] nateshmbhat commented on #555
ya even after installing jdk11 , it shows the above error

[2019-04-01 06:02] testforstephen commented on #555
Invoke "Java: Clean the Java language server workspace" command or "Java: Force Java Compilation" to see whether fix this problem

[2019-04-01 06:14] nateshmbhat commented on #555
It did . Thank you :)

[2019-04-01 07:19] medsonk commented on #555
Resolved.
summary：
1.make sure uninstall jdk8 clean
2.install jdk11
3.add "vmArgs": "--enable-preview" in launch.json
4.F1, "Java: Clean ……" and "Java: Force ……"
5.run standalone file again

[2019-04-01 12:09] jstanley23 commented on #555
Resolved following @medsonk's instructions

[2019-04-01 12:24] sparkrico commented on #555
@testforstephen  yes , i was using jdk8.
I finally understood why.
Thank you.

[2019-04-01 18:02] FreeRayda commented on #555
When is this problem fixed "officially"?

[2019-04-02 03:04] testforstephen commented on #555
The hotfix release redhat.java@0.42.1 is published, please update the extension. Meanwhile, you might need to clean the workspace folders though, after reopening your folder.

[2019-04-02 03:04] #555 closed

[2019-04-03 01:54] demanLiu opened #556 "java.lang.NoClassDefFoundError"
[provide a description of the issue]
I use spring-boot 2.1.3.RELEASE ,when I run application
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'entityManagerFactory' defined in class path resource [org/springframework/boot/autoconfigure/orm/jpa/HibernateJpaConfiguration.class]: Invocation of init method failed; nested exception is java.lang.NoClassDefFoundError

[2019-04-03 02:12] yaohaizh commented on #556
@testforstephen @Eskibear Could you help investigate this problem?

[2019-04-03 10:29] testforstephen commented on #551
I saw this problem is solved, close the issue. Feel free to reopen it if you want more support.

[2019-04-03 10:29] #551 closed

[2019-04-03 10:31] testforstephen commented on #542
@tendonstrength Does the explanation above solve your question?