[2017-09-13 08:05] jdneo opened #5 "Cannot remote debug"
I'm trying to using remote debug mode to debug my project, but I cannot set the breakpoint and the language server seems not working.

My project structure looks like this:
![image](https://user-images.githubusercontent.com/6193897/30366354-54138440-989d-11e7-8b96-ff970d5acc72.png)

[2017-09-14 02:58] yaohaizh opened #8 "If no launch.json is generated yet, press `F5` and choose Java will not start debugging"
Console Error:

`
Missing property 'type' for the chosen launch configuration.: Error: Missing property 'type' for the chosen launch configuration.
`

[2017-09-14 03:24] yaohaizh opened #9 "Could we automatically calculate/resolve the main class of the project for debugging"
It is not user friend to fill the main class in the debugging process. The IDEs (IDEA/Eclipse) doesn't require the user to fill these values but just choose the default one.

[2017-09-14 03:56] yaohaizh opened #10 "The program output and debug output are mixed in the Debug Console"
Project: https://github.com/fbricon/vscode-java-demo
System: Ubuntu

1. Git clone the project
2. Open with VSCode and wait for the project initialized with language server
3. Config launch.json
4. Start debugging

Expected: The program and debug information should be output to two separated console

Actually: All the information are directed to the debug console.

[code]

[2017-09-14 05:29] yaohaizh opened #11 "Line number is not corrected match for system classes on the Ubuntu"
Project: https://github.com/fbricon/vscode-java-demo
System: Ubuntu

1. Git clone the project
2. Open with VSCode and wait for the project initialized with language server
3. Config launch.json
4. Start debugging

Issue:  Debug into the system classes such as Arrays/AbstractCollection, it will stop at the last line

[code]
![error](https://user-images.githubusercontent.com/17268517/30413350-0d8aa3

[2017-09-14 08:18] testforstephen opened #12 "Support cwd settings for debuggee program"

[2017-09-15 04:19] #10 closed, assigned to nobody

[2017-09-18 07:09] testforstephen opened #14 "Two stopped events for step and breakpoint."
when I steps into a line which contains an existing breakpoint, two stop events will be sent targeting at the same thread id which causes two stack frame requests with same thread id, which will cause vscode report duplicate stack id error:
![image](https://user-images.githubusercontent.com/14052197/30531854-62d76854-9c83-11e7-9a76-1065d4902785.png)

[2017-09-18 07:30] testforstephen opened #15 "Debugger should have some response message to user's debug action when it's waiting for LS to be up."
When the language server is not ready, user click 'F5' or 'debug button' to launch a debug session, the debugger just waits for language server to be up silently without any response message. It should add some progress status or notification message to let user know what happens now.

[2017-09-19 02:01] andxu opened #16 "Variable view shows unreadable chars for original Chinese characters variable"
![image](https://user-images.githubusercontent.com/14052197/30104914-8dd2facc-9329-11e7-86ce-e26e264b37f0.png)

[2017-09-19 08:17] andxu opened #19 "Should support class/package name with special characters."
Like the following java file:
package ab$c;
public class Hello$orld {

}

[2017-09-20 00:00] #16 closed, assigned to andxu

[2017-09-20 01:50] #11 closed, assigned to testforstephen

[2017-09-20 01:50] #8 closed, assigned to testforstephen

[2017-09-20 04:37] bsaby opened #20 "Could not find or load main class GradleTest"
OS: Windows 10
Build: https://vscjavaci.cloudapp.net/job/vscode-java-debug.vsix/16/Azure/
VSCode: 1.16.1 x86
JDK: 1.8.0.14  x64

Repro Steps:

1. Open vscode and open folder the extracted folder 12. gradle from testcase.zip
2. Open GradleTest.java, and set breakpoint on line 4
3. Wait for language server ready, and verify two files: .classpath and .project are created.
4. Start debug

![image](htt

[2017-09-20 04:48] bsaby opened #21 "Illegal argument"
OS: Windows 10
Build: https://vscjavaci.cloudapp.net/job/vscode-java-debug.vsix/16/Azure/
VSCode: 1.16.1 x86
JDK: 1.8.0.14 x64

Repro steps:
1. Open vocode and open folder the extracted folder 8.nosource from testcase.zip
2. Open NoSourceTest.java, and set breakpoint on line 4: System.out.println(i+10);
3. Start debug and wait for breakpoint hit
4. Switch to the Foo.java -1  stack fame
5. Press F5

[2017-09-20 05:04] bsaby opened #22 "There is a delay of about 10s to show right site of the content in call stack list"
OS: Windows 10
Build: https://vscjavaci.cloudapp.net/job/vscode-java-debug.vsix/16/Azure/
VSCode: 1.16.1 x86
JDK: 1.8.0.14 x64

Repro steps:
1. Just first open folder the extracted folder 6. recursivefunction from testcase.zip after opening VSCode
2. Open RecursiveTest.java, and set breakpoint on line 8: return 1
3. Start debug and wait for breakpoint hit
4. Verify the call stack list

Result:
![i

[2017-09-20 05:36] bsaby opened #24 "Plugin uninstall error"
OS: Windows 10
Build: https://vscjavaci.cloudapp.net/job/vscode-java-debug.vsix/16/Azure/
VSCode: 1.16.1 x86
JDK: 1.8.0.14 x64

Repro Steps:

1. Click uninstall java Debug Extension for Visual Studio Code
2. Choose All in following dialog

![image](https://user-images.githubusercontent.com/22470312/30628015-4fd9e72a-9e06-11e7-9892-919c36c84e15.png)

![image](https://user-images.githubusercontent.c

[2017-09-20 07:03] #22 closed, assigned to nobody

[2017-09-21 03:06] akaroml opened #26 "Support "stopOnEntry" in launch.json"
By having this option, users won't need to explicitly set a breakpoint on the project. Debug session will stop right after launch.

[2017-09-21 03:08] adashen opened #27 "[Launch] Cannot launch debug first time just after adding launch.json"
Steps:
1. Import a maven project
2. Add launch.json
3. F5 to debug
4. Fail to start
5. F5 again
6. Start debugging.

Expect:
should start after step 3.

[2017-09-21 03:08] adashen opened #28 "[Desired] Launch.json could get source path from pom"

[2017-09-21 03:18] adashen opened #29 "[Launch.json] Does not support "*" class match in args"
Steps
1. In launch.json add config: "args": "com.microsoft.azuretools.adauth.*",
2. F5 to start debug
3. Got error:
initializationError(org.junit.runner.JUnitCommandLineParseResult)
java.lang.IllegalArgumentException: Could not find class [com.microsoft.azuretools.adauth.*]
	at org.junit.runner.JUnitCommandLineParseResult.parseParameters(JUnitCommandLineParseResult.java:102)
	at org.junit.runner.J

[2017-09-21 03:22] jdneo opened #30 "Step over hit on the comment"
I'm using remote debug mode.

Screenshot:
<img width="1440" alt="screen shot 2017-09-21 at 11 21 49 am" src="https://user-images.githubusercontent.com/6193897/30677582-1b88b6ae-9ebf-11e7-8b34-1da0f9ca68ad.png">

[2017-09-21 03:33] jdneo opened #31 "[Remote Debug]Step into doesn't act as expect"
When the debugger hit the breakpoint as follows:
<img width="592" alt="screen shot 2017-09-21 at 11 29 40 am" src="https://user-images.githubusercontent.com/6193897/30677795-7500e944-9ec0-11e7-977e-24184f320dec.png">

Then I click step into:
the debugger doesn't step into the method: ```initFormContents()```, but goes into somewhere else:
<img width="736" alt="screen shot 2017-09-21 at 11 33 00 am

[2017-09-21 03:38] andxu opened #32 "Should not start debug when build is not done or is failed"

[2017-09-21 03:42] testforstephen opened #33 "Debugger should allow user to specify launching cli command in launch.json"
In order to debug spring mvc projects with vscode-java-debug, user need run `mvnDebug tomcat7:run` on cmd first, then configure attach options in launch.json.
Actually debugger can integrate the launch command in launch.json. And use `launchInTerminal` feature to execute the launching command in VSCode integrated terminal automatically. Then debugger attaches to the debug port to start debugging.

[2017-09-21 03:45] Eskibear opened #34 "[Pause on exception] cannot open src file at pausing when it is too deep in the callstack"
Steps:

0. Open a complicated Java project, e.g. `azure-tools-for-java`
1. Open the same project in Eclipse, add VM options
```-agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=<PortNumber>```
and `Run` it in eclipse.
2. Check `Caught Exceptions`,  set corresponding port `<PortNumber>`, attach the debugger.
3. The main threads pauses on exception, but no available src files in top call

[2017-09-21 03:51] Eskibear opened #35 "Error occurs on randomly hovering mouse on src code"
Don't know exact condition to trigger, it just occurs randomly at my sight.

![image](https://user-images.githubusercontent.com/2351748/30678187-0f319d86-9ec3-11e7-8a3a-8586ba7be765.png)

[2017-09-21 03:59] jdneo opened #36 "[Enhancement] Add variable to watch automatically"
When I use IntelliJ to debug, it will add variable to watch automatically:
<img width="1407" alt="screen shot 2017-09-21 at 11 53 18 am" src="https://user-images.githubusercontent.com/6193897/30678344-3585fa08-9ec4-11e7-94cd-f189fe2a331d.png">

It will be better if vsc java debugger also support this
<img width="1403" alt="screen shot 2017-09-21 at 11 54 28 am" src="https://user-images.githubuserc

[2017-09-21 05:34] andxu opened #37 "step out of enum valueOf has wrong source"
![image](https://user-images.githubusercontent.com/17075863/30680335-8b4797f0-9ed1-11e7-84a6-649fb29b4b62.png)

[2017-09-21 05:36] andxu opened #38 "should resolve mainClass and sourcePaths from project settings if not specified"

[2017-09-21 05:42] andxu opened #39 "breakpoint cannot hit on inner class"
![image](https://user-images.githubusercontent.com/17075863/30680521-aba0863c-9ed2-11e7-9fd4-dd9870600a8c.png)

the bp to print to inner2 cannot be hit

[2017-09-21 05:49] andxu opened #40 "Step over the last sentence should exit the application"
![image](https://user-images.githubusercontent.com/17075863/30680697-ad1b3ace-9ed3-11e7-99eb-6b240c139b3a.png)
Don't step over thread.java

[2017-09-21 05:53] andxu opened #41 "Should avoid start two debug sessions for one debug configuration"
![image](https://user-images.githubusercontent.com/17075863/30680788-33b71ad0-9ed4-11e7-9b88-320324dc58ea.png)
We should avoid two start request during startup.

[2017-09-22 01:50] #5 closed, assigned to testforstephen

[2017-09-24 09:06] testforstephen opened #46 "No java support for third party class file opened by debugger"
when stepping into a class from the classpath, it's not open properly, as you have no java support for that class (no documentation on hover, no ctrl+click navigation)

[2017-09-24 11:20] yaohaizh opened #47 "Support Java 9"
1. Java 9 is officially out
2. The JDT.LS is WIP here: https://github.com/eclipse/eclipse.jdt.ls/pull/324/files

We need prepare the support for Java 9

[2017-09-24 11:23] yaohaizh opened #48 "Investigate the debugger with decompiler support"
There is a PR on the JDT.LS for decompilers. This may help our debugger for binary code. We might follow with this PR: https://github.com/eclipse/eclipse.jdt.ls/pull/360

[2017-09-25 02:22] #41 closed, assigned to yaohaizh

[2017-09-25 07:31] akaroml opened #50 "0.1.0 endgame"
- Pending changes
    - Telemetry
        - [x] 9/25 - Telemetry instrumentation #45 Microsoft/java-debug#40 – @eskibear
        - [x] 9/25 – generate log file on disk - @eskibear
        Postponed to 0.2.0
        - [x] 9/25 – Telemetry data validation with BI team – @andxu @eskibear
        - [x] 9/25 – CI: AI AppKey replacement - @testforstephen
    - Bugs
        - [x] #41
        - [x] #39

[2017-09-25 11:03] #39 closed, assigned to testforstephen

[2017-09-25 11:22] testforstephen opened #54 "Update jar version and load bundle throw exception"
reproduce steps:
1. Update the jar from 0.1.0-SNAPSHOT to 0.1.0, build new vsix
2. Uninstall old vsix from vscode
3. Install new vsix
4. From the logs, it throws exception:
<pre>
[Error - 7:16:53 PM] Sep 25, 2017 7:16:53 PM Failed to load extension bundles
Load bundle list
org.eclipse.core.runtime.CoreException: Load bundle list
	at org.eclipse.jdt.ls.core.internal.handlers.BundleUtils.loadBundles

[2017-09-26 06:10] andxu opened #57 "LS stuck on 22% of maven spring boot for nearly 1 minute."

[2017-09-26 06:17] andxu opened #58 "program args doesn't support Chinese"
![image](https://user-images.githubusercontent.com/17075863/30845312-65dfd41c-a2c5-11e7-9172-6355b3f170e8.png)

[2017-09-26 06:32] andxu opened #59 "Exception on threads request"
[Error - 2:22:01 PM] Sep 26, 2017 2:12:02 PM DebugSession dispatch exception: com.sun.jdi.VMDisconnectedException: Got IOException from Virtual Machine
Got IOException from Virtual Machine
com.sun.jdi.VMDisconnectedException: Got IOException from Virtual Machine
	at org.eclipse.jdi.internal.connect.PacketReceiveManager.getReply(PacketReceiveManager.java:186)
	at org.eclipse.jdi.internal.connect.Pa

[2017-09-26 07:39] #57 closed, assigned to andxu

[2017-09-27 03:20] andxu opened #63 "Should log exception when executing workspace command"

[2017-09-27 06:10] #63 closed, assigned to testforstephen

[2017-09-27 08:16] akaroml opened #67 "0.1.0 RC Bits Validation"
# Smoke Test
1. Installation
2. Add debug configuration
3. Launch/Attach/Stop/Detach
4. Set/Remove breakpoint
5. Step In/Out/Over, Continue/Pause
6. Variables/Watch/Call Stack/Threads

Validated the workflow using the following configurations:

- [x] Mac - Maven (Simple App archetype) - Pass - @akaroml
- [x] Mac - Maven - https://github.com/spring-projects/spring-petclinic - Pass - @akaroml
- [x]

[2017-09-27 08:49] #67 closed, assigned to ansyral, testforstephen, akaroml, andxu, yaohaizh

[2017-09-27 08:57] #50 closed, assigned to akaroml

[2017-09-27 13:55] fbricon opened #68 "Support hot class reloading"
While debugging, making a non breaking change to a source file (i.e don't change method signature, add new method...) should make the debugger restart the current method call, without breaking the debugging session (same as in Eclipse).

[2017-09-27 13:56] aeschli opened #69 "Improve debugger extension name"
![image](https://user-images.githubusercontent.com/6461412/30916815-988e96e8-a39a-11e7-93f8-8285bbc33957.png)

- The extension name is very long. 'for Visual Studio Code' should be removed, it is true for all extensions in the Visual Studio Code marketplace
- Also, searching for 'Java debugger' doesn't list it in the top entries

Some suggesions
- Java Debugger
- Debugger for Java
- Language Suppo

[2017-09-27 14:01] aeschli opened #70 "Improve market place description"
- The first sentence contains a link to 'https://github.com/Microsoft/java-debug'
   - it is currently still private
   - it is, IMO, rather an implementation detail, a normal user can't do much with that

-> Better mention in the first sentence that this one extends the Java Language Support by Red Hat.

- needs a link to this repo (once public): https://github.com/Microsoft/vscode-java-debug

[2017-09-28 02:11] testforstephen opened #71 "Refine launch config names 'remoteHost'/'remotePort' vs 'hostName'/'port'"

[2017-09-28 03:12] Eskibear opened #72 "HelloWorld hangs on running state."
Repro steps:
1. open a simple HelloWorld program, without setting any breakpoints.
2. press `F5` for multiple times with a super fast speed.

Actual behavior:
states of all the threads are running now, and you cannot pause them.

![image](https://user-images.githubusercontent.com/2351748/30947609-4156738e-a43d-11e7-9072-d33bb5810b5b.png)

[2017-09-28 03:17] testforstephen opened #73 "String variable cannot be copied because it's trimmed by debugger"
![image](https://user-images.githubusercontent.com/14052197/30947731-e65dfc9e-a43d-11e7-96a1-3dc62a6a9f0f.png)

For this case, i want to copy the string variable to a txt and compare it with another program result. But the debugger gives me a trimmed string instead of the complete string. And the user doesn't have any other way to get the full string.

We need figure out how to handle the long str

[2017-09-28 03:21] #72 closed, assigned to nobody

[2017-09-28 08:15] andxu opened #74 "telemetry should record the right timestamp right than the same time of session end at vscode side."

[2017-09-29 03:49] testforstephen opened #75 "Support config environment variables for launching"
![image](https://user-images.githubusercontent.com/14052197/31000155-2c5b7a2c-a50c-11e7-8da5-e12feb191f96.png)

[2017-09-29 06:11] #28 closed, assigned to ansyral

[2017-09-29 06:12] #38 closed, assigned to ansyral

[2017-09-29 06:58] andxu opened #76 "[Junit] Junit support for java debug"

[2017-09-29 06:59] #29 closed, assigned to testforstephen

[2017-09-29 07:10] #37 closed, assigned to testforstephen

[2017-10-03 16:55] atacraft opened #79 "Support for SBT debug with play framework?"

[2017-10-08 02:06] qpflxk opened #80 "Error "Cannot determine executable for debug adapter '{0}'." when trying to debug a simple Gradle project."
![image](https://user-images.githubusercontent.com/32587873/31313230-0cb9987a-abab-11e7-95ff-e7555f474335.png)

As shown in the snapshot above, just had a simple gradle java project setup following their instruction here (https://guides.gradle.org/building-java-applications/). As long as the java goes, it runs fine and produced a line output in the terminal.

![image](https://user-images.githubuse

[2017-10-09 00:41] andxu commented on #80
The mainClass is wrong, should be "App", but the error message has showed our debug server is not getting started, cannot reproduce on my machine, can you open the console by click help=>Toggle develop tools in vscode, and give us the error log?

{
  // Use IntelliSense to learn about possible attributes.
  // Hover to view descriptions of existing attributes.
  // For more information, visit: htt

[2017-10-09 03:36] qpflxk commented on #80
I wasn't really sure about that since I have just started JAVA and was used to working with single JAVA file projects. Because I wasn't sure about the mainClass argument, I actually tried that too before posting this.

![image](https://user-images.githubusercontent.com/32587873/31324431-768b6910-ac80-11e7-800b-c73f23349fcb.png)

Still doesn't work.

I will attach the error messages shown in the de

[2017-10-09 05:59] andxu commented on #73
https://github.com/Microsoft/vscode-java-debug/pull/81

[2017-10-09 07:15] #74 closed

[2017-10-09 07:20] yaohaizh opened #82 "Update with the new debug authoring from VSCode 1.17.0"
https://code.visualstudio.com/updates/v1_17#_multi-root-guide-for-extension-authors

[2017-10-09 07:25] yaohaizh commented on #21
@testforstephen Please verify this issue on VSCode 1.17.0

[2017-10-09 07:33] yaohaizh commented on #15
Have dependency on VSCode-java. Need look into the vscode-jave for UI hint.

[2017-10-09 08:57] andxu commented on #59
https://github.com/Microsoft/java-debug/pull/67

[2017-10-09 09:10] andxu commented on #31
It is because IntelliJ add generated method $$$setupUI$$$ at runtime:

![image](https://user-images.githubusercontent.com/17075863/31331402-bd217f1a-ad14-11e7-941c-3b26d5bacd73.png)

[2017-10-09 09:11] andxu commented on #31
Close because the debugger behavior is reasonable.

[2017-10-09 09:11] #31 closed

[2017-10-09 09:13] andxu commented on #27
Verified at vscode 1.17, the bug is fiexed.

[2017-10-09 09:13] #27 closed

[2017-10-10 08:00] andxu commented on #80
I can repro it now on insider version, we will support insider version on 0.2.0 which has the new version of debug protocol, so  now, you can switch to normal version to have a try, I will keep this issue open until the code fix for new version vscode is done.

[2017-10-10 08:14] andxu commented on #80
Dup as https://github.com/Microsoft/vscode-java-debug/issues/82

[2017-10-10 10:07] bsaby commented on #24
OS: Windows 10
Build: 43
VSCode: 1.17.0 (x86/x64)
JDK: 1.8.0.14 x64
uninstall plugin:
![image](https://user-images.githubusercontent.com/22470312/31381017-c7393d7c-ade5-11e7-831b-8932d50eb225.png)

[2017-10-10 14:02] rajarshikhare opened #85 "mainClass Should Accept varaiable"
If i put ${fileBasenameNoExtension} on mainClass inside launch.json it does'nt resolve it as a file name
or their should be something  that should take filename as mainClass automatically.

[2017-10-10 20:54] TheSinding opened #86 "no way to take input"
Hi, is it me or is there no way to take input from the user, with ex.
[code]

There is no console to type input into ?
I've tried using the "console": "internalTerminal" and other's but it does not work with any of that, is it an limitation from this ext ?

[2017-10-11 01:14] #59 closed

[2017-10-11 01:32] testforstephen commented on #86
@TheSinding currently the debug console doesn't support typing input yet.
But you can launch your java program manually in a standalone terminal.
`java -agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=1049 -cp ./bin YourMainClass`

Then start the debug with attach mode.
<pre>
    {
      "type": "java",
      "name": "Java Debug (Attach)",
      "request": "attach",
      "hostName":

[2017-10-11 21:34] clankill3r opened #89 "Failed to resolve classpath: Main class 'org.example.test.Test' doesn't exist in the workspace."
I created a workspace like this:

<img width="720" alt="screen shot 2017-10-11 at 23 27 55" src="https://user-images.githubusercontent.com/738650/31468083-9893b19e-aedc-11e7-9832-ed75f4566273.png">

I get the following error:

 to resolve classpath: Main class 'org.example.test.Test' doesn't exist in the workspace.

What am I doing wrong?

[2017-10-12 03:26] ansyral commented on #34
this is by design. When source file is missing for 3rd party jars, we couldn't show the source.

[2017-10-12 03:26] #34 closed

[2017-10-12 06:50] testforstephen commented on #46
fixed.

[2017-10-12 06:50] #46 closed

[2017-10-12 06:52] testforstephen commented on #21
Based on the PR https://github.com/Microsoft/java-debug/pull/58, the debugger will reuse the java language server to render the third-party contents. So this issue doesn't exist any more.

[2017-10-12 06:52] #21 closed

[2017-10-12 06:57] testforstephen opened #90 "Support update the invalid breakpoint into next valid line."
https://code.visualstudio.com/updates/v1_17#_debug-adapter-protocol

[2017-10-12 08:40] bsaby opened #91 "Target VM is already terminated"
OS: Windows10
VScode: 1.17.1 （32/64）
JDK: 1.8 (x86/x64)
Build: https://vscjavaci.cloudapp.net/job/vscode-java-debug.vsix/45/Azure/

This error occurs every time debug ends
![image](https://user-images.githubusercontent.com/22470312/31486925-a6bf3970-af6b-11e7-80f4-6fb1ad49c1f5.png)
shell.ts:454 Target VM is already terminated.: Error: Target VM is already terminated.
    at file:///C:/Program File

[2017-10-12 09:33] TheSinding commented on #86
Arh okay, thanks!

[2017-10-12 09:34] testforstephen commented on #89
@clankill3r The debugger doesn't support package structure for simple java folder yet, you should put Test.java to the root folder and remove org.example.test package declaration. Or open a maven/eclipse/gradle project to try the debugger, because the debugger supports those mature projects more friendly.

[2017-10-12 11:03] clankill3r commented on #89
I tried that and it is extremely bugged.

This project works fine:
<img width="1060" alt="screen shot 2017-10-12 at 12 58 02" src="https://user-images.githubusercontent.com/738650/31492931-59b8e662-af4d-11e7-948f-d7275a322508.png">

With this one I get "Error: Could not find or load main class Test"
<img width="1025" alt="screen shot 2017-10-12 at 12 58 30" src="https://user-images.githubuserconte

[2017-10-12 11:10] clankill3r commented on #89
The maven project works fine however. But I do hope we can go without a maven/eclipse/gradle in the future.

[2017-10-13 01:21] testforstephen commented on #89
This is a know issue that we're fixing. The reason is that the language server doesn't compile the Test.java in background. The workaround is that you modify the Test.java file and that'll trigger the incremental build to generate the Test.class in cache.

@ansyral Please take a look at this issue.

[2017-10-13 07:11] jopbrown opened #93 "Support set extra classpath with maven project"
I need to add an extra classpath based on a maven project.
If I add the extra classpath to `classPaths`, the main class can't be found.

It seems launch option `classPaths` will overwrite classpaths automatically resolved from maven project.

Dose the debugger support set extra classpath and preserve automatically resolved classpaths just like eclipse?
![2017-10-13_150917](https://user-images.gith

[2017-10-13 07:42] testforstephen commented on #79
The compiler and ASTParser of java debugger is based on [java language server support](https://github.com/redhat-developer/vscode-java) plugin, currently because there are no language server support for scala and sbt yet, we prefer to revisit this feature in future.

[2017-10-13 08:49] atacraft commented on #79
Thanks for replying! I understand.
Maybe you've already seen it but here are some people trying to work around sbt and scala ...

[https://marketplace.visualstudio.com/items?itemName=itryapitsin.Sbt](url)
[https://marketplace.visualstudio.com/items?itemName=lightbend.vscode-sbt-scala#overview](url)
[https://marketplace.visualstudio.com/items?itemName=daltonjorge.scala#overview](url)

[2017-10-13 09:35] #91 closed

[2017-10-13 11:25] clankill3r commented on #89
I tried that but it does not seem to work. Anyway, I hope a solution will
come soon. For now I will use a maven project.

2017-10-13 3:21 GMT+02:00 Jinbo Wang <notifications@github.com>:

[2017-10-14 06:42] yaohaizh commented on #70
Fixed in:  https://github.com/Microsoft/vscode-java-debug/pull/92

[2017-10-14 06:42] #70 closed

[2017-10-14 06:42] yaohaizh commented on #69
Fixed in https://github.com/Microsoft/vscode-java-debug/pull/92

[2017-10-14 06:42] #69 closed

[2017-10-16 05:18] akaroml opened #94 "Debugger to work with standalone source file"
Support debugging source code that doesn't belong to a project (Eclipse/Maven/Gradle). Code runners are very popular. Let's add debugging support.

[2017-10-16 05:20] akaroml commented on #89
@clankill3r #94 is created for this scenario. We'll be working on supporting debugging source code without a project.

[2017-10-16 05:23] akaroml commented on #93
Please see if we can inherit whatever classpath from Maven project and append what's specified in launch.json instead of replacing.

[2017-10-16 05:28] akaroml opened #95 "Generate debug configuration with correct mainClass"
To decrease the user error of main class, let's generate a working launch.json by default.

Currently, the generated launch.json does not have main class specified. With the help of new configuration provider mechanism of VS Code, we have the chance to calculate the correct configuration and return to VS Code to persist as launch.json.

When generating debug configuration, we iterate all the main

[2017-10-16 05:31] #80 closed

[2017-10-16 05:32] #82 closed

[2017-10-16 05:32] akaroml commented on #86
@testforstephen can we support launching in the integrated terminal for this scenario?

[2017-10-16 05:33] akaroml commented on #85
Please see how we can let VS Code resolve the variables before passing the string to us. In this way, we support any variables that are available in VS Code.

[2017-10-16 05:35] #35 closed

[2017-10-16 05:39] akaroml commented on #79
@atacraft Our current focus is Java. But we encourage the community to take the debugger to debug other JVM based languages like Scala.

[2017-10-16 05:43] andxu opened #96 "Not a project with java nature."
stackTrace: 'org.eclipse.core.runtime.CoreException: Not a project with java nature.\n\tat com.microsoft.java.debug.plugin.internal.JdtSourceLookUpProvider.getJavaProjectFromName(JdtSourceLookUpProvider.java:227)\n\tat com.microsoft.java.debug.plugin.internal.JdtSourceLookUpProvider.searchDeclarationFileByFqn(JdtSourceLookUpProvider.java:237)\n\tat com.microsoft.java.debug.plugin.internal.JdtSourc

[2017-10-16 06:36] testforstephen commented on #86
@akaroml yes, the feature `supportsRunInTerminalRequest` provided by VSCode is exactly for this scenario.

[2017-10-16 11:31] testforstephen commented on #19
the breakpoint support for this kind of class works in current debugger code. it doesn't work well when search the source file of these special classes. That's because the search engine cannot handle the class name with $ very well. I'm looking a way to improve the search engine.

[2017-10-16 11:34] testforstephen commented on #30
cannot reproduce this, needs more info.

[2017-10-16 15:40] musiKk opened #98 "command 'vscode.java.startDebugSession' not found"
I just installed the extension via the Java Extensions Pack on an OS X 10.12. On Linux I had good experiences but now I only get the error "command 'vscode.java.startDebugSession' not found" whenever I try to launch an application.

The developer tools spit out the following in the console:

[code]

My launch configuration contains nothing special:

[code]

I don't know what else to provide. Pleas

[2017-10-17 01:31] testforstephen commented on #98
@musiKk Could you share us VSCode version, your debugging project type and the log file?
You can click `command + shift + P` to pop up a dropdown box, then select `Java: Open Java Language Server log file` to show the log file.

[2017-10-17 02:43] testforstephen commented on #58
Cannot reproduce it, @andxu What's the encoding type of your project.

[2017-10-17 06:23] musiKk commented on #98
Ok, it turns out, my configuration was wrong. I had some remnants from my previous setup which caused Redhat's Java extension to not work properly. This caused the mentioned behavior. I guess the Java Debugging Extension also failed to load somehow because of that because your proposed command for opening the log also created a similar error than when I tried to launch something.

So I guess I can

[2017-10-17 08:26] testforstephen commented on #98
Good to hear that you fix it by yourself. The java debugger extension works as a plugin of Redhat's Java extension. So if that extension failed to activate, the debugger would not work either.

This is an activation issue, and the error message is from VSCode code. No way to change it on debugger. Besides, any code on debugger extension would not be executed if the depended extensions cannot be ac

[2017-10-17 08:26] #98 closed

[2017-10-18 03:16] testforstephen opened #100 "Should clean up the stale StepRequest"
![image](https://user-images.githubusercontent.com/14052197/31699397-7dee8ada-b3f5-11e7-9280-1c56a7a6f7c4.png)

For the sample code, when step over the `line 5`, actually it's broken by breakpoint at `line 9`. The pending StepRequest will never be clean up by the debuggee JVM.  We should handle this kind of case to clean up the stale step requests.

[2017-10-18 04:00] testforstephen opened #101 "The debugger jump to the wrong source code for Step.java"
![image](https://user-images.githubusercontent.com/14052197/31700409-c234265e-b3fb-11e7-8c5c-e6a78ce584e4.png)

My main class is called `Step.java`, but when the breakpoint was hit, the debugger jumps to the wrong step.class.
![image](https://user-images.githubusercontent.com/14052197/31700431-f29aefee-b3fb-11e7-938d-15b2489fc285.png)

[2017-10-18 05:58] #14 closed

[2017-10-18 06:13] testforstephen commented on #101
When search the fully qualified name `Step`, the search engine also matches the result `com.sun.org.apache.xalan.internal.xsltc.compiler.Step`. That's not accurate. Should filter the wrong match from results.

[2017-10-18 15:34] akaroml commented on #101
This is related to "Just my code" feature which tries to navigate to users' own code when looking for source. Let's think of a systematical way to handle this problem.

[2017-10-18 15:37] akaroml opened #103 "Provide command to continue/pause all/other threads"
When debugging a multi-thread application (Java in our case), there can be multiple threads paused at the same time. Our Java debugger only stops/continues one thread at a time. So when you hit a breakpoint in a runnable which is executed by multiple threads, it is really painful for to continue them one by one:
image

It would be really nice if vscode provides the menu entry to continue all the s

[2017-10-18 15:38] akaroml commented on #96
@andxu please provide detailed steps of how to reproduce this issue.

[2017-10-18 15:49] #54 closed

[2017-10-19 03:13] yaohaizh opened #105 "0.2.0 Endgame"
- Test
    - [x] 10/19 - RC Bits build [#29](https://vscjavaci.cloudapp.net/job/vscode-java-debug.vsix-withSign/29/Azure/) - @testforstephen
    - [x] 10/19 -  Test on the Mac - @testforstephen
    - [x] 10/19 - Test on Linux/Ubuntu environment - @yaohaizh
   -  [x] 10/19 - Update experience from 0.10 to 0.2.0 - @yaohaizh
    - [x] 10/19 – Resolve main class - @andxu
    - [x] 10/19 – Support exte

[2017-10-19 10:32] jdneo commented on #30
Guessing this is because the target program to be debugged has its own JDK runtime. In this case, it is IntelliJ 2017 with JDK 1.8.152.

While the VS Code Java debugger will use the system's JDK. In this case, it is JdK 1.8.131.

[2017-10-20 03:20] akaroml commented on #105
# Basic Scenario Validation

Tested using the following project:
1. Hello World - maven-archetype-quickstart
2. Spring Boot PetClinic
3. gs-spring-boot-docker

Test results:
1. Launch.json can be correctly generated with main class filled
2. Program can be launched or attached correctly
3. Variables can be inspected correctly
4. Call stacks can be viewed correctly
5. Breakpoints inside local sourc

[2017-10-20 03:21] akaroml commented on #105
@testforstephen @andxu @ansyral @yaohaizh please add more details of how you validated your area by commenting this issue.

[2017-10-20 03:42] testforstephen commented on #105
both vscode-java-debug and vscode-java-pack extensions 0.2.0 are published to marketplace.
https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-debug
https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-pack

[2017-10-20 03:46] yaohaizh commented on #105
# Test on Linux/Ubuntu environment

1. Project petclinic
2. Go through features: Breakpoint/callstack/view variable/external sources/main class/threads

Result:
1. This version works as expected.

# Test for update

1. Project petclinic without launch.json
1. Install VSCode Debugger for Java V0.1.0
2. Install the VSCode Debugger for Java 0.2.0
3. Set beakpoint on main and start debugging

Result:

[2017-10-20 03:54] testforstephen opened #107 "Show the minimum compatible VSCode and java language server extension version in readme"

[2017-10-20 07:53] andxu commented on #105
# Support external files/lib source debugging

1. Project https://github.com/vscjavaci/java-debug-ci/tree/master/testcase/9.realcase.lucene
2. Go through features: set Breakpoint on lucene class opened by goto definition.

Result:
1. This breakpoint is hit with the right source position

# Test for resolving main class

1. Project Project https://github.com/vscjavaci/java-debug-ci/tree/master/test

[2017-10-24 06:13] testforstephen commented on #47
TODO:
- Support set breakpoint in java 9 source file.
- Auto resolve module path from project settings.
- Support launch options in java 9. (e.g. --module-path, -m)

[2017-10-24 08:32] hspeed opened #110 "CreateProcess error=206, The filename or extension is too long"
/C:/Program Files/Microsoft VS Code/resources/app/out/vs/workbench/workbench.main.js:28 Failed to launch debuggee VM. Reason: java.io.IOException: Cannot run program "F:\job\2017\vscode\dev_tools\20170918\Java\jdk1.8.0_91\jre\bin\java": CreateProcess error=206, The filename or extension is too long.

[2017-10-24 10:33] andxu commented on #58
This bug refers the problem of the encoding in the source file and the encoding in  the compiled class file and the encoding settings during run-time,  any mismatch of it will cause messy code. The eclipse ide provides full control of these encoding settings, I think we can simplify it in vscode through encoding settings in project level.

[2017-10-25 01:30] testforstephen opened #111 "should not include test classes in classpaths when auto resolve maven project"
Original notes from @claycephas ,
https://github.com/Microsoft/vscode-java-debug/pull/108#issuecomment-339014200

Current implementation just invoked `JavaRuntime.computeDefaultRuntimeClassPath(javaProject)`, the result is not accurate. Need fix these two issues:
1. When debugging a maven-based project with VS Code, it is including test classes in the classpaths.

2. For maven project with multipl

[2017-10-25 09:27] bsaby opened #112 "Java runtime could not be located"
OS: win10
VScode: 1.17.2()x64/x86
Jdk: 1.8.0_151(x64/x86)
Plugin: daily build 59

Repro steps:
1. Install Language Support for Java by Ret hat and Java debug plugin
2. Reload
3. Open a project folder and open a .java file in this project

![image](https://user-images.githubusercontent.com/22470312/31990746-8aca5262-b9a8-11e7-8f9f-f32ccb5beb53.png)
@yaohaizh

[2017-10-25 09:30] yaohaizh commented on #112
@bsaby Is the `JAVA_HOME` set in your system environment?

[2017-10-25 09:35] bsaby commented on #112
Yes. And after this error occured, restart vscode, Java runtime will work fine.

![image](https://user-images.githubusercontent.com/22470312/31991455-64b7c8e6-b9aa-11e7-8d25-96ce01276afe.png)

[2017-10-25 09:40] yaohaizh commented on #112
It seems the value is not properly resolved by VSCode java extension at the first time. You need restart the VSCode after your set the system variable.

[2017-10-25 23:58] andxu opened #113 "Error: Could not find or load main class Orders"
https://www.reddit.com/r/vscode/comments/78pcx9/question_java_newbie_trying_to_debug_java_in_vs/

[2017-10-26 02:03] testforstephen commented on #113
Looks like duplicate with https://github.com/Microsoft/vscode-java-debug/issues/89

[2017-10-26 02:03] #113 closed

[2017-10-26 03:09] #105 closed

[2017-10-26 03:18] akaroml opened #114 "Expression Evaluation"
Adding support for evaluating complex expressions.

[2017-10-26 03:20] akaroml opened #115 "Support multi-root workspace"
VS Code will be releasing the long-anticipated multi-root workspace support. Accordingly, we need to also make sure the debugger can work correctly in such workspaces.

[2017-10-26 03:22] akaroml opened #116 "Hot code replacement"
Hot code replacement will make remote debugging much more pleasant by eliminating the step of redeploying changes. This is targeting 0.5.0 release.

[2017-10-26 03:51] akaroml commented on #71
As discussed, we want to be very careful of introducing new configuration entries. The hostName and port are capable enough of describing whatever needed for remote debugging. So this issue will be closed without making changes.

[2017-10-26 03:51] #71 closed

[2017-10-26 03:53] akaroml commented on #33
The original issue can be resolved by adding preLaunchTask. It would be nicer if vscode provide an event to allow cleanups. But this issue can be closed for now.

[2017-10-26 03:53] #33 closed

[2017-10-26 03:55] akaroml commented on #24
This issue is not tracked and was closed by bots at vscode side. @yaohaizh please check the vscode side to see whether further fix is needed.

[2017-10-26 03:56] akaroml commented on #24
Microsoft/vscode#34794

[2017-10-26 03:56] akaroml commented on #20
@andxu please update the progress.

[2017-10-26 03:57] akaroml commented on #40
@testforstephen any updates?

[2017-10-26 03:57] akaroml commented on #32
@ansyral any updates?

[2017-10-26 03:58] akaroml commented on #30
@testforstephen any updates?

[2017-10-26 03:58] akaroml commented on #9
This is already released. Close the issue.

[2017-10-26 03:58] #9 closed

[2017-10-26 06:07] akaroml opened #117 "0.3.0 Plan"
Here are the major areas we will be working on in 0.3.0 release:
- [x] Fix bugs regarding Java 9 #47 @testforstephen
- [x] Support debugging JUnit test cases #76 @ansyral
- [x] Support debugging standalone Java source file #94 @ansyral
- [x] Start implementing expression evaluation #114 @andxu
- [x] Multi-root workspace support #115 @yaohaizh
- [x] Start implementing hot class reloading #68 @yaoha

[2017-10-26 06:10] akaroml commented on #75
Since this is already demoed, we can consider releasing it in 0.3.0.

[2017-10-26 06:13] akaroml opened #118 "Conditional breakpoints"
Support conditional breakpoints with complex expressions. This is a feature that can be released after expression evaluation is in place.

#114 is for tracking expression evaluation.

[2017-10-26 06:15] akaroml commented on #114
We already have a working demo. Please try to release it in 0.4.0.

[2017-10-26 06:16] akaroml commented on #116
#68 is already tracking this. Close this one as a duplicate.

[2017-10-26 06:16] #116 closed

[2017-10-26 06:18] akaroml commented on #79
This issue is put into backlog. We can revisit when we decide to support scala.

[2017-10-26 06:19] akaroml commented on #96
Close because further info is missing.

[2017-10-26 06:19] #96 closed

[2017-10-26 06:20] akaroml commented on #107
@testforstephen Please include this info in readme under system requirements/compatibility section.

[2017-10-26 06:21] akaroml commented on #110
@testforstephen please follow up with this.

[2017-10-26 06:23] akaroml commented on #112
@bsaby please verify if you can still reproduce the issue by setting JAVA_HOME properly.

[2017-10-26 08:02] bsaby commented on #112
Still reproduce this issue by setting JAVA_HOME properly using daily build 60.
And this issue only reproduce when reload not restart vscode after installing two java plugin

[2017-10-26 08:33] yaohaizh commented on #24
The original is fixed.

For this one, it will pop up about the file is been locked, which is a common handling mechanism for locked resources that found on windows/linux.

So close this issue as by design.

[2017-10-26 08:33] #24 closed

[2017-10-26 20:13] fbricon opened #120 "Support running command before attaching debugger"
It's possible to debug tests running from a Maven build by calling [`mvn -Dmaven.surefire.debug test`](http://maven.apache.org/surefire/maven-surefire-plugin/examples/debugging.html), then attaching the debugger to a remote Java process on port 5005, like
[code]

So this requires 2 separate actions from the user. Ideally, one would define a new 'surefire-debug' task for `mvn -Dmaven.surefire.debug

[2017-10-27 02:57] akaroml commented on #112
@yaohaizh please further investigate this issue.

[2017-10-27 20:22] claycephas commented on #111
Some potential places to look:

* https://github.com/Microsoft/java-debug/blob/master/com.microsoft.java.debug.plugin/src/main/java/com/microsoft/java/debug/plugin/internal/ResolveClasspathsHandler.java
* https://github.com/eclipse/eclipse.jdt.debug/blob/fce60cee0f2525cbeeb808581833fbaa9deaa449/org.eclipse.jdt.launching/launching/org/eclipse/jdt/launching/JavaRuntime.java

[2017-10-30 05:47] ansyral commented on #76
1 language server generate and resolve junittest codelens
2 investigate junit interface for invoking a test in commandline
3 customized junit test runner which could run/debug test suites and print test structure and test duration, test status(failure with stacktrace)
4 vscode extension adds commands for junittest run/debug codelens

[2017-10-30 05:49] ansyral commented on #32
this depends on [building workspace command](https://github.com/eclipse/eclipse.jdt.ls/pull/326)

[2017-10-30 06:27] testforstephen commented on #111
For maven project with multiple modules, the auto-generated classpaths by the debugger didn't contain the depended modules' classpaths. Also need fix it.

[2017-10-30 09:00] yaohaizh commented on #68
Work item for this issue:
[ ] Hook up with the current build cycle and debug adapter to trigger hot code replacement
[ ]

[2017-10-30 21:48] fbricon commented on #120
@aeschli does it make sense to generalize that feature request to vscode itself?

cc @gorkem

[2017-10-30 21:51] gorkem commented on #120
We probably need a new a concept like `debugTask` on the launch that can delegate the running of the debugged application to a task. /cc @weinand

[2017-11-01 02:06] testforstephen commented on #12
merged.

[2017-11-01 02:06] #12 closed

[2017-11-01 02:06] testforstephen commented on #75
merged.

[2017-11-01 02:06] #75 closed

[2017-11-01 02:10] testforstephen commented on #30
Show a warning message to tell user the remote debuggee jvm version is different with jvm installed the working PC.

[2017-11-01 02:36] testforstephen opened #121 "Improve the source lookup engine"
Current search engine has some issues:

1. Search Engine will resolve classes that is not in current project among workspace which makes the source mapping not compatible with project settings. (https://github.com/Microsoft/java-debug/issues/31)
2. Search Engine cannot handle the class name with $ very well. (https://github.com/Microsoft/vscode-java-debug/issues/19)
3. The Search policy is a kind

[2017-11-01 02:37] testforstephen commented on #101
duplicated with #121

[2017-11-01 02:37] #101 closed

[2017-11-01 02:37] testforstephen commented on #19
duplicated with #121

[2017-11-01 02:37] #19 closed

[2017-11-01 04:00] ansyral commented on #95
delivered in 0.2.0

[2017-11-01 04:00] #95 closed

[2017-11-02 08:57] testforstephen commented on #40
Can be implemented by step filter feature. Suggest to expose step filter options in launch.json to allow user to specify the filter list.

[2017-11-02 10:04] bsaby opened #122 "Error in DEBUG CONSOLE panel for testcase 9.realczase.lucene"
OS: Win10
VScode:  1.17.2 (32/64)
JDk: 1.8.0_151(x64)
Daily build 73

Repro steps:

1. Open the testcase 9. realcase.lucene
2. Open LuceneTest.java, and set breakpoint on line 43: writer.deleteAll();
3. Start debug and wait for breakpoint hit
![image](https://user-images.githubusercontent.com/22470312/32320300-3920316a-bff8-11e7-8b51-6ef995ed61ba.png)

[2017-11-02 10:08] bsaby opened #123 "No variables shown in VARIABLES when attach debug"
Attach debug a project and no variables shown in VARIABLES view

[2017-11-02 12:23] testforstephen commented on #120
@fbricon @gorkem
duplicate with https://github.com/Microsoft/vscode-java-debug/issues/33, the `preLaunchTask` works with `mvnDebug tomcat7:run`, but it seems you need click the debug button twice.

[2017-11-02 12:28] franciscocpg opened #125 "Unable to create 'launch.json' file inside the '.vscode' folder"
I'm getting the error `Unable to create 'launch.json' file inside the '.vscode' folder` when trying to add a new debug configuration

**Java**
[code]

**Stack**
[code]

[2017-11-02 15:14] weinand commented on #120
For node.js debugging we've solved the problem by allowing any program/script to be used in a launch configuration. The only requirement is that the program/script opens a debug port at the end and then the debugger can attach to it.

Example:

first a regular config for a node.js program:
[code]
Here `program` is a node.js program passed to a `runtimeExecutable`. If the `runtimeExecutable` is not

[2017-11-02 19:22] claycephas commented on #111
Is there a way to make this conditional so that some launch configurations include the test classes and some don't? I'm thinking we would want to support debugging the implementation code (without tests) or debugging unit tests (which should include tests).

[2017-11-02 19:30] erdenedavaa opened #126 "Couldn't find a compatible version of Debugger for Java with this version of Code."
When press "Install", then appear this error.
vscode version 1.9.1
jdk 1.8.0.131

[2017-11-03 01:31] testforstephen commented on #126
@erdenedavaa The minimum VSCode version that the Debugger for Java depends on is `1.17.0`. Please update vscode to latest version and try again.

[2017-11-03 01:43] bsaby commented on #123
Variables can now be displayed normally, so close this issue.
BUild: 74

[2017-11-03 02:51] testforstephen commented on #111
We'll add special support for JUnit. See task https://github.com/Microsoft/vscode-java-debug/issues/76

[2017-11-03 05:58] #107 closed

[2017-11-03 05:59] #126 closed

[2017-11-03 09:43] bsaby opened #128 "FrameworkEvent ERROR"
OS: Mac
VSCode: 1.17.2
JDK: 1.8.0_151
Daily build :74

Open a java project to debug and find a frameworkevent errors in Java language server log file.

**Error log**
![image](https://user-images.githubusercontent.com/22470312/32367781-550496c0-c0be-11e7-85e3-1cf2da372f12.png)

[2017-11-03 12:55] testforstephen commented on #120
@weinand Thanks for the suggestion. Got it.

if java debugger sends `mvn -Dmaven.surefire.debug test` command by `runInTerminalRequest` to vscode,  vscode will execute it in integrated terminal. But because the `mvn` command doesn't return an exit code, vscode will just send the process id back. And the debugger itself need poll the debug port to see if the launching operation is ready. Right?

[2017-11-03 13:16] weinand commented on #120
Yes, your understanding is correct. Here are some additional details:

There are basically two ways a DA can run a target (the `mvn -Dmaven.surefire.debug test` in this case):
- it can run the target directly as a sub-process of the DA and track the exit code, process ID itself and any output itself (this is the default behaviour used in the node-debug when no `console` attribute is specified).
-

[2017-11-03 13:51] testforstephen commented on #120
Understand, i think i got the answer. Thanks again.
Currently we have taken the first way to launch normal java program. And plan to try the second way for those programs with input/output requirement.

[2017-11-05 10:20] Blackjack92 opened #130 "Unable to Debug any Code"
Hello everybody,

when I enable the following packages:

- Debugger for Java
- Java Extension Pack
- Language Support for Java

I cannot start any kind of debugging. Not even Python, Node.js, etc. Also I am not able to add any configuration (I can click the buttons but nothing happens). Furthermore I don't see any problem in the problem window.
When I disable these packages I am able to debug and

[2017-11-05 11:31] ansyral commented on #76
https://github.com/eclipse/eclipse.jdt.ls/pull/420

[2017-11-06 05:27] akaroml commented on #125
@ansyral please investigate and assign the proper iteration for a fix.

[2017-11-06 05:27] yaohaizh commented on #115
Blocking by the PR: https://github.com/eclipse/eclipse.jdt.ls/pull/412

[2017-11-06 05:31] akaroml commented on #130
@Blackjack92 thanks for reporting this issue. What kind of project are you working with? Currently, Maven/Gradle/Eclipse projects are supported. And it would be helpful to know the version of VS Code and all three extensions.

When you start debugging, VS Code asks the language type. And after you pick "Java", our code kicks in and try to generate a working configuration. It should not block you f

[2017-11-06 05:33] akaroml commented on #128
@yaohaizh please investigate.

[2017-11-06 05:34] akaroml commented on #123
@andxu please investigate.

[2017-11-06 05:35] akaroml commented on #122
@andxu please investigate.

[2017-11-06 05:59] yaohaizh commented on #128
Since the java & java debugger cannot start from the log, this is a normal error situation here.

[2017-11-06 05:59] #128 closed

[2017-11-06 05:59] yaohaizh commented on #128
Add related issue: https://github.com/Microsoft/vscode-java-debug/issues/112

[2017-11-06 06:21] testforstephen opened #131 "0.3.0 Endgame"
- Prepare RC
    - [x] 11/8 - Bump version to 0.3.0 - @testforstephen
    - [x] 11/8 - Add change log for 0.3.0 - @testforstephen
    - [x] 11/9 - Signed RC Bits ([#31](https://vscjavaci.cloudapp.net/job/vscode-java-debug.vsix-withSign/31/Azure), [#32](https://vscjavaci.cloudapp.net/job/vscode-java-debug.vsix-withSign/32/Azure/), [#34](https://vscjavaci.cloudapp.net/job/vscode-java-debug.vsix-with

[2017-11-06 06:58] yaohaizh commented on #112
VSCode will not populate its system environment when reload. See the VSCode issue here: https://github.com/Microsoft/vscode/issues/6333

[2017-11-06 08:09] Blackjack92 commented on #130
Hello @akaroml thanks for response.

I was working on no specific file it was just a `Main.java` class with a `static void main` to print hello world. Furthermore I used the newest version of all three extensions (I cannot name them - sorry).

I could not even start debugging because the selection dialog for the language type did not appear.

You can close this bug because I changed my system from

[2017-11-06 10:16] testforstephen commented on #47
Implemented by PRs:
https://github.com/Microsoft/vscode-java-debug/pull/124
https://github.com/Microsoft/java-debug/pull/90

[2017-11-06 10:16] #47 closed

[2017-11-06 13:16] michelkaporin commented on #125
Having the same issue.

Steps to reproduce:
1. Open Java project in VS Code with no .vscode folder in it.
2. Go to debug viewlet, press run, quickpick menu with Java debugger pops up.
3. Press Java.

First it hangs for some time, then
`Unable to create 'launch.json' file inside the '.vscode' folder (Error).`is shown.

[2017-11-06 16:51] claycephas commented on #76
Regarding 2. [JUnitCore](http://junit.sourceforge.net/javadoc/org/junit/runner/JUnitCore.html) allows for running a single class. But it looks like you might need [another solution](https://stackoverflow.com/questions/9288107/run-single-test-from-a-junit-class-using-command-line) in order to run a specific method.

[2017-11-07 01:47] testforstephen commented on #30
The fix is to show a warning message when the debugger and the debuggee are running in the different versions of JVMs.

[2017-11-07 01:47] #30 closed

[2017-11-07 02:34] ansyral commented on #76
@claycephas  JunitCore doesn't provide a way to run a single test, so we have to provide a customized junit  runner. About how to run a single test, i 'm thinking to use this method : http://junit.sourceforge.net/javadoc/org/junit/runner/Request.html#method(java.lang.Class, java.lang.String)

[2017-11-07 03:16] andxu commented on #123
the test case misses -g parameter to javac, causing the .class file contains no DEBUG information including the variable table.

[2017-11-07 03:17] #123 closed

[2017-11-07 05:13] andxu commented on #20
Synced with Mona, this issue cannot be reproduced since new red-hat plugin has released.

[2017-11-07 05:13] #20 closed

[2017-11-07 06:50] bsaby opened #132 "Can't auto generating java launch configuration in launch.json file"
OS: Windows
VSCode: 1.17.2 32
JDK: 9.0.1_64
Daily build: 78

1. Open testcase 2.CallStack in VS Code with no .vscode folder in it.
2. Go to debug view, press run, quick pick menu with Java debugger pops up.
3. Press Java.
**Result:**
![image](https://user-images.githubusercontent.com/22470312/32480632-ba3a8dba-c3ca-11e7-847e-bb01d08cd3d4.png)
**Expect:**
![image](https://user-images.githubusercont

[2017-11-07 06:52] andxu commented on #85
attached with the issue in vscode.

[2017-11-07 06:54] #122 closed

[2017-11-07 09:10] bsaby opened #134 "The Gradle project loading process always hang"
OS: Windows
VSCode: 1.17.2 32
JDK: 9.0.1_64
Daily build: 78
Testcase: 12.Gradle (with no laungh.json in .vscode folder)

![image](https://user-images.githubusercontent.com/22470312/32485289-deaafd5c-c3dd-11e7-9ca5-7f49b0aa5500.png)

[2017-11-07 09:23] #94 closed

[2017-11-07 09:24] #26 closed

[2017-11-07 09:26] ansyral commented on #32
delivered but waiting for language server's next release because of https://github.com/redhat-developer/vscode-java/pull/357

[2017-11-07 09:28] bsaby commented on #132
And the debugger will get a NullPointerException when debuging those cases that can auto generate debug launch configuration in launch.json file.

LOG:
![image](https://user-images.githubusercontent.com/22470312/32486169-ccb457da-c3e0-11e7-93c9-08f8fdf2195a.png)

[2017-11-07 21:53] claycephas commented on #76
Yes, I think you could use the [Request class](http://junit.sourceforge.net/javadoc/org/junit/runner/Request.html) together with [JUnitCore](http://junit.sourceforge.net/javadoc/org/junit/runner/JUnitCore.html). Something like this.

When running a single method from method code lens:
[code]

When running an entire class from class code lens:
[code]

[2017-11-08 03:10] testforstephen opened #137 "StopOnEntry doesn't work for java 9 project"
For java 9 project, the main class likes `com.microsoft.app.mymodule/com.microsoft.app.App`.
StopOnEntry doesn't work.

[2017-11-08 04:01] testforstephen commented on #100
A pending step need be cancelled if a breakpoint suspends execution during the step.

[2017-11-08 06:41] AlexMAS opened #140 "Debug Java Web Applications"
Hello!

I suppose my question can be quite stupid because I have not enough experience with Java. But anyway. Is there possible to debug Java Web Applications? For example, I have an application which can be hosted on Apache Tomcat and I would like to debug it in VSCode using your extension, like I can debug it in Eclipse or IntelliJ IDEA using an appropriate debug configuration.

[2017-11-08 07:29] andxu commented on #140
Currently, the launch mode cannot support launch web app in web container, but the attach mode should support debug servlet (jsp is not supported) , but we have not tested it yet, I will keep this issue open as the task from supporting web containers, please keep eyes on this issue for updates.

[2017-11-08 14:08] fbricon commented on #140
@AlexMAS take a look at [this article](https://medium.com/@davidnussio/start-tomcat-with-jrebel-hot-reload-and-debug-support-from-maven-command-line-26278dd9a464). Even if you don't use JRebel, you'll see how to attach the debugger to a remote tomcat process.

[2017-11-08 16:50] aeschli opened #142 "Java server started when clicking on 'config launch config'"
- Java extension pack installed
- have a non Java project open in VSCode
- open the debug viewlet and click on 'configure launch config'.
- Surprisingly, this takes a few seconds. Check the status line and see that the Java language server is starting

-> As I'm in a non-Java project, the Java debug extension should detect that and not try to contribute a debug configuration and start the Java lan

[2017-11-09 01:53] andxu commented on #93
The extra class path is reasonable, but the removed class path is not reasonable, I will impl this feature in 0.4.0

[2017-11-09 02:00] testforstephen commented on #142
Because VSCode stopped supporting `onDebug:type` activation event, java debugger can only configure the activation event `onDebug`. It seems Java debugger/Language server extension will be activated so long as the user clicks `F5` on any project.

[2017-11-09 08:28] yaohaizh commented on #115
# Test on Linux/Ubuntu environment

1. Project petclinic
2. Project with single file
2. Ubuntu 16.04 LTS
4. VSCode 1.18.0 (The latest version with Mutli-root)
3. Go through features: Breakpoint/callstack/view variable/external sources/main class/threads/java 9/single files)

Result:
1. This version works including Java as expected.
2. The single file debugging works as expected.

[2017-11-09 08:29] yaohaizh commented on #131
# Test on Linux/Ubuntu environment

1. Project petclinic
2. Project with single file
2. Ubuntu 16.04 LTS
4. VSCode 1.18.0 (The latest version with Mutli-root)
3. Go through features: Breakpoint/callstack/view variable/external sources/main class/threads/java 9/single files)

Result:
1. This version works including Java as expected.
2. The single file debugging works as expected.

[2017-11-09 09:13] testforstephen commented on #131
- ## Java 8 test on Mac

JDK: 1.8.0_121-b13

Java 8 Sample project: [5.breakpoint](https://github.com/vscjavaci/java-debug-ci/tree/master/testcase/5.breakpoint)

1. Update vsix from 0.2.0 to 0.3.0  `[Pass]`
2. Launch and auto resolve main class `[Pass]`
3. Breakpoint `[Pass]`
4. Threads/Callstacks `[Pass]`
5. Step `[Pass]`

Java 8 Sample project: [3.thread](https://github.com/vscjavaci/java-debug-

[2017-11-09 10:27] akaroml opened #145 "100% CPU when debugging sprint boot pet clinic with "stopOnEntry" on"
We noticed a huge performance downgrade when turning on the stopOnEntry option when debugging
https://github.com/spring-projects/spring-petclinic

This is blocking the release. Please fix ASAP

[2017-11-09 10:28] akaroml opened #146 "Unable to start debugging"
When debugging:
https://github.com/spring-projects/spring-petclinic

The debugger can be launched once. And later sessions will encounter this issue:
Error: Could not find or load main class org.springframework.samples.petclinic.PetClinicApplication

This is blocking the 0.3.0 release. please fix ASAP

[2017-11-09 10:29] akaroml commented on #131
Two blocking bugs found when validating using spring boot pet clinic app:
https://github.com/spring-projects/spring-petclinic

#145 - @ansyral
#146 - @andxu

These are blocking the 0.3.0 release. Please fix ASAP

[2017-11-09 11:47] akaroml commented on #131
#147 was made to workaround #145
#148 was made to workaround #146

[2017-11-09 11:49] akaroml commented on #146
#148 was made to workaround this issue. Please further investigate the root cause and fix.

[2017-11-09 12:26] testforstephen opened #149 "Should pop up message when the debugger is running in the mismatched JVM"
When user uses VSCode to open a modular java 9 project, but the JAVA_HOME is still java 8 jdk, then the debugger will try to run java 9 modules on java 8 and finally throw timeout error.

The error message doesn't reflect the failure reason. Should inform user it's because the running jvm doesn't support the modules.

[2017-11-10 05:38] akaroml commented on #131
Validated the newest signed build with Spring Boot Pet Clinic sample project on Windows and Mac
- The project was launched with launch configuration generated correctly
- Breakpoints were hit correctly
- Enabled showHex option and integers were shown in hex format correctly
- Enabled showStaticVariables option and static variables were shown correctly
- Enabled showQualifiedNames options and class

[2017-11-10 05:56] andxu commented on #131
- ## cwd/environment variables

JDK: 1.8.0_121-b13

1. Update vsix from 0.2.0 to 0.3.0  `[Pass]`
2. Open project newly created by `mvn archetype:generate –DarchetypeArtifactId:maven-archetype-quickstart`
3. F5 and wait for the launch.json `[Pass]`
4. Add a cwd and env setting for a=b, change App.java to the following code:
`public class App
{
    public static void main( String[] args )
    {

[2017-11-10 07:44] tramchamploo opened #150 "NPE when start debugging."
[code]
Then debugger says cannot find or load main class.

[2017-11-10 08:00] akaroml commented on #150
Thanks for reporting this issue.  From the error message, this happened when you are performing some code action. Can you provide the steps to help us reproduce this issue?

Can you also let us know your configurations?
- Language Support for Java extension version
- Debugger for Java extension version
- OS version
- JDK version

[2017-11-10 08:05] tramchamploo commented on #150
This is a really large maven project. And I just presssed F5 to debug a main method.
Language Support for Java extension version: 0.14.0
Debugger for java: 0.3.0
OS: macos 10.13.1
JDK: 1.8.0_152

[2017-11-10 08:15] #137 closed

[2017-11-10 22:15] gorkem opened #151 "Show package for object variables"
Debugger should also show the package names for variables. At the moment there is no way to distinguish between `my.package.MyClass` and `other.package.MyClass` because they both shown as `aClass: MyClass`

[2017-11-11 10:52] AlexMAS commented on #140
@fbricon thank you, it works fine!

I have a Gradle project, so I imported the [gretty](https://plugins.gradle.org/plugin/org.akhikhl.gretty) plugin as described comprehensively in [this article](https://guides.gradle.org/building-java-web-applications/) and configured an appropriate task to run the project:

[code]

You also have to configure [debug options](http://akhikhl.github.io/gretty-doc/De

[2017-11-11 17:52] beeblebrox3 opened #152 "It's possible to debug javascript code running on nashorn?"
With netbeans it is possible using this instructions: https://blogs.oracle.com/sundararajan/remote-debugging-of-nashorn-scripts-with-netbeans-ide-using-debugger-statements

I'm trying to work with [this project](https://gitlab.com/thrustjs/thrust-seed).

Thanks!

[2017-11-13 06:50] #73 closed

[2017-11-13 06:55] andxu commented on #90
title updated

[2017-11-13 08:49] testforstephen opened #153 "Support step filter when stepping"

[2017-11-13 10:45] sebastianbarfurth opened #154 "No such file or directory on existing binary"
**Platform:** macOS High Sierra 10.13.1

**VSCode version:** 1.18.0

I'm receiving the following error:

[code]

The project is an Eclipse project and I use ``Language Support for Java(TM) by Red Hat``. Language support works fine. Concerning the above errors, the mentioned file ``/Library/Java/JavaVirtualMachines/jdk1.8.0_152.jdk/Contents/Home/jre/bin/java`` does exist and is executable from the

[2017-11-14 07:26] andxu commented on #58
The encoding is utf-8 for the launch.json, the source file, there is no way of  reading Chinese arguments in java.

[2017-11-14 10:34] testforstephen commented on #154
very weird. Cannot reproduce it in my mac. Can you try a sample maven project to see if it can be reproduced?

[2017-11-14 10:39] sebastianbarfurth commented on #154
The issue persists with a Maven project. Same error as well.

[2017-11-15 06:00] songkaiape opened #156 "Breakpoint still show on UI after disabled"
Repro steps:
1. add a breakpoint on line 10
![image](https://user-images.githubusercontent.com/4318793/32821086-9fbee3d0-ca0c-11e7-8396-cfda4e533ec6.png)

2. click again to disable it, the breakpoint is not showed in BREAKPOINTS window but the UI still show the breakpoint
![image](https://user-images.githubusercontent.com/4318793/32821125-ce69f878-ca0c-11e7-9b9f-c71ef76c6d95.png)

3. This issue on

[2017-11-15 06:35] andxu commented on #156
vscode bug

[2017-11-15 22:57] amitmerin opened #157 "Debugger ignores spring boot application.properties"
Using the basic spring boot example app from https://github.com/microsoft/gs-spring-boot.git.
I added the file
'src/main/resources/application.properties'
with the following line `server.port=8880`
I run the debugger with the following Launch configuration:
`
{
            "type": "java",
            "name": "Debug (Launch)-Application<complete>",
            "request": "launch",
            "cwd"

[2017-11-16 02:20] bsaby commented on #132
[Error - 6:19:20 PM] Nov 15, 2017, 6:18:57 PM Searching the main class failure: java.lang.NullPointerException
null
java.lang.NullPointerException
	at org.eclipse.jdt.internal.compiler.lookup.BinaryModuleBinding.create(BinaryModuleBinding.java:64)
	at org.eclipse.jdt.internal.compiler.lookup.LookupEnvironment.getModuleFromAnswer(LookupEnvironment.java:427)
	at org.eclipse.jdt.internal.compiler.loo

[2017-11-16 02:38] ansyral commented on #145
unfortunately, i couldn't repro it ..

[2017-11-16 05:47] andxu opened #158 "0.3.1 Hotfix"
- Prepare RC
    - [x] 11/17 - Bump version to 0.3.1([#107](https://github.com/Microsoft/java-debug/pull/107
),[#161](https://github.com/Microsoft/vscode-java-debug/pull/161)) - @andxu
    - [x] 11/17 - Add change log for 0.3.1[#107](https://github.com/Microsoft/java-debug/pull/107
) - @andxu
    - [x] 11/17 - Signed RC Bits([#Job1](https://vscjavaci.cloudapp.net/job/vscode-java-debug-hotfix/job/v

[2017-11-16 13:11] mojo2012 opened #159 "Add feature: copy fully qualified name"
I often need to copy a classes fully qualified name, eg. to put into a spring.xml file.

Best would be to have it directly in the context menu when right-clicking on a class name.

[2017-11-17 01:29] andxu commented on #146
https://github.com/Microsoft/vscode-java-debug/pull/160

[2017-11-17 03:47] andxu opened #163 "0.4.0 Plan"
Here are the major areas we will be working on in 0.4.0 release:
- [x] Support step filter when stepping  #153 @testforstephen  `[Delay to next release]`
- [x] Launch in terminal #86 @testforstephen
- [ ] Partial code(java only) of expression evaluation #114 @andxu
- [x] Multi-root workspace support #115 @yaohaizh
- [ ] Partial code(java only) hot class reloading #68 @yaohaizh
- [x] Junit support

[2017-11-17 03:49] akaroml commented on #159
This looks like a language server feature. @yaohaizh could you please open an issue in redhat-developer/vscode-java?

[2017-11-17 03:58] andxu commented on #151
Please enable this flag in vscode user setting:

"java.debug.settings.showQualifiedNames": true

![image](https://user-images.githubusercontent.com/17075863/32928722-76e98018-cb8e-11e7-9264-17f62d181831.png)

[2017-11-17 05:17] testforstephen commented on #158
## Test java 8 and 9 debugging support on mac
Project: petclinic
1. Auto generate main class failed because the known NPE exception threw by search engine. [Fail]
2. Configuration main class manually, and launch succeed. [Pass]
3. Add breakpoint, and can be hit. [Pass]
4. step/variables [Pass]

[2017-11-17 05:18] ZZYSonny opened #164 "Unable to launch Java Project on Mac. Failed to launch debuggee VM. Reason: com.sun.jdi.connect.VMStartException: VM did not connect within given time: 10000 ms"
Unable to launch Java Project on Mac.

##### Environment
- Operating System: Mac 10.13.1
- JDK version: 8u152
- Visual Studio Code version: 1.18.1
- Java extension version: Langage 0.14.0 / Debug 0.3.0

##### Steps To Reproduce
1. Simply run the project.

![2017-11-17 9 41 47](https://user-images.githubusercontent.com/28442838/32925273-0316810c-cb7c-11e7-8572-223a9dd5a001.png)
![2017-11-17 9 44 44

[2017-11-17 05:43] yaohaizh commented on #159
@mojo2012 on which UI part to copy fully qualified name? On editor or debugging stack?

[2017-11-17 05:55] akaroml opened #165 "Build should not be trigger when attaching to process"
When attaching to a process, a built is triggered now. This should only happen in launching scenario. Please avoid building the workspace when attaching.

[2017-11-17 05:56] akaroml commented on #158
Verified using spring boot pet clinic app on Windows x64.
1. Project was built and launched correctly
2. The launching status "Compiling workspace..." was shown in status bar
3. The launch happened after the compilation

Verified using gs-spring-boot-docker on Windows x64
1. Debugger session was started by attaching to port 1044
2. Observed "Compiling workspace..." when attaching, which is unexpec

[2017-11-17 07:21] yaohaizh commented on #158
# Single File
- Work correctly on the Windows platform

#Ubuntu
- Java 9: Single file not working as expected. Sprint-pet not wokring as expected. Sprint dones't support Java 9.
- Java 8: Not tested

[2017-11-17 07:32] andxu commented on #158
# Todo app
-  System: Win10 64
- Java version: 8:
- Repository: https://github.com/Microsoft/todo-app-java-on-azure
- Configuration:  modified version provide by ShenWei

![image](https://user-images.githubusercontent.com/17075863/32935766-785a1a2a-cbac-11e7-8775-4c79c61027ec.png)

[2017-11-17 08:06] mojo2012 commented on #159
In the editor, in eclipse you have to right click on the classname.

[2017-11-17 08:20] bsaby opened #167 "Junit project: Cannot determine executable for debug adapter '{0}'"
##### Environment
- win10 (x64/x86)
- JDK version: 1.8.151_64, 1.8.151_86, 9.0.1_64
- Visual Studio Code version: 1.18.1(32/64)
- Java extension version: 0.14.0
- Java Debugger extension version:  0.3.1

##### Steps To Reproduce
1.	Open vscode and open testcase 10. junit
2.	Open MyTest.java, and set breakpoint on line 10 and 16
3.	Start debug

[attach a sample project reproducing the error]
[10.ju

[2017-11-17 09:34] bsaby opened #168 "PetClinic project: Could not find or load main class org.springframework.samples.petclinic.PetClinicApplication"
##### Environment
- Operating System:  Win10(x64)
- JDK version:  9.0.1_64
- Visual Studio Code version:  1.18.1(64)
- Java extension version: 0.14.0
- Java Debugger extension version:  0.3.1

##### Steps To Reproduce

1. Open vscode and open spring-petclinic project
2. Start debug

[attach a sample project reproducing the error]
https://github.com/spring-projects/spring-petclinic

[attach logs](h

[2017-11-17 11:45] #131 closed

[2017-11-17 17:01] mojo2012 opened #169 "Debug console not working properly"
When the debugger breaks at a breakpoint I expect to be able to execute commands in the debug console. Also autocomplete/intellisense should work correctly.

I I enter the name of a variable I get this error:
[code]

If I try something like *System.out.println("Test")*
[code]
##### Environment
- Operating System: macOS 10.13.1 (17B48)
- JDK version: 1.8.0_112
- Visual Studio Code version: 1.18.1 (

[2017-11-17 17:45] claycephas commented on #167
I have the same after updating to VSCode 1.18.1. I downgraded to VSCode 1.18.0, but am still experiencing the issue. My environment:

macOS Sierra: 10.12.6
VSCode: 1.18.1 and 1.18.0 (did not see the issue when on 1.18.0 prior to upgrade)

VSCode extensions:
`redhat.java`: 0.14.0
`vscjava.vscode-java-debug`: 0.3.1

java -version
[code]

[2017-11-17 18:37] amitmerin commented on #157
The solution I found is sending the whole application.properties file inside the `args` of the configuration.
[code]
I think that when having many values in application.properties this becomes cumbersome.

[2017-11-17 18:42] claycephas commented on #169
Regarding complex expressions, I believe that is a dup of #114

[2017-11-17 18:49] claycephas commented on #167
No idea why, but this fixed it for me.

* Exit VS Code
* `rm -rf ~/Library/Application\ Support/Code/User/workspaceStorage/`
* Re-open VS Code

This is working with VS Code 1.18.1.

[2017-11-18 03:05] shawnwithlegion opened #170 "Debugger stopped working after upgrading to 0.3.1?"
Here is my configuration:

`
{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "type": "java",
            "name": "Debug (Launch)",
            "request": "launch",

[2017-11-18 20:08] Rwantare opened #171 "Cannot determine executable for debug adapter '{0}'."
After updating VSCode today (2017-11-18), started getting the error:

when I try to debug any file

A sample launch.json:
[code]
##### Environment
- Operating System: Mint 18.1
- JDK version: 1.8.0_151
- Visual Studio Code version: 1.18.1
- Java extension version: 0.2.0
- Java Debugger extension version: 0.3.1

[2017-11-18 20:11] Rwantare commented on #171
Duplicate of #167

[2017-11-18 20:11] #171 closed

[2017-11-19 03:16] YousefSaber opened #172 "VS Code can't debug and run java files on the new version what happened ?"
does anyone knows how to debug java files in the new version
![1](https://user-images.githubusercontent.com/33742499/32987062-d1c917a4-cce8-11e7-93cd-41ac3d79fe15.jpg)
![2](https://user-images.githubusercontent.com/33742499/32987063-d1ef05cc-cce8-11e7-99a2-4a9969c856c9.jpg)
![3](https://user-images.githubusercontent.com/33742499/32987064-d2156a82-cce8-11e7-8932-cee9b44825bb.jpg)
![4](https://user-

[2017-11-20 00:35] andxu commented on #172
Duplicated as  https://github.com/Microsoft/vscode-java-debug/issues/170

[2017-11-20 00:35] #172 closed

[2017-11-20 01:21] gorkem commented on #170
I see the exact same behavior in my case it is trying to attach to an already running application.

[2017-11-20 02:21] testforstephen opened #173 "JavaDebuggerServerPlugin.start will be invoked twice"
`JavaDebuggerServerPlugin.start()` will be invoked twice:
1. The first time happens when Java language server is started.
2. The second time happens when user clicks F5 to trigger debugger.

so that the JdtLoggerHandler will be added to logger repeatedly. Every time when the code invokes logger.fine(), it will print the same logger message twice.

##### Environment
- Operating System: Windows 10
-

[2017-11-20 02:53] testforstephen commented on #167
Problem marker shows:
<pre>
[Marker [on: /10.junit, id: 3, type: org.eclipse.buildship.core.gradleprojectconfigurationmarker, attributes: [message: Missing Gradle project configuration folder: .settings, severity: 2], created: 11/20/17 10:50 AM]]
</pre>

[2017-11-20 10:13] GrubbyHalo commented on #167
@testforstephen How do you enable the language server in debug mode ? I have the same error on  my linux box. When i open up my project using eclipse i don't get any errors

[2017-11-20 11:22] testforstephen commented on #167
@GrubbyHalo There are two ways to launch language server in debug mode.

1. java language server extension will detect if the extension is in `development mode`, if so, it will start with debug port `localhost:1044` enabled.

so if i run java debugger in `extension development` mode, the language server will be in debug mode too.
![image](https://user-images.githubusercontent.com/14052197/33015669

[2017-11-20 11:27] ansyral commented on #170
one known cause is that language server would link current src files into default project, cleaning your local vscode storage folder(%AppData%\Code\User\workspaceStorage) would unblock it.

[2017-11-20 20:28] shawnwithlegion commented on #170
@ansyral Cleaning /workspaceStorage doesn't work for me.

[2017-11-20 21:37] snjeza commented on #170
@shawnwithlegion try to remove the Java Debug extension, reload VS Code and reinstall it.

[2017-11-21 02:31] YousefSaber commented on #170
@snjeza

I've tried this didn't work doesn't anyone knows how to fix this issue

[2017-11-21 02:40] snjeza commented on #170
@shawnwithlegion try to remove the LS for Java by Red Hat extension.

[2017-11-21 07:06] testforstephen commented on #125
Refer to [eclipse bug 522606](https://bugs.eclipse.org/bugs/show_bug.cgi?id=522606), the NPE is fixed at eclipse 4.7.2 (oxygen RC2). Need update java language server extension to take the new jdt plugin.

[2017-11-21 07:08] testforstephen commented on #132
duplicate with #125

[2017-11-21 07:08] #132 closed

[2017-11-21 07:10] testforstephen commented on #134
This is LS bug, duplicated with https://github.com/redhat-developer/vscode-java/issues/359

[2017-11-21 08:40] yaohaizh commented on #173
https://github.com/eclipse/eclipse.jdt.ls/issues/450

[2017-11-21 08:41] yaohaizh commented on #150
Fixed on the VSCode Java side.

[2017-11-21 08:41] #150 closed

[2017-11-21 08:42] yaohaizh commented on #115
https://github.com/Microsoft/java-debug/pull/114
https://github.com/Microsoft/vscode-java-debug/pull/174

[2017-11-21 08:50] yaohaizh commented on #159
This feature request should be on the vscode-java side:
https://github.com/redhat-developer/vscode-java/issues/new

Close this instead.

[2017-11-21 08:50] #159 closed

[2017-11-21 08:52] yaohaizh commented on #36
VSCode debugger can add variable to watch now from the context menu.

[2017-11-21 08:52] #36 closed

[2017-11-21 13:11] GrubbyHalo commented on #167
Well this is bizarre. I fired up the extension in development mode and got the same error i got above while trying to debug it. No other meaningful messages. I then closed the extension dev host and on a whim removed the eclipse generated folders in my workspace (I used eclipse for this project before trying vscode) and tried debugging the project again and it worked! no error messages. I thought

[2017-11-21 17:50] shawnwithlegion commented on #170
@snjeza I did but it didn't fix the issue. I had to downgrade to 0.2.0 for now.

[2017-11-22 08:45] wokhan commented on #170
Workaround: I had to **manually modify the configurationProvider.js** file to remove the compilation (in extensions\vscjava.vscode-java-debug-0.3.1\out\src).
**Line 92: comment the whole try / catch** so that compilation is not required anymore.
This should be an option (force recompilation everytime or not), as this is not exactly useful (code is recompiled automatically anyway on save...).

Nice

[2017-11-22 08:53] testforstephen commented on #167
@GrubbyHalo Refer to https://github.com/Microsoft/vscode-java-debug/issues/170, @wokhan provides a workaround, that should work.

[2017-11-22 09:05] wokhan commented on #167
@testforstephen In fact the workaround I reintroduced was already there in the previous version of the extension (0.3.0), and has been "removed" (i.e. uncommented) by @andxu for 0.3.1 when RedHat Java support extension was upgraded to 0.14, so I guess there was a good reason for this.

[2017-11-22 10:43] hnefatl commented on #170
@wokhan Can confirm this works for me, with version 0.3.1.

[2017-11-22 20:47] shawnwithlegion commented on #170
Agreed with @wokhan. Forcing compilation every time should be an option.

[2017-11-23 15:24] wsxarcher commented on #79
SBT can also be used for Java-only projects.

[2017-11-23 15:46] WayneHo25 opened #175 "JavaDebuger Cannot determine executable for debug adapter '{0}'."
[provide a description of the issue]

##### Environment
- Operating System: 10.13.1
- JDK version: 9.0.1
- Visual Studio Code version: 1.18.1
- Java extension version: 0.14.0
- Java Debugger extension version: 0.3.1

##### Steps To Reproduce
1. [step 1]
For test, use very simple code.
-------------ReverseInteger.java----------------
class ReverseInteger{
    public static void main(String[] args)

[2017-11-23 16:53] #175 closed

[2017-11-27 05:30] akaroml commented on #170
@ansyral @testforstephen  is this already resolved?

[2017-11-27 05:34] akaroml commented on #169
@mojo2012 thanks for reporting and @claycephas thanks for linking the issue.

The current implementation has limited support for expression evaluation. It can only show values by looking up the specified name in the current stack frame.

We are currently developing the complete expression evaluation feature tracked by #114. Please stay tuned.

[2017-11-27 05:35] #169 closed

[2017-11-27 05:38] yaohaizh commented on #173
Resolved on eclipse.jdt.ls.

[2017-11-27 05:38] #173 closed

[2017-11-29 04:20] akaroml opened #179 "0.4.0 Endgame"
# Build
- [x] 11/29 - Bump version to 0.4.0 [PR#181](https://github.com/Microsoft/vscode-java-debug/pull/181) , [PR#123](https://github.com/Microsoft/java-debug/pull/123)- @testforstephen
- [x] 11/29 - Add change log for 0.4.0 - @yaohaizh
- [x] 11/29 - Signed RC Bits [#36](https://vscjavaci.cloudapp.net/job/vscode-java-debug.vsix-withSign/36/Azure/processDownloadRequest/vscode-java-debug/signedart

[2017-11-29 07:35] yaohaizh commented on #167
Fixed on PR: https://github.com/Microsoft/vscode-java-debug/pull/176

[2017-11-29 07:35] #167 closed

[2017-11-30 02:26] yaohaizh commented on #179
# Ubuntu
- OS: Ubuntu 17.10
- VSCode: 1.18.1

## Basic:
- Following the steps from here: https://github.com/vscjavaci/java-debug-ci/issues/17
- The basic funtions work as expected:  Breakpoints/threads/callstack/variable
- Maven:

[2017-11-30 03:34] yaohaizh commented on #179
# launchInTerminal

- Java 8, OS: Ubuntu 17.10, VSCode: 1.18.1
- All three options work as expected from the test plan

[2017-11-30 05:00] ansyral commented on #179
# Windows
- Windows 10
- VSCode 1.19.0-insider

## java9 jdk
- java8 sample project: [hello world](https://github.com/vscjavaci/java-debug-ci/tree/master/testcase/1.helloworld)

1. debug without launch.json
2. hit breakpoint

- java9 sample project: [19.java9-app](https://github.com/vscjavaci/java-debug-ci/tree/master/testcase/19.java9-app)

1. create launch.json automatically
2. hit breakpoint

[2017-11-30 05:18] testforstephen opened #182 "setExceptionBreakpoints throw ObjectCollectedException exception"
at Mac, debug `23.console-app`, and found `setExceptionBreakpoints` request would throw the exception `ObjectCollectedException`.

[2017-11-30 05:46] testforstephen opened #183 "The program is paused on exception even if i didn't set any exception breakpoint"
On Mac, debugging `23.console-app` project with launching the program in integrated terminal, the program is paused on exception.

<img width="1440" alt="screen shot 2017-11-30 at 1 45 17 pm" src="https://user-images.githubusercontent.com/14052197/33415914-cb0eb244-d5d4-11e7-85bf-0f643c186e3b.png">

[2017-11-30 06:15] testforstephen commented on #179
# Mac
Installing build `36` RC bits on VSCode 1.8.1 succeed.

## jdk 9.0.1
1. Open [23.console-app](https://github.com/vscjavaci/java-debug-ci/tree/master/testcase/23.console-app) projects.
2. Launch the program with the default debug console. `[Pass]`
3. Change `console` to `integratedTerminal`, restart the debugger.
    - Sometimes the program is paused on exception even if i didn't set any exce

[2017-11-30 06:24] yaohaizh commented on #179
# Single File

- Windows 10 X64, VSCode 1.18.1, work as expected
- Ubuntu 17.10, VSCode 1.18.1 work as expected

[2017-11-30 06:33] yaohaizh commented on #179
# Test cwd/environment variables support on the Windows

- CWD works after set in launch.json with System.getProperty("user.dir") to get value.

[2017-11-30 07:00] bsaby commented on #179
# Run test plan   [Ongoing]
OS: windows Mac Ubuntu
Following the steps from here: vscjavaci/java-debug-ci#17

Test case | Windows x64 | Windows x86 | Windows x64 | Mac | Mac | Ubuntu
-- | -- | -- | -- | -- | -- | --
Configurations | VSCode   1.18.1 x64   JDK8   x64 | VSCode   1.18.1 x86   JDK8   x86 | VSCode   1.18.1 x64   JDK9   x64 | VSCode   1.18.1   JDK8   x64 | VSCode   1.18.1    JDK9   x64 |

[2017-11-30 07:33] bsaby opened #184 "Single file: Cannot read property 'openConfigFile' of undefined on jdk9 env"
##### Steps To Reproduce
1. Open single file : Main.java
2. Press F5 choose java, then press F5

![image](https://user-images.githubusercontent.com/22470312/33418463-ecd3c804-d5e0-11e7-80cc-ce0ba346cc2b.png)

[2017-11-30 08:07] yaohaizh commented on #179
#  Test auto resolve main class and module paths for java 9 project

- Ubuntu, can correclty resolve the main classes
- Windows can correclty resolve the main classes

[2017-11-30 08:17] bsaby opened #185 "Console application: java.lang.ClassNotFoundException: /encoding=UTF-8"
On Windows (My version is Windows 10 Enterprise)
Go to launch.json, change the option console to integratedTerminal.
Press F5 again.
##### Current Result
![image](https://user-images.githubusercontent.com/22470312/33420333-217ad3ba-d5e9-11e7-9532-f6a7e3618315.png)

[2017-11-30 09:00] testforstephen commented on #179
# Test hex/showQualifiedNames/static user settings

1. On Mac, open [4.variable](https://github.com/vscjavaci/java-debug-ci/tree/master/testcase/4.variable) project on VSCode.
2. Enable `java.debug.settings.showHex` and `java.debug.settings.showQualifiedNames` in user settings, the variable format will change too.

[2017-11-30 09:05] yaohaizh commented on #184
@bsaby Could you retest this on VSCode insider version?

[2017-11-30 09:12] testforstephen commented on #185
The error happens when the integrated terminal is powershell. The command line string format is a little different with cmd.exe.

The workaround is to change the integrated terminal to cmd.exe by changing the user settings `"terminal.integrated.shell.windows": "C:\\Windows\\System32\\cmd.exe"`.

[2017-11-30 09:16] testforstephen commented on #183
It seems `EventRequestManager.createExceptionRequest(null, notifyCaught, notifyUncaught)` still takes effect even if the last two arguments are `false`. The possible solution is to remove all exception requests when notifyCaught and notifyUncaught both are `false`.

[2017-11-30 09:26] bsaby commented on #184
Insider version: 1.19.0-insider
The error of cannot read property 'openConfigFile' of undefined does not appear.

![image](https://user-images.githubusercontent.com/22470312/33423296-5927e118-d5f3-11e7-8ab5-8634e191b237.png)

[2017-11-30 09:37] bsaby commented on #185
Follow this workaround, integratedTerminal works fine on my Windows.

[2017-11-30 09:42] edwardchanjw opened #186 "Option to specify Java path ?"
Option to specify Java Path such as Java 9.
Use Case: while some folk not must have legacy java for most other projects.

##### Additional Informations
[Similar Request](https://github.com/redhat-developer/vscode-java/issues/28)

[2017-11-30 10:13] testforstephen commented on #186
The java debugger extension shares the same java runtime with `redhat-developer/vscode-java` extension. You can configure your JDK path in the user settings option `java.home`.

[2017-11-30 11:01] testforstephen commented on #179
# Spring on docker

1. Follow [the doc](https://microsoft-my.sharepoint.com/:w:/r/personal/roml_microsoft_com/_layouts/15/Doc.aspx?sourcedoc=%7BA157A3A0-A4C4-43D9-8F2E-0F409122915B%7D&file=HOL%E5%AE%9E%E9%AA%8C%E6%89%8B%E5%86%8C-%E4%BD%BF%E7%94%A8Visual%20Studio%20Code%E8%BF%9B%E8%A1%8CJava%E7%BC%96%E7%A8%8B%E4%B8%8E%E8%B0%83%E8%AF%95.docx&action=edit&mobileredirect=true) to debug [gs-spring-boot-

[2017-11-30 11:34] testforstephen commented on #86
It's fixed in 0.4.0. By changing `console` to `integratedTerminal/externalTerminal` in launch.json, it supports console input now.

[2017-11-30 11:34] #86 closed

[2017-11-30 18:09] fbricon opened #187 "If only 1 main class detected, proceed and start it directly"
When launching a main method from a standalone java class, the debugger asks me to select the 1 main class available, it should be smarter and go ahead directly

##### Environment
- Operating System: macOS High Sierra
- JDK version: 1.8
- Visual Studio Code version: 1.19.0-insiders
- Java extension version: 0.15.0
- Java Debugger extension version: 0.4.0

##### Steps To Reproduce
1. Open a standal

[2017-11-30 18:20] shawnwithlegion commented on #170
issue not fixed with 0.4.0. Not it's showing something like "the response is not either an error or...."

[2017-12-01 18:18] andxu commented on #170
@shawnwithlegion are you using the latest version 0.15.0 of https://marketplace.visualstudio.com/items?itemName=redhat.java with the [change log](https://github.com/redhat-developer/vscode-java/blob/master/CHANGELOG.md#0150-november-30th-2017) which contains full and incremental compilation.

[2017-12-01 18:38] andxu commented on #156
Close it since vscode has fixed it .

[2017-12-01 18:38] #156 closed

[2017-12-01 18:38] #158 closed

[2017-12-01 18:39] andxu commented on #158
Close it since 0.3.1 is done.

[2017-12-01 18:41] andxu commented on #140
Please take a look at this [plugin](https://marketplace.visualstudio.com/items?itemName=adashen.vscode-tomcat), we will prepare the tutorials for debug java web apps(jsp is not supported by now) .

[2017-12-01 18:43] andxu commented on #85
I will refine the flow of the verification work in launch request other than during providing debugger configuration.

[2017-12-01 18:45] andxu commented on #114
https://github.com/Microsoft/java-debug/pull/116

[2017-12-02 14:57] ZZYSonny opened #188 "${workspaceroot} is not converted in integratedconsole correctly when "console":"integratedconsole""
[provide a description of the issue]

##### Environment
- Operating System: Win10/Mac
- JDK version: 9.0.1
- Visual Studio Code version: 1.18.1
- Java extension version: 0.15.0
- Java Debugger extension version: 0.4.0

##### Steps To Reproduce
1. Run any project that is starting from the integrated console
2. we will see the command was cd ${workspaceroot} (issue with this command) & command relat

[2017-12-02 14:58] ZZYSonny commented on #188
One way to prevent the issue is set cwd without ${workspaceroot} or leave cwd as default.

[2017-12-02 15:01] ZZYSonny commented on #185
Will the extension support PowerShell later?

[2017-12-04 02:55] testforstephen commented on #188
typos.
${workspace**r**oot} => ${workspace**R**oot}

[2017-12-04 02:57] testforstephen commented on #185
YES, this is bug, we will fix it.

[2017-12-04 07:06] shawnwithlegion commented on #170
@andxu works with 0.15.0. Thanks!

[2017-12-04 07:47] testforstephen commented on #185
Open a bug on VSCode for this issue https://github.com/Microsoft/vscode/issues/39530

[2017-12-04 08:41] testforstephen commented on #179
0.4.0 has released, close this task.

[2017-12-04 08:41] #179 closed

[2017-12-04 08:44] testforstephen commented on #117
0.3.0 is released, close this one.

[2017-12-04 08:44] #117 closed

[2017-12-04 10:38] #188 closed

[2017-12-05 02:04] testforstephen commented on #183
fixed at PR https://github.com/Microsoft/java-debug/pull/125

[2017-12-05 02:04] #183 closed

[2017-12-05 02:12] testforstephen commented on #145
Fixed in 0.4.0.

[2017-12-05 02:12] #145 closed

[2017-12-05 02:26] yaohaizh commented on #186
Close this one as this issue is actually on the vscode java side.

[2017-12-05 02:26] #186 closed

[2017-12-05 02:37] yaohaizh commented on #170
Close this as it has been fixed in the latest vscode-java/vscode-java-debugger.

[2017-12-05 02:37] #170 closed

[2017-12-05 02:38] yaohaizh commented on #163
Close this one as the 0.4.0 had been out.

[2017-12-05 02:38] #163 closed

[2017-12-05 03:08] #115 closed

[2017-12-05 04:16] yaohaizh commented on #168
The Spring boot doesn't support JDK 9.0 yet until V2.l, what is the version of Spring framework here?

[2017-12-05 04:59] yaohaizh commented on #146
Close this as the issue had been fixed.

[2017-12-05 04:59] #146 closed

[2017-12-05 05:04] #134 closed

[2017-12-05 05:04] #130 closed

[2017-12-05 05:31] yaohaizh commented on #76
This feature is on This feature is on https://github.com/Microsoft/vscode-java-test

[2017-12-05 05:31] #76 closed

[2017-12-05 05:34] yaohaizh commented on #89
@clankill3r The debugger should have support single file without project. Please try it on the latest vscode-java/vscode-java-degger and let's know the result.

[2017-12-05 06:11] gijswijs commented on #89
@yaohaizh I tried to debug a single file, but to no avail. I tried it with JDK8 and JDK9 with debug 0.4.0, because this post made me think that could matter.

https://blogs.msdn.microsoft.com/visualstudio/2017/11/10/run-and-debug-java-9-in-visual-studio-code/

- But either way I get the error: Cannot read property 'openConfigFile' of undefined
- Cannot resolve main class automatically, please spec

[2017-12-05 06:18] yaohaizh commented on #89
@gijswijs Could you try the same steps on the VSCode insider version?  The first issue might related to VSCode bugs itself.

[2017-12-05 06:23] testforstephen commented on #89
@gijswijs What's your JDK version?  In JDK 9, there is a known NPE bug when auto resolving the main class. https://github.com/Microsoft/vscode-java-debug/issues/125

[2017-12-05 13:30] gijswijs commented on #89
@yaohaizh I tried it with VScode insider and JDK8, and it's now possible to debug a single file. Thanks for the support!

[2017-12-07 01:31] zmqcherish opened #190 "The intellisense given too many suggestion"
[provide a description of the issue]

##### Environment
- Operating System: Windows 10 Build 1703
- JDK version: 1.8
- Visual Studio Code version: 1.81.1
- Java extension version: 0.2.0
- Java Debugger extension version: 0.4.0

##### Steps To Reproduce
1. In a java project,which is a spring boot project. There is a Exception class define named 'ServiceException'
2. In a .java file, below code is t

[2017-12-07 03:25] andxu commented on #93
Because of the schedule change, I will move this feature to backlog

[2017-12-07 03:28] yaohaizh commented on #190
There is already similar one on the vscode-java. Close this one.

[2017-12-07 03:28] #190 closed

[2017-12-07 03:51] andxu commented on #164
Not repo on debug: 0.4.0 language support 0.15.0 vscode 0.18.1 for mac jdk 1.8

[2017-12-07 03:54] #32 closed

[2017-12-07 03:57] #165 closed

[2017-12-07 03:59] testforstephen commented on #153
the code is ready on master branch (https://github.com/Microsoft/vscode-java-debug/pull/155, https://github.com/Microsoft/java-debug/pull/106). will be released to 0.5.0.

[2017-12-07 03:59] #153 closed

[2017-12-07 07:59] bsaby commented on #168
The Spring Framework version here is lower than v2.1

[2017-12-08 09:33] sallyur opened #191 "The generated launch.json file is incomplete"
It is not stable repro.
Environment:
- Operating System:Mac Sierra 10.12.6
- JDK version:1.8.0_144
- Visual Studio Code version:1.18.1
- Java extension version:0.15.0
- Java Debugger extension version:daily build 110

Steps To Reproduce:
1. Open single folder
2. Press F5 choose java，the generated launch.json file is incomplete
![image](https://user-images.githubusercontent.com/28860891/33759564-c2

[2017-12-09 22:14] trexdinosaur opened #192 "Feature Request - Variable Hover Check and Printing Variables"
I want to be able to hover over a variable/statement while in debug mode on a breakpoint and see what it was at the time. Along with that, I want to be able to print out each variables value on the screen after each statement. IntelliJ's debugger natively handles these aspects currently.

[2017-12-11 06:23] andxu commented on #90
first step: fix an bp bug: https://github.com/Microsoft/java-debug/pull/129/files

[2017-12-11 09:14] #151 closed

[2017-12-11 09:20] andxu commented on #154
Could you please upload a test.zip contains your simple project?

[2017-12-11 09:23] andxu commented on #192
Do you mean this, please wait for 0.5.0 for evaluation feature to be ready:
![image](https://user-images.githubusercontent.com/17075863/33824027-f8f16a78-de97-11e7-8221-2d63cdecf308.png)

[2017-12-12 06:30] plooploops opened #193 "VSCode Extension doesn't resolve auto value dependencies"
I'm building a project that utilizes com.google.auto.value.AutoValue to create builders which are placed in both the target folder and in the jar files.  However, VSCode isn't picking these up either at run time and statically.

I believe the pom file is updated for the project as well so it should pick it up from the path.

##### Environment
- Operating System: Windows 10
- JDK version: 1.8
- Vis

[2017-12-12 17:45] clankill3r commented on #89
It works!!
How can I provide a jar files?
I tried:

[code]
and:
[code]
But that does not work.
Also I would prefer a way that intelliSense works.
Hope this is possible or would be possible in the future.

[2017-12-12 17:55] fbricon commented on #193
autovalue is an annotation processor. Annotation Processors are not executed by vscode-java (see https://github.com/redhat-developer/vscode-java/issues/339). If you're using Maven, you can try that solution as a workaround: https://github.com/redhat-developer/vscode-java/issues/339#issuecomment-338464755

[2017-12-13 01:16] ansyral commented on #184
@bsaby ' cannot read property 'openConfigFile' of undefined ' is a know bug of vscode and it is already fixed in vscode insider

[2017-12-13 01:35] bsaby commented on #184
Yes, i have verified this issue in insider version and cannot repro it, see my last comment.

[2017-12-13 03:00] andxu commented on #192
https://github.com/Microsoft/java-debug/pull/131

[2017-12-13 03:01] andxu commented on #114
https://github.com/Microsoft/java-debug/pull/131

[2017-12-14 06:35] gijswijs commented on #89
I just confirmed that this now also works in the regular VSCode.

[2017-12-14 06:49] yaohaizh commented on #89
Thanks. Close this as it resolved.

[2017-12-14 06:49] #89 closed

[2017-12-14 09:21] clankill3r opened #194 "Add libraries to single file without a project"
How can I provide a jar files to a single file that is not a project (like maven / eclipse /graddle)?
I tried:
[code]
and:
[code]
But that does not work.
Also I would prefer a way that intelliSense works, so that was heading the wrong way anyway.

I also tried a .classpath file in the root (this would be a nice way to have it working):

[code]
Hope this is possible or would be possible in the futu

[2017-12-18 12:38] testforstephen commented on #121
done with PR https://github.com/Microsoft/java-debug/pull/127

[2017-12-18 12:38] #121 closed

[2017-12-18 12:40] testforstephen commented on #100
fixed at PR https://github.com/Microsoft/java-debug/pull/106

[2017-12-18 12:40] #100 closed

[2017-12-18 12:42] #40 closed, assigned to testforstephen

[2017-12-18 23:32] darewreck54 opened #197 "Can vs-code variables be used in launch with "mainClass"?"
Question posted on stackoverflow as well:

https://stackoverflow.com/questions/47877843/how-to-debug-java-in-visual-studio-code

##### Environment
- Operating System: MAC
- JDK version: 1.8
- Visual Studio Code version: 1.19.0
- Java extension version: 0.2.0
- Java Debugger extension version:0.4.0

##### Steps To Reproduce
1. open java file
2. update launch to use vs variable for for file name.  E

[2017-12-19 04:18] testforstephen opened #198 "HCR breakpoint reinstall doesn't work"
In a valid method, if i add a new line such as `String a = "test";`, the HCR actually works, but the breakpoints after this line will be removed by HCR.

[2017-12-19 05:12] testforstephen commented on #197
For question 1, currently the debugger doesn't support the vscode-variables for mainClass.
For question 2, you can try to leave the mainClass field to empty, the debugger will try to resolve all main classes in current workspace and pop up a select combox for you to choose.

[2017-12-19 06:31] yaohaizh opened #201 "0.5.0 Endgame"
# Build
- [x] 12/19 - Bump version to 0.5.0 @testforstephen
https://github.com/Microsoft/vscode-java-debug/pull/199 and https://github.com/Microsoft/java-debug/pull/136
- [x] 12/19 - Add change log for 0.5.0 - @yaohaizh
- [x] 12/20 - Signed RC Bits @andxu

# Test
- [x] 12/20 - Run test plan vscjavaci/java-debug-ci#17 - @bsaby
- [x] 12/20 - Test step filters @yaohaizh
- [x] 12/20 - Test evaluation

[2017-12-19 08:18] #114 closed

[2017-12-19 08:21] andxu commented on #192
Will publish 0.5.0 tomorrow.

[2017-12-20 01:38] bsaby opened #204 "Single file: can not watch the variable value"
[provide a description of the issue]

##### Environment
- Operating System: windows10
- JDK version: 1.8 / 9
- Visual Studio Code version: 1.19.0
##### Steps To Reproduce
1. Create a new folder helloworld, create a file named App.java in this folder and filling the following codes:
public class App
{
    public static void main( String[] args )
    {
        System.out.println( "Hello World!" );

[2017-12-20 02:31] testforstephen opened #205 "Only one project on workspace but evaluation still ask user to specify projectName in launch.json"
Debugging project https://github.com/vscjavaci/java-debug-ci/tree/master/testcase/4.variable, watching variables always ask user to `specify projectName in launch.json`. But the workspace only contains one project, the debugger should automatically take this project as evaluation project.

[2017-12-20 02:38] testforstephen opened #206 "Add intellisense for evaluation input view (debug console/watch)"
It'll be very cool to have intellisense for evaluation expression editor at debug console and watch view.

[2017-12-20 02:50] testforstephen commented on #201
#Windows 10
jdk: 1.8.0_151
vscode: 1.19.0

## test evaluation
1. Use vscode to open project https://github.com/vscjavaci/java-debug-ci/tree/master/testcase/4.variable
2. launch debugger, if no projectName specified in launch.json, evaluation doesn't work. But if configured, watch multiple variables and step the program, the watch view will refresh automatically`.
3. Input expression `x+=10` and `s

[2017-12-20 03:02] testforstephen commented on #201
# Test generic Java 8 support on windows
jdk: 1.8.0_151
vscode: 1.19.0

1. Use vscode to open project https://github.com/vscjavaci/java-debug-ci/tree/master/testcase/5.breakpoint
2. Add breakpoint at line 13/30/38, start debugger.
3. The breakpoints all can be hitted.
4. Verify step/continue/restart/stop/source look up work.

[2017-12-20 03:16] andxu opened #207 "Debugger will not wait for first compilation job and reports Error: "Could not find or load main class com.ms.samples.App""
[provide a description of the issue]

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version:
- Java extension version:
- Java Debugger extension version:

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[attach a sample project reproducing the error]
[attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

##### Current Resul

[2017-12-20 03:28] testforstephen commented on #201
# Test generic Java 9 support on windows
jdk: 9.0.1
vscode: 1.9.0

1. Use vscode to open project https://github.com/vscjavaci/java-debug-ci/tree/master/testcase/19.java9-app
2. Click F5, the debugger will resolve main class and generate launch.json.
3. Add breakpoint at App.java, step/continue works.
4. Add `stepFilters` to filter JDK, and relaunch debugger, step into line 11, it will skip the jdk

[2017-12-20 04:00] andxu commented on #201
================Mac
jdk: Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)
vscode: 1.19.0
Evaluation doesn't work on generated lamda

1211888640 [in [Working copy] NoSourceTest.java [in <default> [in src/main/java [in 8.nosource]]]] does not exist

[2017-12-20 04:02] #184 closed

[2017-12-20 04:15] andxu commented on #201
# Test breakpoint on Mac
jdk: Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)
vscode: 1.19.0
1. Open project https://github.com/vscjavaci/java-debug-ci/tree/master/testcase/5.breakpoint
2. Set BP on println statements
3. Add evaluation:
   new A().getClass().getName() and new A().getClass().getName()
4. F5 until program ends.
5. The breakpoint is hit on expected sequence and the e

[2017-12-20 04:18] testforstephen opened #208 "runInTerminal doesn't work because of dead lock between dispatchRequest and runInTerminalRequest"
debugging the project https://github.com/vscjavaci/java-debug-ci/tree/master/testcase/23.console-app, change `console` option to `externalTerminal`, it always shows timeout exception. The reason is the dead lock between dispatchRequest and runInTerminalRequest.

[2017-12-20 05:03] andxu commented on #201
# Test variable on Mac
jdk: Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)
vscode: 1.19.0
1. Open project https://github.com/vscjavaci/java-debug-ci/tree/master/testcase/4.variable
2. Set BP on the end statement of test
3. Add evaluation:
   test() and str.charAt(0)
4. F5 and modify the first char value on str when breakpoint is hit

[2017-12-20 05:15] andxu commented on #201
# Test thread on Mac
jdk: Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)
vscode: 1.19.0
1. Open project https://github.com/vscjavaci/java-debug-ci/tree/master/testcase/3.thread
2. Set BP on the println statments
3. Add evaluation:
 1+2
4. keep on press F5
5. the thread is started/break correctly and the expression is updated accordingly.

[2017-12-20 05:36] yaohaizh commented on #201
# Test step filters

JDK: 9.0.1
VSCode 1.19.0
OS: Ubuntu 16.04

1. Open project 19.java9-app in vscode
2. F5 generate and set breakpoint
3. Without step filter, it will step into ClassLoader.class file
4. Setup the step filters by the default settings and restart debugging. This time, the ClassLoader.class is not show again in the step into.

[2017-12-20 06:13] yaohaizh commented on #201
# Ubuntu
- OS: Ubuntu 16.04
- VSCode: 1.19.0

## Java 8:
- Following the steps from here: https://github.com/vscjavaci/java-debug-ci/issues/17
- The basic functions work as expected:  Breakpoints/threads/callstack/variable
- Maven: Newly generated & spring-petclinic works correctly with debugging features.
- Gradle & Single file: Press F5 without issues.

## Java 9:
- Following the steps from here

[2017-12-20 06:43] ansyral commented on #201
## VSCode insider

JDK: 9.0.1
OS: windows10

1. Use vscode to open project https://github.com/vscjavaci/java-debug-ci/tree/master/testcase/19.java9-app

2. set breakpoint and press F5
3. add expression in watch panel, check evaluation.

[2017-12-20 07:21] bsaby commented on #201
# Run test plan
Win10 x64 | Win10 x86 | Win10 x64 | Mac | Mac | Ubuntu
-- | -- | -- | -- | -- | --
VSCode1.9.0    JDK1.8.0_152 | VSCode1.19.0    JDK1.8.0_152 | VSCode1.19.0   JDK9.0.1 | VSCode1.19.0   JDK1.8.0_144 | VSCode1.19.0    JDK9.0.1 | VSCode1.19.0   JDK9.0.1

1. Following the steps from here: vscjavaci/java-debug-ci#17
2. Open single file evaluation bug:  #204
3. Test result:

Test case |

[2017-12-20 08:52] #208 closed

[2017-12-20 13:13] akaroml opened #209 "Cannot launch multiple programs in integrated terminal"
1. Make sure there are two launch configurations in `launch.json`
2. Make sure both launch configurations' console setting is "integratedTerminal"
3. Launch the first one, and you see "Java Debug Console" channel added to integrated terminal
4. Try launch the second one, timeout

Expected behavior:
1. Users should be able to launch multiple programs in integrated terminal
2. Each program should ha

[2017-12-20 13:33] akaroml opened #210 "[Windows]Unable to launch in external terminal"
Try launch spring-petclinic using the external terminal, timeout.

Works on Mac.

[2017-12-20 13:38] akaroml commented on #201
Tested on Windows using spring-petclinic:
1. Successfully launched programs using integrated terminal, internal console
2. Successfully evaluated expression "this.hashCode() * 100"
3. Inspected panels: VARIABLES, WATCH, CALL STACK, DEBUG CONSOLE
4. Failed to launch using external terminal #210
5. Failed to launch multiple programs using integrated terminal #209

Also tested on Mac using spring-pet

[2017-12-20 17:23] darewreck54 commented on #197
@testforstephen I think that works beause you have a projectname associated.  Right now, if you don't have that it won't work.  I tried to leave it blank but i get the error still:

Please specify the mainClass (e.g. [mymodule/]com.xyz.MainClass) in the launch.json.

[2017-12-21 03:09] #201 closed

[2017-12-21 04:03] hspeed commented on #110
This issue still exists，please look this site https://bugs.eclipse.org/bugs/show_bug.cgi?id=327193   ,and https://github.com/Microsoft/vscode-java-test/blob/master/extension/src/extension.ts    line 281

[2017-12-21 04:08] yaohaizh commented on #198
The issue is that when setBreakpoint from VSCode, it will send out before the document is saved. In this case, our status is not correctly set on the UI. Thus, the HCR reinstall failed for invalid breakpoint.

[2017-12-21 06:32] testforstephen commented on #198
Create a bug for vscode https://github.com/Microsoft/vscode/issues/40620

[2017-12-21 07:28] testforstephen opened #212 "HCR Got IOException from Virtual Machine"
[code]

[2017-12-22 14:17] khe817 opened #213 "Error "Failed to step because the thread 'http-nio-8004-ClientPoller-1' is not suspended in the target VM." with Java 9.0.1"
##### Environment
- Operating System: windows 10
- JDK version: 9.0.1
- Visual Studio Code version: 1.19.1
- Java extension version: 0.16.0
- Java Debugger extension version: 0.5.0

##### Steps To Reproduce
1. Put a break point in a spring boot controller.
2. Run the application. The debugger (type = launch) stops at the break point.
3. Try to step into the break point. <~~ fails here. See attache

[2017-12-22 15:46] khe817 opened #214 "Remote debugging not working with Java 9.0.1"
Remote debugging in spring boot projects doesn't work with Java jdk 9.0.1 (tested with multiple spring boot projects in Java jdk 9.0.1, none of them works).

Gets error "Failed to attach to remote debuggee VM. Reason: java.net.ConnectException: Connection refused: connect" when try to remote debug. Spring boot doesn't stop to wait for the debugger to attach.

Run command:
[code]

##### Environment

[2017-12-25 07:39] testforstephen commented on #213
@khe817 From `CALL STACK` view you provided, the thread `http-nio-8004-ClientPoller-1` is actually on running so the step failure is expected. You should switch current focus to a suspended thread to run step operation.

[2017-12-25 07:58] testforstephen commented on #214
What's your spring-boot version? Refers to spring-boot wiki: https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-with-Java-9, spring-boot 1.5.x doesn't support java 9.

[2017-12-26 02:25] testforstephen commented on #209
vscode tries to launch the two programs at the same integrate terminal so it failed. Open a bug on vscode https://github.com/Microsoft/vscode/issues/40814

[2017-12-26 16:58] clankill3r commented on #118
Are simple expressions supposed to work? I tried `true == false` on a breakpoint but it still triggered.

[2017-12-27 14:58] khe817 commented on #214
Sorry I didn't mention my spring boot version. It's 2.0.0.M7 . Version 2.x should support Java 9.

[2017-12-27 15:12] khe817 commented on #213
@testforstephen That is a bad screenshot that I have provided. The issue should have been that the debugger didn't work and didn't through any error.

Anyway, I restarted the computer after the holiday and tried to test it again. Everything miraculous works fine now.

I am sorry for the troubles!

[2017-12-27 15:12] #213 closed

[2017-12-28 06:25] testforstephen commented on #214
The error message `"java.net.ConnectException: connection refused"` generally means the debug port `5005` is not really opened at your program. Could you share the console message for the cmd `mvn spring-boot:run`? Besides, can you remote debug it with other IDEs such as eclipse/intellij?

[2017-12-28 09:35] sallyur opened #215 "com.sun.jdi.connect.VMStartException for java 9 project on Mac"
##### Environment
- Operating System:Mac Capitan 10.11.6
- JDK version:9.0.1
- Visual Studio Code version:1.19.1
- Java extension version:0.16.0
- Java Debugger extension version:daily build 132

##### Steps To Reproduce

1. Open project 19.java9-app in vscode.
2. Press F5 choose java and verify launch.json is auto generated.
3. Press F5 to start debug.

[attach logs](https://github.com/redhat-dev

[2017-12-28 17:05] khe817 commented on #214
I have found out that to run remote debugging with the new version of spring boot (2.x.x, supports Java JDK 9), command line argument needs to be changed from `-Drun.jvmArguments` to `-Dspring-boot.run.jvmArguments`. The new spring-boot:run command for remote debugging should be:
[code]

For future reference, check the command line argument for adding JVM arguments to spring-boot:run here:
https:/

[2017-12-28 17:05] #214 closed

[2018-01-03 07:45] mikemod commented on #215
I'm also using the above mentioned environment and running at the same issue. Any help would be greatly appreciated.

[2018-01-08 17:58] AwesomeAlexander commented on #215
I'm also getting that error in a similar environment (Mac).

[2018-01-09 08:06] andxu commented on #118
Expression evaluation is supported in 0.5.0, Conditional breakpoints is not supported now, I will work on this on later releases.

[2018-01-12 12:47] leandro-ss commented on #205
I have de same problem,.

Do you have a example? TOdo??

[2018-01-12 20:25] adityasrini commented on #191
I'm having the same issue as well. I thought it was the documentation being wrong but now I see an "Auto generating configuration..." happening in the bottom bar so clearly that must not be working right.

My main class is
[code]

and my launch.json file is attached as a txt.

Environment:
Operating System:Mac High Sierra 10.13.2 (17C88)
JDK version:9+181,
Visual Studio Code version:1.19.2
Java ex

[2018-01-15 04:16] andxu commented on #205
https://github.com/Microsoft/java-debug/pull/146

[2018-01-15 04:18] andxu commented on #204
https://github.com/Microsoft/java-debug/pull/146/files

[2018-01-17 10:11] bsaby opened #217 "[Multi root]Sometimes debug configuration can't auto update in debug view"
##### Environment
- Operating System: windows/mac
- JDK version: jdk8
- Visual Studio Code version: 1.19.2
- Java extension version: build152
- Java Debugger extension version: 0.17.0

##### Steps To Reproduce
1. Open a workspace
2. Generate configuration for one project
##### Current Result
![image](https://user-images.githubusercontent.com/22470312/35036528-96e35be0-fbaf-11e7-839c-abaa92ccbcd2.p

[2018-01-17 20:33] sceee opened #218 "Stackframe only shows Unknown Source when debugging class which is calling methods from other classes in the same project"
I want to debug a JUnit test class. I tried this both with Java Test Runner 0.2.0 and Debugger for Java 0.5.0 by including a main method in my test class.
Unfortunately as soon as my Test class calls a method from any other class from the same project (a normal class with some methods) and I try to jump into a method from this other class with the debugger, I only get a "unknown source" frame on t

[2018-01-18 00:57] andxu commented on #217
vscode issue, not related to java debug

[2018-01-18 02:01] andxu commented on #205
@leandro-ss , find the project name in .project or delete the launch.json and regenerate it.

[2018-01-18 02:03] andxu commented on #192
Close it, the expression evaluation is supported since 0.5.0.

[2018-01-18 02:03] #192 closed

[2018-01-18 02:56] x-strong opened #219 "Can not successfully install this extension on off-line mode."
Can not successfully install this extension on off-line mode.

##### Environment
- Operating System: Windows 7 x64
- JDK version: 1.8.0_121
- Visual Studio Code version: 1.19.1 / 1.20.0-insider
- Language Support for Java(TM) by Red Hat(redhat.java-0.17.0.vsix)
- Debugger for Java (vscjava.vscode-java-debug-0.5.0.vsix)

##### Steps To Reproduce
1. Download the extension Language Support for Java(T

[2018-01-18 03:17] x-strong commented on #207
I met the same problem. : (
Please fix the bug as soon as possible. Thks!

[2018-01-18 12:45] dsyer opened #220 "Provide a way to set default vmArgs"
It's nice that I can set "vmArgs" in a launch configuration, but it's tedious to have to type it again and again for each project I start, and each launcher I create. Some way to set the defaults (and view it in case I want to change it) would be good.

[2018-01-18 23:32] gregvanl commented on #142
Another scenario where this is problematic is if the user does not have a launch.json in their workspace. For example: create a new Express App and then press F5. In this case, the debugger calls each installed extension which activates on onDebugInitialConfiguration. The Java Debugger was changed recently to activate onDebugInitialConfigurations (from onDebug) but in the non-launch.json scenario,

[2018-01-19 01:03] andxu commented on #219
The latest java language server at https://marketplace.visualstudio.com/items?itemName=redhat.java is 0.17.0, and the java debug version is 0.5.0, are you installing the right extension?

[2018-01-19 01:36] x-strong commented on #219
1. Language Support for Java(TM) by Red Hat(redhat.java-0.17.0.vsix)
2. Debugger for Java (vscjava.vscode-java-debug-0.5.0.vsix)

Am i right?
@andxu

[2018-01-19 08:25] JunQianZ opened #221 "Failed to attach to remote debuggee VM. Reason: com.sun.jdi.connect.spi.ClosedConnectionException"
try to attach an Java web project to running tomcat on localhost, and do debugging, it failed, with below errors:
Failed to attach to remote debuggee VM. Reason: com.sun.jdi.connect.spi.ClosedConnectionException

##### Environment
- Operating System: windows 10
- JDK version: jdk1.8.0_152
- Visual Studio Code version:1.18.1
- Java extension version:0.17.0 (January 16th, 2018)
- Java Debugger exten

[2018-01-19 09:13] andxu commented on #219
@x-strong You are right~

[2018-01-19 09:17] x-strong commented on #219
So, as the steps list above, can you reproduce the problem?
@andxu

[2018-01-19 09:20] testforstephen commented on #218
@sceee Can you share your file structure (a screenshot is OK)? I'm trying to understand what's your case?

[2018-01-19 09:28] testforstephen commented on #221
@JunQianZ  Port `9090` is the application port (for http), not the debug port.  One of our team members published a dedicated tomcat extension https://marketplace.visualstudio.com/items?itemName=adashen.vscode-tomcat, i would suggest you to use it for tomcat debugging.

[2018-01-19 09:42] testforstephen commented on #220
@dsyer thanks for the suggestion, i prefer to add a configure item `java.debug.settings.vmArgs` in vscode user settings for that. Do you think it's OK?

[2018-01-19 11:08] dsyer commented on #220
I don’t have an opinion on that. Just something that works.

[2018-01-19 15:16] JunQianZ commented on #221
@testforstephen so what should be the debug port?
and I did use the tomcat debugging. the tomcat is configured launched successfully from my visual studio code.

[2018-01-19 17:38] sceee commented on #218
@testforstephen my file structure is basically a simple standard gradle file structure:

- ...
- gradle
- src
- - main
- - - java
- - - - de
- - - - - my
- - - - - - package
- - - - - - - MySink.java
- - - - - - - MySource.java
- test
- - java
- - - de
- - - - my
- - - - - package
- - - - - - MyTest.java
- target
- ...

So my test is in MyTest.java which basically contains a
[code]

The problem is

[2018-01-22 01:43] testforstephen commented on #221
Please refer to this doc for enabling remote debugging on tomcat.
https://stackoverflow.com/questions/3835612/remote-debugging-tomcat-with-eclipse

[2018-01-22 06:44] yaohaizh commented on #198
This issue had been fixed in the latest master branch.

[2018-01-22 06:44] #198 closed

[2018-01-22 22:41] fbricon commented on #193
Here are some instructions to get autovalue work in vscode-java: https://github.com/redhat-developer/vscode-java/wiki/Annotation-Processing-support-for-Maven-projects

[2018-01-24 19:57] aboe026 commented on #205
Where do we find the projectName? I tried just using the name of the folder (the folder I selected in `File -> Open Folder...` when starting vscode) but it said `Project <root-workspace-folder cannot be found`.

[2018-01-24 23:26] fbricon opened #222 "After rerunning a test, previously opened report should refresh"
After rerunning a test, previously opened report should refresh.

##### Environment
- Operating System: macOS 10.13.2
- JDK version: 1.8.0_161
- Visual Studio Code version: 1.20-0 insiders
- Java extension version: 0.18.0
- Java Debugger extension version: 0.5.0

##### Steps To Reproduce
1. Say you have a test class with one test method
2. run the test
3. open the test report.
4. Add a new method

[2018-01-25 02:32] yaohaizh commented on #205
@aboe026 Please see the comment above

[2018-01-25 14:29] aboe026 commented on #205
I don't see any `.project` file, and when i delete the launch.json and regenerate it, it does not contain the projectName property:
[code]
I generate the launch.json by going to the Debug Icon on the left, clicking the dropdown that says "No Configurations", then selecting "Add Configuration..." and choosing "Java"

[2018-01-26 01:00] ZZYSonny opened #223 "VSCode Java isn't running the latest code"
When I changed something in the code and run it, VSCode is running the old version and give me the old response. When I run the code for the second time without changing it, it runs the new one.

##### Environment
- Operating System: Mac 10.13.3
- JDK version:9.0.4
- Visual Studio Code version:1.19.3
- Java extension version:0.17.0
- Java Debugger extension version:0.5.0

##### Steps To Reproduce

[2018-01-26 02:12] baodng commented on #164
I've same error, my environment:
MacOS version: 10.12.5
JDK version: 1.8.0_66
Visual Studio Code version: 1.19.3
Java Extension Pack version: 0.2.0
Debugger For Java version: 0.5.0

[2018-01-26 18:23] mojo2012 commented on #68
You should try DCEVM - it allows you to change nearly everything (even introduce new classes) during runtime.
It works independent of the used IDE. You just have to start the JVM with special arugments.

[2018-01-26 18:40] mojo2012 opened #224 "Debug hangs and never really connects"
I have the latest VSCode and the latest version of the java extension(s).
This is my launch.json:
[code]
The progress bar below the debug button spins forever, but the debugger never connects to the running process.
When using the same configuration with Eclipse, it immediately connects and I get a log message, that a debugger has connected on port 8000 (so the JVM is configured correctly).

In th

[2018-01-30 06:20] sant123 opened #226 "Modifying files in resources/templates doesn't reload in Spring Framework"
After configuring the pom.xml, there is not way to make work autoreload or refresh changes without sacrificing debugger in templates (Thymeleaf) or static assets (JS files).

##### Environment
- Operating System: Windows 10
- JDK version: 1.8.0_162
- Visual Studio Code version: 1.19.3
- Java extension version: 0.2.0
- Java Debugger extension version: 0.5.0

##### Steps To Reproduce
1. Please follo

[2018-01-30 18:33] dgileadi opened #227 "Support "Logical Structure" for debug variables"
Eclipse supports "Logical Structure" for debug variables, where things like Lists and Maps display as lists of values instead of the internal structure of, say, ArrayList or LinkedHashMap. Eclipse has preferences for these under Java > Debug > Logical Structures. There are several built in, and you can add your own.

It would be really nice for this project to support them too, ideally with prefer

[2018-01-31 15:36] sant123 commented on #226
It seems it doesn't read configuration from
[code]
Or simply ignores `application.properties` file.
By the way for the moment I turned back to Netbeans and Handlebars for view resolution.
For the issue above, I was using Thymeleaf.

Handlebars config in `application.properties`
[code]

[2018-01-31 17:46] #226 closed

[2018-01-31 20:55] ChrisTrenkamp opened #228 "Suggestion: Prompt user for program arguments"
As a user of the vscode-java-debug extension, I want to be optionally prompted for the parameters to pass in to the program.

I have a program that I very frequently run on different sets of data and requires passing in different arguments.  I could create a new launch configuration, but that takes too long to do and my workspace will get cluttered quickly.

It will be easier to create one launch

[2018-02-01 05:15] yaohaizh opened #229 "0.6.0 Endgame"
# Build
- [x] 2/1 - Bump version to 0.6.0 @yaozheng
- [x] 2/1 - Add change log for 0.6.0 - @yaohaizh
- [x] 2/1 - Signed RC Bits @testforstephen  https://vscjavaci.cloudapp.net/job/vscode-java-debug.vsix-withSign/43/Azure/processDownloadRequest/vscode-java-debug/signedartifacts/43/vscode-java-debug-0.6.0.vsix

# Test
- [x] 2/1 - Run test plan vscjavaci/java-debug-ci#17 - @bsaby
- [x] 2/1 - Test HCR

[2018-02-02 04:34] bsaby opened #232 "Sometimes could not read metadata for maven project"
##### Environment
- Operating System: Windows10/Linux
- JDK version: jdk8
- Visual Studio Code version: 1.19.3
- Java extension version: 0.6.0
- Java Debugger extension version: 0.18.1

##### Steps To Reproduce
1. Open maven project simple-app
2. Open generated simple-app folder using vscode
3. Wait and verify .project and .classpath files and target folder are generated.
4. Press F5 choose java a

[2018-02-02 04:42] bsaby commented on #229
# Run test plan
## Configuration
Win10 x64 | Win10 x86 | Win10 x64 | Mac | Mac | Ubuntu
-- | -- | -- | -- | -- | --
VSCode1.19.3   JDK   1.8.0_161 | VSCode1.19.3   JDK1.8.0_152 | VSCode1.19.3   JDK9.0.3 | VSCode1.19.3   JDK1.8.0_144 | VSCode1.19.3   JDK9.0.1 | VSCode1.19.3   JDK1.8.0_131

## Open bug
#232
## Test result
Test case | Win10 x64 | Win10 x86 | Win10 x64 | Mac | Mac | Ubuntu
-- | -- | -

[2018-02-02 05:34] testforstephen opened #233 "For unsupported HCR case, should show "Continue" and "Terminate" button"
When add new method during HCR, it pops up message saying that `Hot code replace failed - Add method not implemented.` and `Not show again`/`Close`.

The suggestion buttons should be `Continue`/`Terminate` instead of `Not show again`/`Close`.

[2018-02-02 05:39] testforstephen commented on #229
## HCR on Mac

1. Open project `24.hotCodeReplace` in vscode.
2. F5 to launch debug.
3. Change current method, the HCR will restart the top stack frame.
4. Add new method in current class, it pops up a message to say `Add method not implemented`.

The whole feature works. Open an enhancement issue https://github.com/Microsoft/vscode-java-debug/issues/233, it's just a UI enhancement, not function i

[2018-02-02 05:45] testforstephen commented on #229
## Java 9 on Mac

1. Open project `5.breakpoint` in vscode.
2. F5 to launch debug.
3. Add breakpoint at inner class, anonymous class, they all can be hit.
4. Try to set variable and evaluate, it works.

[2018-02-02 06:02] andxu commented on #229
## HCR on Windows/Ubuntu

1. Open project `simple-app` created by mvn quickstart command
2. Modify the App.java to
<pre>
public class App
{
    private static int j = 0;
    public static void main( String[] args ) throws Exception {
        test();
    }

    public static void test( ) throws Exception
    {
        while(true){
            System.out.println( "Hello World!" + j++);
            T

[2018-02-02 06:05] andxu commented on #229
# Test thread on Windows
vscode: 1.19.0
1. Open project https://github.com/vscjavaci/java-debug-ci/tree/master/testcase/3.thread
2. Set BP on the println statments
3. Add evaluation:
 1+2
4. keep on press F5
5. the thread is started/break correctly and the expression is updated accordingly.

[2018-02-02 06:08] andxu commented on #229
1. Install jdk 9
2. Create a single java file App.java, set bp on println, F5 choose java and F5 again
<pre>
public class App
{
    public static void main( String[] args )
    {
        int i = 100;
        StringBuilder sb = new StringBuilder();
        for (int j = 0; j < 1000; j++) {
            sb.append('a');
        }
        String str = sb.toString() + i;
        System.out.println(str);

[2018-02-02 14:26] yaohaizh commented on #229
Close this as published.

[2018-02-02 14:26] #229 closed

[2018-02-04 11:59] XIAZY opened #234 "Failed to launch debuggee VM on non-English folder name"
Opened a brand new project from Eclipse. Seems failed to launch Java VM.

Error message:

##### Environment
- Operating System: macOS 10.13.3
- JDK version: 1.8.0_144
- Visual Studio Code version: 1.19.3
- Java extension version: 0.18.1
- Java Debugger extension version: 0.6.0

##### Steps To Reproduce
1. Click debug(launch)
2. error

##### Additional Informations
I spent at least four hours on tr

[2018-02-04 19:51] zhanglid commented on #205
I have the same issue

[2018-02-05 07:24] andxu commented on #205
@aboe026 , you have not the launch-able class[ class with the static void main(String[]args) method]  in your project,, if you want to debug the program in launch mode, you need to create a main class, and then press f5, if you want to debug it with the attach mode, you need to setup a java project first using maven/gradle or eclipse.

[2018-02-06 15:51] danvsantos commented on #167
On windows 10 I solved it like this:

- Remove Java Plugins from the folder ---> C:\Users\{Your user}\.vscode ;
- And install plugins again

[2018-02-09 07:31] mojo2012 opened #235 "Support "Drop to frame""
It's very hand to be able to "drop to frame" (eclipse terminology) while debugging. Basically it allows you to restart at the beginning of a method (or any method on the stack).
This is especially useful when using DCEVM or jrebel to inject code changes and rerun them.

##### Environment
- Operating System: macOS 10.12.6 (16G1212)
- JDK version: 1.8.0_144-b01
- Visual Studio Code version:  1.20.0

[2018-02-09 07:36] mojo2012 opened #236 "Define custom "toString()" in variables view"
Eclipse has a functioality to setup a custom "toString" method (called "Detail Formatter") on each type in the variables view. This is handy when you have objects that don't come with a nice toSring method. It allows you to directly show the useful information.
Example details formatter: `getName() + ": " + getBirthDate()`

##### Environment
- Operating System: macOS 10.12.6 (16G1212)
- JDK versio

[2018-02-09 07:56] mojo2012 opened #237 "Auto-complete in debug console/watch view"
When being on a breakpoint, autocomplete in the debug console should work exactly like in the editor.
Also the "watch view" should support autocomplete.
When a called method throws an exception, this should be printed in the debug console as well.

##### Environment
- Operating System: macOS 10.12.6 (16G1212)
- JDK version: 1.8.0_144-b01
- Visual Studio Code version: 1.20.0 (1.20.0)
- Java extensi

[2018-02-21 16:02] Muttsu commented on #215
Same problem here on Archlinux, using jdk8. Same error when switched to openjdk9.

[2018-02-22 02:04] yaohaizh opened #238 "Java language server starting all the time in vs code"
From internal user.

We need investigate whether the issue related to the debug configuration generation or by java language server.

[2018-02-23 01:35] robotdad commented on #238
Here is a screenshot of what I'm seeing.
![image](https://user-images.githubusercontent.com/1429895/36573567-8441cce8-17f6-11e8-8299-dd8d0c675b3b.png)

This is happening when I go to the debug mode and click add configuration. The problem is I'm editing C++ (or other files) and not Java when this occurs. When this occurs it causes the UI to not respond until the language service spins up. I'm just

[2018-02-23 18:14] Urastor opened #239 ""Failed to evaluate. Reason: Cannot evaluate because the thread is resumed.""
When using the Scanner class, the debugger does nothing when typing in a value. It stops with the message below.

##### Environment
- Operating System: Windows 10 Professional x64
- JDK version: 8u161
- Visual Studio Code version: 1.20.1
- Java extension version: 0.19.0
- Java Debugger extension version: 0.6.0

##### Steps To Reproduce
1. Create a class with public static void main method
2. Creat

[2018-02-25 22:50] tuanvpham commented on #86
@testforstephen thanks man.

[2018-02-26 04:03] akaroml commented on #238
@robotdad Could you share the workspace (screenshots or directory/file list) to help us investigate?

The Java language support should be activated when:
1. A Java file is opened
2. There is a pom.xml file in the root folder of your workspace
3. User switched to Java language manually

Does any of those cover your case?

[2018-02-27 15:06] lonpalmer opened #241 "Please support Kotlin"
A request to support debugging in Kotlin.

[2018-02-27 22:24] abonneville commented on #239
Based on "The default Debug Console in VS Code doesn't support inputs. In case your program need **inputs** from terminal, you can use Integrated Terminal within VS Code or external terminal to launch it.."
https://code.visualstudio.com/docs/java/java-debugging

My workaround is to edit the launch.json and change console to use integratedTerminal

[2018-02-28 08:50] weinand opened #242 "Java Debug - Cannot open file after renaming folder"
_From @yhtsao on February 28, 2018 7:13_

- VSCode Version: 1.20.1
- OS Version: MacOS 10.12.6
- Language: Java
- Extensions:
    Debugger for Java 0.6.0
    Java Extension Pack 0.3.0
    Java Test Runner 0.3.0
    Language Support for Java(TM) by Red Hat 0.19.0

I'm new to use VS code to develop Java. Everything goes fine when creating the simple java program, compiling and debugging. But when I

[2018-02-28 08:50] weinand commented on #242
_From @vscodebot[bot] on February 28, 2018 7:13_

(Experimental duplicate detection)
Thanks for submitting this issue. Please also check if it is already covered by an existing one, like:
- [Java Extension... java.home problem (#41176)](https://www.github.com/Microsoft/vscode/issues/41176)
- [Failed to save '<filename>.java': The content on disk is newer. Click on Compare to compare your version w

[2018-02-28 17:03] Urastor commented on #239
Oh, I must have completely skipped over that part.

The workaround is acceptable, but it would be nicer, if VS Code would support inputs from terminal.

Thanks a lot.

[2018-02-28 17:03] #239 closed

[2018-03-02 03:10] akaroml commented on #242
@andxu please investigate. It looks like a language server bug to me. If so, please create an issue in vscode-java repo.

[2018-03-02 03:13] akaroml commented on #237
@yaohaizh is auto-completion possible in the Watch panel and the Debug Console?

[2018-03-02 03:19] akaroml commented on #236
@mojo2012 thank you for reporting this issue. Now the debugger supports expression evaluation. So if you type the body of the formatter in Watch panel, it will evaluate. Can it address the issue?

[2018-03-02 03:23] akaroml commented on #235
Technically, we are able to do so. This happens automatically if you are using Hot Code Replace. But as far as I know, we don't have the menu entry to trigger this function manually. If you right-click on a function of the call stack, the context menu entries are generated by VS Code and cannot be customized.

@yaohaizh please double confirm.

[2018-03-02 03:28] akaroml commented on #234
@testforstephen This looks like something we need to fix.

[2018-03-02 03:36] akaroml commented on #233
The current behavior is to hint the users that their newly added functions won't take effect. The debugger won't stop the user from debugger though. The debugger session is not stopped in any way so I don't see 'Continue' apply to the scenario.

I'm seeing the Restart useful for this one. So the hint message is:
Hot code replace failed - adding member functions is not supported. Would you like to

[2018-03-02 03:40] akaroml commented on #232
@andxu Please help investigate

[2018-03-02 03:43] akaroml commented on #227
@dgileadi thanks for reporting. We'll see what we can do here.

@andxu please investigate.

[2018-03-02 03:47] akaroml commented on #224
@mojo2012 thanks for reporting. Unfortunately, I'm not able to reproduce this issue with limited info. In attach scenario, the debuggee program needs to be launched by a user before the debugger can attach to it. Please help double check:
1. Is the debuggee program already launched?
2. Is the firewall blocking the debugger from connecting?
3. Other factors that could affect the attaching process.

[2018-03-02 03:55] andxu commented on #242
@weinand It is a cache bug for single file debug, I will open a new bug track this issue in java language server, BTW, seems your are manually editing launch.json/tasks.json in your configuration and bypassing the project/single file support provided by java language support, it is not suggested because it is hard to write correct javac commands with debug symbol and dependencies, the suggested wa

[2018-03-02 04:15] andxu commented on #232
It is related to java language server startup, cannot reproduce now and investigate in next sprint.

[2018-03-02 04:29] andxu commented on #219
No, I cannot reproduce  the problem, can you give us a gif about the installation steps?

[2018-03-02 05:14] yaohaizh commented on #68
@mojo2012, If you use the DCEVM for the running JVM, the vscode java HCR will support those scenarios.  The HCR will try the underlying behavior of the JVM.

[2018-03-02 05:14] yaohaizh commented on #68
Close this as the main is completed. Other features will be tracked in logged issues.

[2018-03-02 05:14] #68 closed

[2018-03-02 05:21] akaroml commented on #222
@fbricon thanks for reporting.
This is tracked by Microsoft/vscode-java-test#132. Close this one.

[2018-03-02 05:21] #222 closed

[2018-03-02 05:23] akaroml commented on #221
@JunQianZ thanks for reporting. This issue can be addressed by following the stackoverflow discussion. Close for now.

[2018-03-02 05:23] #221 closed

[2018-03-02 05:24] akaroml commented on #217
@andxu how would you like to resolve this issue? you can either create an issue and track at vscode repo or provide a solution here.

[2018-03-02 05:28] akaroml commented on #206
As I understand, this is limited by vscode. Is there an issue at vscode side to request the features? If not, I encourage you to create one @testforstephen

[2018-03-02 05:31] akaroml commented on #197
This to me is resolved. Close for now.

[2018-03-02 05:31] #197 closed

[2018-03-02 05:34] akaroml commented on #193
@plooploops can the instructions help address the issue?

[2018-03-02 05:35] akaroml commented on #191
@testforstephen  please take a look.

[2018-03-02 05:35] akaroml commented on #182
@testforstephen please help investigate.

[2018-03-02 05:36] akaroml commented on #168
Version incompatibility issue which is not in our scope. Close for now.

[2018-03-02 05:36] #168 closed

[2018-03-02 05:38] akaroml commented on #164
@andxu  please work with the users to dig out more details on their project settings and find ways to reproduce. I see multiple reports here.

[2018-03-02 05:42] akaroml commented on #154
@sebastianbarfurth thanks for reporting.
@andxu please provide steps to help the user try and troubleshoot. To me, the project setting is not clear though.

[2018-03-02 05:43] akaroml commented on #157
@Matthew-Dong please help get the clearance to make a fix in spring boot extension.

[2018-03-02 05:53] akaroml commented on #152
@beeblebrox3 thanks for asking. This is an interesting request. For debugger to correctly attach, we'll need the JVM to launch in debug mode and expose a debug port. This info needs to be passed to the debugger. In this case, the JavaScript runtime is responsible for doing so.

I'm opening an issue in redhat-developer/vscode-java#456

[2018-03-02 05:54] akaroml opened #243 "0.7.0 Plan"
- [x] Conditional breakpoints #118 - @andxu
- [x] Bug #90 : Support show invalid breakpoint on breakpoints which is not supported.  - @andxu
- [x] Bug #204 : Single file: can not watch the variable value  - @andxu

[2018-03-02 06:01] #140 closed

[2018-03-02 06:54] yaohaizh commented on #212
Fixed.

[2018-03-02 06:54] #212 closed

[2018-03-02 06:59] andxu commented on #154
Please give us your project structure(brew install tree if tree is not installed) and some system information :
`tree /Users/sebastianbarfurth/Documents/Eclipse\ Workspace/TestProject`
and then java version
`/Library/Java/JavaVirtualMachines/jdk1.8.0_152.jdk/Contents/Home/jre/bin/java -version`
and then java home
`echo $JAVA_HOME`

[2018-03-02 07:05] Matthew-Dong commented on #157
Greetings,

Opened an issue in VSCode Spring Boot extension repo to ask Pivotal for advice.

https://github.com/spring-projects/sts4/issues/43

[2018-03-02 07:22] andxu commented on #164
Cannot repro on my machine, @ZZYSonny, could you please try to upgrade the latest debugger version  0.6.0 and modify  the launch.json to see if this bug eliminates:
[code]

[2018-03-02 07:24] andxu commented on #164
@baodng could you please help us to provide the following command results for us:
`tree <your project root>
echo $JAVA_HOME
which java`

[2018-03-02 07:29] mojo2012 commented on #235
If it's not possible to customize the menu entries, why not add at least a "command" for this?

[2018-03-02 07:31] mojo2012 commented on #236
That's not the same actually. The "detail formatter" feature is persistent across debug sessions. The expression view can be deleted at any point, losing the "body". Futhermore it would kinda "duplicate" the variable.

[2018-03-02 07:32] mojo2012 commented on #224
I will try to gather more data and report back

[2018-03-02 07:36] weinand commented on #242
@weinand please note, I'm not the original author of this bug. I just moved the issue from the VS Code repo to the Java repo.

[2018-03-02 08:09] andxu commented on #238
need to be fixed at Vscode side, see discussions at https://github.com/Microsoft/vscode/issues/33803 and https://github.com/Microsoft/vscode/issues/37918  and https://github.com/Microsoft/vscode/issues/39696 https://github.com/Microsoft/vscode/issues/37929, in short, it is caused by introducing onDebugInitialConfigurations and onDebugResolve https://github.com/Microsoft/vscode/issues/39677, need t

[2018-03-02 08:28] andxu commented on #238
Unfortunately, we use DebugConfigurationProvider to provide run-time initial debug configuration, which makes both our extension/java language server activated.

@weinand commented on Nov 11, 2017

Most debug extensions contribute initial launch configs statically and declaratively through the package.json. In this case the DebugConfigurationProvider.provideDebugConfigurations isn't used and we co

[2018-03-04 06:02] yhtsao commented on #242
@andxu Thanks for your reply. But I'm confused about the debug way that you mentioned. I try to delete the all setting files under ".vscode/" and all *.class files, press F5 to debug my "Hello" program. There will have a window jump out to tell me to select a debug environment. Then I choose "Java", the launch.json will auto-generate as follow:
![image](https://user-images.githubusercontent.com/11

[2018-03-05 01:21] andxu commented on #242
@yhtsao Thank you for your patient for using our plugin, this is another known bug(cannot reproduce everytime), https://github.com/Microsoft/vscode-java-debug/issues/207, for a temporary solution, try to edit the java file or delete  all C:\Users\{your user name}\AppData\Roaming\Code\User\workspaceStorage, wishing it will solve your problem

[2018-03-05 02:05] andxu commented on #194
For single file, the 3-party library is not supported now(the package name isn't supported also), we can vote for the feature like simple-project without .classpath and .project with predefined folder structure,
│   project.json/project.yaml --human readable configuration for project name, jdk version, etc
│
├───lib  -- folder for 3-party library
│       a.jar
│
└───src
    ├───main
    │   └───ja

[2018-03-05 02:27] andxu commented on #191
@adityasrini I think you have different understanding of the phase with us "If there's no debug configuration file launch.json in your project", here if you have no launch.json file in the .vscode file, we will generate one launch.json for you, if you have any modifications over the launch.json file, our plugin will not generate it for you because we think you as advanced user and have knowledge o

[2018-03-05 02:28] andxu commented on #15
It is resolved by vscode-java side. @testforstephen please close it if it is resolved.

[2018-03-05 02:45] testforstephen commented on #15
vscode-java has provided a progress bar during starting, so this issue is resolved.

[2018-03-05 02:45] #15 closed

[2018-03-05 03:02] andxu commented on #125
fixed at https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.target/org.eclipse.jdt.ls.tp.target

[2018-03-05 03:02] #125 closed

[2018-03-05 03:06] andxu commented on #142
DUP as https://github.com/Microsoft/vscode-java-debug/issues/238, closing this one.

[2018-03-05 03:06] #142 closed

[2018-03-05 15:33] ZZYSonny commented on #223
Java Language Service plugin automatically do the compile so I think there is no need to have a task.json file to build. And I remember at early version of debug plugin, it waits for the compile.
![2018-03-05 11 28 47](https://user-images.githubusercontent.com/28442838/36983337-17277cae-20cd-11e8-87c0-8974e02f28c9.png)
![2018-03-05 11 29 03](https://user-images.githubusercontent.com/28442838/36983

[2018-03-05 23:20] WritingSolutions2020 commented on #112
For what it's worth, as of 05 March, 2018 the problem illustrated in the original poster's screenshot still exists.

For Linux Mint 32-bit. Visual Studio code 1.20.1.

1. Installed `/java/jdk1.8.0_161` in `/usr` directory. In `/bin` used `java -version` to verify that the Java executable could be run without error.

2. Added path to JDK in both user and workspace settings:

**User Settings:**
[cod

[2018-03-06 01:04] andxu commented on #112
@WritingSolutions2020 please give more description of "And as others with this problem have noted, the solutions offered aren't working.", can you give us the a description about your problem:
1. are you editing/debugging java code not python code?
2. does the error pops show "Java runtime cannot be located"
3. what the env variables of `JAVA_HOME` and `PATH`
4. what's the result of bash/command p

[2018-03-06 01:12] WritingSolutions2020 commented on #112
Actually I think this may be a PyDev extension problem. The popup shown in the original post doesn't occur  until I open a PY file. (I'm working entirely with Python, not Java).

ANYHOW I've uninstalled Visual Studio Code and moved on.  We can re-close this if you'd like...

[2018-03-06 01:21] andxu commented on #112
Thanks for the feed back, close this issue.

[2018-03-06 01:21] #112 closed

[2018-03-06 01:56] andxu commented on #223
I cannot reproduce it no matter how fast I change my code, would you please upgrade to the latest version :

Language support for Java:0.20.0
Java Debugger extension version:0.6.0

[2018-03-06 02:13] yaohaizh commented on #233
https://github.com/Microsoft/vscode-java-debug/pull/244

[2018-03-06 02:13] #233 closed

[2018-03-06 03:07] yaohaizh commented on #235
VSCode provider a mechanism to restart the frame.

Investigate the code in this sprint and targeting release on next Sprint.

[2018-03-06 03:59] WritingSolutions2020 commented on #112
VSC's documentation and forum comments talk about configuring the editor's USER or WORKSPACE JSON to point to a particular Java SDK. Others then say that the answer" s JAVA_HOME and PATH. **None** are needed. Well, I've gone through all the JSON and JAVA_HOME and PATH stuff. It appears to me that Visual Studio Code is flaky when it comes to working with Java.

So in my experience one of Visual Stu

[2018-03-06 18:46] kdvolder commented on #157
I was able to reproduce the problem. I'm will be doing a few little experiments to try and figure out exactly what the problem (or problems) might be. I'll report my findings here.

On first try it did exactly as the reporter said he did. To be precise these exact steps:

1. clone the repo https://github.com/microsoft/gs-spring-boot.git
2. `cd gs-spring-boot/complete`
3. Open vscode `code .`
4. cr

[2018-03-06 18:58] kdvolder commented on #157
More problems (probable cause of the missing .properties file in bin folder):

Looking inside the `.classpath` file. (I assume it was added by redhat jdt language server which is really just Eclipse JDT under the hood). We see this:

[code]

The problem here is that we are missing the `src/main/resources` source folder. This makes sense because we created the folder after jdt ls created the .class

[2018-03-07 01:34] andxu commented on #223
Based on your gif, it is because you don't save after edit, it should be a bug but is trivial and we will fix it later. I will create a new bug of this.

[2018-03-07 01:43] andxu commented on #157
@kdvolder Thanks very much for your feedback, the project support is been under consideration after the next feature conditional breakpoint completes,  the way from different project type to generate .classpath and .project is not transparent to user and user can hardly do anything.

[2018-03-07 02:52] andxu commented on #217
New vscode version has fixed this issuee

[2018-03-07 02:52] #217 closed

[2018-03-07 03:52] andxu opened #246 "Support multiple projects at one time."
from @iamlothian,

--

[2018-03-07 03:52] andxu commented on #246
https://github.com/Microsoft/vscode-java-pack/issues/21

[2018-03-07 03:55] andxu commented on #246
we should evaluate why java language  server cannot be started at the same time and how to solve it, multiple eclipse can be run at the same time

[2018-03-07 04:03] andxu opened #247 "'javac' is not recognized as an internal or external command, operable program or batch file."
from @Zayik,

https://developers.redhat.com/products/openjdk/overview/

Upon doing so, the user is still unable to use javac to compile the code. They receive the error
"'javac' is not recognized as an internal or external command, operable program or batch file."

This is very frustrating to new users, and those who are rusty towards knowing about pathing and environment variables. At this point,

[2018-03-11 19:46] gorkem commented on #111
I think @fbricon has adopted JDT.LS and m2e to exclude test classes.

[2018-03-11 19:47] gorkem commented on #247
I think this needs to be reported to https://github.com/redhat-developer/vscode-java/.

[2018-03-11 19:51] gorkem commented on #246
jdt.ls does support multiple instances. I constantly use multiple workspaces with Java projects without any issues on Linux and Mac.

[2018-03-12 01:27] andxu opened #248 "Second argument is replaced upon completing the first argument in a method call"
Moved from https://github.com/Microsoft/vscode/issues/41971

- VSCode Version: Latest Insiders
- OS Version: Mac OS

Steps to Reproduce:
1. Insert cursor before the first argument (that accesses some property) to the method.
2. Start typing new argument that also accesses property.
3. On suggestion appearance, press Tab to enter suggestion value
It replaces the old first argument instance with the

[2018-03-12 01:28] andxu commented on #248
https://github.com/Microsoft/vscode-java-pack/issues/12

[2018-03-12 01:33] yaohaizh commented on #248
@andxu, should move to https://github.com/redhat-developer/vscode-java

[2018-03-12 05:44] testforstephen commented on #228
Code merged. Will be released in 0.7.0.

[2018-03-12 05:44] #228 closed

[2018-03-12 07:13] andxu commented on #243
https://github.com/Microsoft/java-debug/pull/129 is merged, #90 is resolved.

[2018-03-12 07:15] andxu commented on #90
While vscode support the breakpoint line number change, but it is still not a smooth experience when user set the breakpoint, the line number is not checked until debug session is started, that makes user very strange after press F5( his breakpoints are changes), so my fix will not update the line number but to make all **invalid** breakpoints invalid.

[2018-03-12 07:15] #90 closed

[2018-03-13 09:06] testforstephen commented on #209
This issue is fixed in the latest vscode.

[2018-03-13 09:06] #209 closed

[2018-03-14 03:34] andxu commented on #248
We need to investigate first whether it is a question before reporting on vscode-java

[2018-03-14 03:39] yaohaizh commented on #248
@https://github.com/redhat-developer/vscode-java/issues/462

Just close this one as it is tracked vscode java.

[2018-03-14 03:39] #248 closed

[2018-03-14 06:58] andxu opened #250 "End game 0.7.0"
# Build
- [x] 3/15 - Bump version to 0.7.0 @andxu
- [x] 3/15 - Add change log for 0.7.0 - @andxu
- [x] 3/15 - Signed RC Bits @testforstephen Bits available at https://vscjavaci.cloudapp.net/job/vscode-java-debug.vsix-withSign/45/

# Test
- [x] 3/15 - Run test plan vscjavaci/java-debug-ci#17 - @bsaby
- [x] 3/15 - Test Conditional BP for Windows, Ubuntu @andxu
- [x] 3/15 - Test Single file support w

[2018-03-14 10:01] Baadier-Sydow commented on #237
@andxu How do I vote on this feature?

[2018-03-15 00:47] andxu commented on #237
Click on the emoji

![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2018-03-15 05:56] andxu commented on #250
Reproduce a known issue on Ubuntu:
![image](https://user-images.githubusercontent.com/17075863/37446571-a0dc0e46-2858-11e8-8fdf-3067351c3737.png)

[2018-03-15 06:08] bsaby opened #254 "Conditional breakpoint: com.sun.jdi.InvalidStackFrameException occurred while retrieving value"
##### Environment
- Operating System: Windows
- JDK version: 8
- Visual Studio Code version: 1.21.1
- Java extension version: 0.7.0
- Java Debugger extension version:0.20.0

##### Steps To Reproduce
1. Open project simple-app in vscode
2. Set conditional breakpoint on line 13 with condition i ==1000, F5 and wait the breakpoint to be hit

[attach a sample project reproducing the error]
[simple-app.

[2018-03-15 07:10] andxu commented on #254
It's related to JdiStackFrame cached in JDIThread, I will fix it in later release.

[2018-03-15 07:37] andxu commented on #250
I have tested conditional breakpoints on windows and ubuntu 16 lts, vscode and insider, and common java 8 && 9 features on Windows.

[2018-03-15 07:41] #204 closed

[2018-03-15 07:42] andxu commented on #187
0.7.0 doesn't include this enhancement.

[2018-03-15 07:43] #205 closed

[2018-03-15 07:46] andxu commented on #205
Fixed in 0.7.0, for attaching mode, it will be fixed at 0.8.0(another issue will be opened tracking attach mode evaluation)

[2018-03-15 07:47] andxu commented on #118
Done in 0.7.0

[2018-03-15 07:47] #118 closed

[2018-03-15 07:49] bsaby opened #255 "Still need project name for one project when attach debug"
##### Environment
- Operating System: All platforms
- JDK version: 8
- Visual Studio Code version: 1.21.1
- Java extension version: 0.7.0
- Java Debugger extension version: 0.20.0

##### Steps To Reproduce
1. Open project 18.attachdebug in testcase
2. Attach debug

##### Current Result
![image](https://user-images.githubusercontent.com/22470312/37450234-1e52e08e-2868-11e8-94e8-974e2e970ea7.png)

[2018-03-15 07:50] andxu commented on #193
It is not related to java debug, close it here, if the problem is not resolved, please recreate it on https://github.com/redhat-developer/vscode-java/issues

[2018-03-15 07:53] andxu commented on #246
@iamlothian, when I try the java extensions, it seems they support multiple vscode instances at one time, can you verify the problem is still here again?

[2018-03-15 07:55] andxu commented on #242
Close here because it is related to vscode-java not vscode-java-debug

[2018-03-15 07:55] #242 closed

[2018-03-15 08:01] andxu commented on #224
@mojo2012 What is going on now, can you reproduce this problem?

[2018-03-15 08:01] testforstephen commented on #250
# Java 9 on Mac

1. Open project 5.breakpoint in vscode.
2. F5 and the launch.json is generated successfully.
3. Click F5 to start debugging.
4. Add breakpoint at inner class, anonymous class, they all can be hit.
5. Try to set variable and evaluate, it works.
6. Add a Conditional breakpoint at a for loop, the breakpoint is only hit when expression is satisfied.

[2018-03-15 08:02] mojo2012 commented on #224
Sorry I didn't have any time yet, I'll try to post an update the next days

[2018-03-15 08:06] andxu commented on #48
There is already a extension done this: https://marketplace.visualstudio.com/items?itemName=dgileadi.java-decompiler

[2018-03-15 08:40] yaohaizh commented on #250
# Test Single file support with Conditional BP
- Open single file from the java-debug-ci project
- Set breakpoint with condition with two sites:
     - The first one is valid variable
     - The second one is invalid variable
- Hit F5 to start debug
- The breakpoint is hit in error condition
- The condidtional works as expected in valid expression

[2018-03-15 08:43] andxu commented on #207
add SummerSun for investigation.

[2018-03-15 08:45] yaohaizh commented on #250
Ubuntu

    OS: Ubuntu 16.04
    VSCode: 1.19.0

Java 8:

    Following the steps from here: vscjavaci/java-debug-ci#17
    The basic functions work as expected: Breakpoints/threads/callstack/variable
    Maven: Newly generated & spring-petclinic works correctly with debugging features.
    Gradle & Single file: Press F5 without issues.

Java 9:

    Following the steps from here: vscjavaci/java-d

[2018-03-15 09:03] bsaby commented on #255
Find that only the first time watching variable the error occurs
![image](https://user-images.githubusercontent.com/22470312/37453315-48459c10-2872-11e8-8891-10664c693bed.png)

[2018-03-15 09:06] andxu commented on #254
Please test on bit https://github.com/Microsoft/vscode-java-debug/issues/254 for this bug

[2018-03-15 09:12] bsaby commented on #250
# Run test plan
1. Configuration

Win10 x64 | Win10 x86 | Win10 x64 | Mac | Mac | Ubuntu
-- | -- | -- | -- | -- | --
Vscode   1.21.1   JDK   1.8.0_161 | Vscode   1.21.1   JDK   1.8.0_161 | Vscode   1.21.1   jdk-9.0.4 | Vscode   1.21.1   JDK   1.8.0_151 | Vscode   1.21.1   jdk-9.0.4 | Vscode   1.21.1   JDK   1.8.0_131

2. Open Bugs:
#254  #255

3. Test result

Test case | Win10 x64 | Win10 x86 | Wi

[2018-03-15 09:14] #250 closed

[2018-03-15 14:15] akaroml commented on #250
Perfect. Thank you, everyone.

[2018-03-15 19:03] plooploops commented on #193
Unfortunately it's still not quite picking up the dependencies for being able to run the debugger in VSCode.  I might be missing something in regards to build order.

[2018-03-16 01:18] andxu commented on #193
Reopen it

[2018-03-16 01:18] #243 closed

[2018-03-16 02:14] bsaby commented on #254
Now I can't repro this issue using build: andy_conditional_breakpoint/33

[2018-03-16 16:27] xiaodongliang opened #256 "debug/run a web application with the skeleton of WEB-INF & WebServlet"
I have a JAVA web application that is server-client by WEB-INF & WebServlet. Dependencies are managed by Maven pom.xml.
https://github.com/xiaodongliang/learn.forge.viewmodels-Intellij-Maven
It has an index.html in WEB-INF, and WEB-INF/web.xml defines the web endpoints by WebServlet. The project works well in IntelliJ. I can run/debug localhost:XXXX/index.html.

The project can be compiled success

[2018-03-19 03:19] simahao commented on #194
@clankill3r u can add config in launch.json like below:
"vmArgs": "-Djava.ext.dirs=/Users/doekewartena/.m2/repository/org/processing/core/3.3.5"

[2018-03-19 06:44] andxu commented on #256
We will provide a tutorial for tomcat users about how to debug a web application.

[2018-03-19 22:27] akaroml commented on #193
@andxu any updates?

[2018-03-20 02:33] andxu commented on #193
Java debugger doesn't do anything special, it just uses the source and class path from Java Language Server(short jdt.ls at https://github.com/eclipse/eclipse.jdt.ls) to lunch your application and jdt.ls will use your pom xml for the project generation so make sure `mvn package` is able to run successfully, because the jdt.ls doesn't support auto-value now, mvn package is required to compile gener

[2018-03-20 02:36] andxu commented on #247
Please refer to this wiki for env setup for java: https://github.com/redhat-developer/vscode-java/wiki

[2018-03-20 02:36] #247 closed

[2018-03-20 02:39] andxu commented on #238
We can do little since vscode activates us at the early stage where I think a new declarative in package.json should be provided by vscode declaring we provides java runtime  configuration.

[2018-03-20 19:20] plooploops commented on #193
@andxu Thanks.  I'll see if I can adapt this work around with mvn package.

When do we expect jdt.ls to support auto-values?

[2018-03-20 23:15] dgileadi opened #258 "Support function breakpoints"
Support and document how to set a [function breakpoint](https://github.com/Microsoft/vscode-docs/blob/master/docs/editor/debugging.md#function-breakpoints).

##### Environment
- Operating System: macOS 10.13.3 High Sierra
- JDK version: 8
- Visual Studio Code version: 1.21.1
- Java extension version: 0.21.0
- Java Debugger extension version: 0.7.0

##### Steps To Reproduce
1. Set a function breakp

[2018-03-21 01:05] andxu commented on #258
Thank you for bring the idea of functional bp, we only support line and limited exception bp now, the function/class bp and variable bp(break one the field is read or written) are not supported yet, please vote this one if you need this feature.

[2018-03-21 01:07] andxu commented on #193
I will work on jdt.ls on project support in next sprint, I can hardly give you the timeline, but will update the progress in this issue.

[2018-03-21 03:15] yaohaizh commented on #111
Close this as the LS filtered test classes.

[2018-03-21 03:16] yaohaizh commented on #58
@andxu, @testforstephen  I think we have fixed the encoding problems?  If cannot fix this, close it as designed.

[2018-03-22 06:45] gitorko opened #259 "Hot Code Replacement not working"
Hot Code Replacement not working in latest version of vscode 1.21.1

##### Environment
- Operating System: Windows 10.
- JDK version: 1.8
- Visual Studio Code version: 1.21.1
- Java extension version:  0.3.0
- Java Debugger extension version: 0.7.0 - 2018-3-15

##### Steps To Reproduce
1. Simple program with new line added within body for function.
2. variables are not detected as HCR didnt work.

[2018-03-22 07:11] gitorko commented on #259
Invalid example

[2018-03-22 07:37] gitorko commented on #259
Provided valid example

[2018-03-22 13:01] yaohaizh commented on #259
@gitorko Could you share your repro project here?

[2018-03-22 14:54] gitorko commented on #259
[helloworld.zip](https://github.com/Microsoft/vscode-java-debug/files/1838034/helloworld.zip)

If i make the change to Greet.java before a debugger checkpoint in the file is hit, then the HCR works. After the file is hit then though the breakpoint seems to be hit again the values dont show in variables.

[2018-03-22 15:17] yaohaizh commented on #259
@gitorko: Do you have enable HCR on user setting:

[code]

[2018-03-22 15:22] gitorko commented on #259
No it was not present. After adding the property debugging is working fine. I guess that was the issue?

[2018-03-23 00:58] yaohaizh commented on #259
Yes, by default HCR is disabled.  Close this issue as it is setting problem.

[2018-03-23 00:58] #259 closed

[2018-03-25 09:14] xpf7622 opened #260 "chinese character don't display appropriate"
// **Hello world java file is utf-8**
**public class HelloWorld** {
public static void main(String[] args) {
System.out.println("Hello World! **汉字！**");
}
}

output as follows:

**Hello World! 姹夊瓧锛�**

but java file have the default code utf-8. and Debugger for java default also utf8, why the output is abnormal character!

**Operating system : simplified Chinese win10 ;  version. :  1709(16299 .33

[2018-03-25 15:34] akaroml opened #261 "Turn on Hot Code Replace by default"
Please make this on by default as we discussed before. It should be in a stable stage now.

[2018-03-25 15:34] akaroml commented on #260
@testforstephen please take a look.

[2018-03-26 01:00] andxu commented on #260
@xpf7622 could you please upload your HelloWorld.class to this issue?

[2018-03-26 01:52] andxu commented on #187
https://github.com/Microsoft/vscode-java-debug/pull/262

[2018-03-26 03:29] andxu commented on #255
https://github.com/Microsoft/java-debug/pull/164

[2018-03-26 03:29] andxu commented on #254
https://github.com/Microsoft/java-debug/pull/163

[2018-03-26 03:29] #254 closed

[2018-03-26 03:32] yaohaizh commented on #261
Fixed.

[2018-03-26 03:32] #261 closed

[2018-03-26 06:09] xpf7622 commented on #260
@andxu Debug doesn't produce HelloWorld.class file。

[2018-03-26 08:59] xpf7622 commented on #260
this is my java file. debug process doesn't produce HelloWorld.class file.
[HelloWorld.zip](https://github.com/Microsoft/vscode-java-debug/files/1847101/HelloWorld.zip)

[2018-03-27 06:43] bsaby commented on #185
Test passed using the latest VSCode( version: 1.21.1)
Since this issue has been fixed and the test passed, close it.

[2018-03-27 06:43] #185 closed

[2018-03-27 09:10] bsaby commented on #187
Test passed.

- Vscode: 1.21.1
- Java debug build: andy conditional breakpoint/36
- Language support for java:0.21.0

[2018-03-27 09:11] bsaby commented on #255
Test passed.

- Vscode: 1.21.1
- Java debug build: andy conditional breakpoint/36
- Language support for java:0.21.0

[2018-03-27 11:48] simahao opened #264 "Running the contributed"
[provide a description of the issue]

##### Environment
- Operating System:WIN7
- JDK version:1.8
- Visual Studio Code version:1.21.1
- Java extension version:0.21.0
- Java Debugger extension version:0.7.0

##### Steps To Reproduce
maven project or simple java file(only have System.out.println("hello world")),click f5 for debug,it is works,click f5 after a while,error messagebox is showed in right

[2018-03-28 02:09] yaohaizh commented on #235
Merged.

[2018-03-28 02:09] #235 closed

[2018-03-28 08:33] bsaby opened #265 "Main class list will not be updated when mainclass decreases"
##### Environment
- Operating System: Windows / Mac
- JDK version: 8 / 9
- Visual Studio Code version:1.21.1
- Java extension version:0.21.0
- Java Debugger extension version: 0.7.0

##### Steps To Reproduce
1. Open two single files in the current window
2. Press F5, select java environment,
3. After compiling, you will see that there are two main classes in the list
4. Close one single file
5. Pr

[2018-03-28 08:33] bsaby opened #266 "Unexpected error message when no main class is selected"
##### Environment
- Operating System: Windows / Mac
- JDK version: 8 / 9
- Visual Studio Code version:1.21.1
- Java extension version:0.21.0
- Java Debugger extension version: andy private build/39

##### Steps To Reproduce
1. Open two single files in the current window
2. Press F5
3. Select java environment
4. Don't select any main class and click on other areas to make the main class list disapp

[2018-03-28 08:58] bsaby commented on #207
Test passed.

Vscode: 1.21.1
Java debug build: andy private build/39
Language support for java:0.21.0

[2018-03-28 08:59] bsaby commented on #223
Test passed.

Vscode: 1.21.1
Java debug build: andy private build/39
Language support for java:0.21.0

[2018-03-28 18:26] supersonicclay commented on #111
@yaohaizh I'm still seeing `/myproject/target/test-classes` listed in the classpaths with redhat.java@0.21.0 and vscjava.vscode-java-debug@0.7.0.

[2018-03-29 01:37] yaohaizh commented on #111
Need further verify this issue.

[2018-03-29 12:57] riccardodebenedictis commented on #236
something like this would be amazing: [natvis](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/Debugger/natvis/Natvis.md)

[2018-03-30 01:25] andxu commented on #266
https://github.com/Microsoft/vscode-java-debug/pull/267/files

[2018-03-30 01:33] andxu commented on #265
Another issue of jdt.ls's default project cache issue, the linkedResources is not updated when user closes the java file.

<?xml version="1.0" encoding="UTF-8"?>
<projectDescription>
	<name>jdt.ls-java-project</name>
	<comment></comment>
	<projects>
	</projects>
	<buildSpec>
		<buildCommand>
			<name>org.eclipse.jdt.core.javabuilder</name>
			<arguments>
			</arguments>
		</buildCommand>
	</buildS

[2018-03-30 02:13] #255 closed

[2018-03-30 02:13] #187 closed

[2018-03-30 03:02] #223 closed

[2018-03-30 03:02] #207 closed

[2018-03-30 19:38] HaiUIT commented on #260
I have the same problem with you, after I set my java file encode to UTF-8 with BOM it work and print the right text. But it is not a solution, because javac doesn't work with UTF-8 with BOM. If i run javac or use other build tool like gradle, maven to build my code, it will throw this error :

` > javac -encoding UTF8 Test.java`
`Test.java:1: error: illegal character: '\ufeff'`
`?class Test {`
`^

[2018-04-02 02:43] #266 closed

[2018-04-02 02:50] andxu commented on #264
Thanks for using java debug plugin, could you please provide us the console log of vscode:

![image](https://user-images.githubusercontent.com/17075863/38181111-a1e84b60-3663-11e8-8072-d2243d6c7eb5.png)

[2018-04-02 05:24] yaohaizh opened #268 "Endgame 0.8.0"
# Milestone 0.8.0:

Link: https://github.com/Microsoft/vscode-java-debug/milestone/9
 - [x] 4/2 @yaohaizh
 - [x] 4/2 @andxu
 - [x] 4/2 @SummerSun
 - [x] 4/2 @testforstephen

# Build
- [x] 4/3 - Bump version to 0.8.0 @yaohaizh
- [x] 4/3 - Add change log for 0.8.0 - @yaohaizh
- [x] 4/3 - Signed RC Bits @testforstephen

# Test
- [x] 4/3 - Run test plan vscjavaci/java-debug-ci#17 - @bsaby
- [x] 4/3 -

[2018-04-02 07:47] andxu commented on #215
I cannot reproduce, synced with Sally Liu, she cannot repro it now.

[2018-04-02 07:47] #215 closed

[2018-04-03 01:44] testforstephen commented on #120
find no resource to finish it yet, add it to backlog.

[2018-04-03 02:03] testforstephen commented on #210
Windows cmd.exe has the maximum cli length limit, that is 8092 characters. The cli launch parameters of  Spring-petclinic project exceeds this limit, so it'll fail on cmd.exe. If the terminal is set to powershell, it works.

I verified that when `terminal.integrated.shell.windows` is set to powershell, launching spring-petclinic in integrated terminal will work, but `terminal.external.windowsExec`

[2018-04-03 06:50] yaohaizh commented on #268
# Ubuntu
- OS: Ubuntu 16.04
- VSCode: 1.21.0

## Java 8:
- Following the steps from here: https://github.com/vscjavaci/java-debug-ci/issues/17
- The basic functions work as expected:  Breakpoints/threads/callstack/variable
- Maven: Newly generated & spring-petclinic works correctly with debugging features.
- Gradle & Single file: Press F5 without issues.

## Java 9:
- Following the steps from here

[2018-04-03 06:50] andxu commented on #268
Encounter build error  when debugging gs-spring-boot program:

[Error - 2:49:25 PM] Apr 3, 2018 2:47:46 PM Error occured while building workspace. Details:
message: The import org.springframework cannot be resolved;code: 268435846
message: The import org.springframework cannot be resolved;code: 268435846
message: The import org.springframework cannot be resolved;code: 268435846
message: SpringBoot

[2018-04-03 06:52] yaohaizh commented on #268
## VSCode insider

VSCode 1.21
OS: Ubuntu

1. Use vscode to open project https://github.com/vscjavaci/java-debug-ci/tree/master/testcase/19.java9-app

2. set breakpoint and press F5
3. add expression in watch panel, check evaluation.

[2018-04-03 07:39] testforstephen opened #270 "Restart frame on the bottom entry call stack fails, but Call Stack View status is still updated"
If i select the bottom call stack and execute `restart frame` operation, it will throw an error `Current stack frame doesn't support restart`. Apparently this means the operation failed, the issue is that VSCode Call Stack View status is still updated to `PAUSED ON RESTARTFRAME`. This looks like the call stack has been updated, but actually the current `Restart` operation didn't change the call st

[2018-04-03 07:41] testforstephen commented on #268
# Test Restart Frame on Mac

1. Open project `25.restartFrame` in vscode.
2. Follow test plan `Restart Frame` at the link https://github.com/vscjavaci/java-debug-ci/issues/17, restart frame at non-entry-call-stack, the debugger will pop the stacks on top of the specified stack and restep into the specified stack. The `restart frame` feature works. But if i select the bottom call stack and execute

[2018-04-03 07:49] testforstephen commented on #268
# Java 9 on Mac

1. Open project `5.breakpoint` in vscode.
2. Add breakpoint at inner class, anonymous class, they all can be hit.
3. Add conditional breakpoint at the for loop, it also is hit only the given condition is satisfied.
4. Step in, Step out, Step over all work as expected.

[2018-04-03 07:55] yaohaizh commented on #270
Non blocking, need update UI status for stop event.

[2018-04-03 08:35] bsaby commented on #268
# Run test plan
1. Configuration

Win10 x64 | Win10 x86 | Win10 x64 | Mac | Mac | Ubuntu
-- | -- | -- | -- | -- | --
VSCode   1.21.1   JDK   1.8.0_161 | VSCode   1.21.1   JDK   1.8.0_161 | VSCode   1.21.1   JDK 9.0.4 | VSCode   1.21.1   JDK   1.8.0_144 | VSCode   1.21.1   JDK 9.0.4| VSCode   1.21.1   JDK   1.8.0_161

2. Test result:

Test case | Win10 x64 | Win10 x86 | Win10 x64 | Mac | Mac | Ubun

[2018-04-03 08:44] #268 closed

[2018-04-04 01:22] erihanse opened #271 "Resume all pausing threads"
Is there some way to resume all waiting threads?
Sometimes when I set a breakpoint, I only want one of the threads to pause, to inspect some behaviour.

![image](https://user-images.githubusercontent.com/9251274/38283632-53e93686-37b7-11e8-82ae-f47eee8b5a36.png)

Same as https://github.com/redhat-developer/vscode-java/issues/488#event-1555413245

[2018-04-04 01:37] testforstephen commented on #103
This is doable, but current blocking thing is how to customize the context menu entry. We have created vscode issues Microsoft/vscode#36394 and https://github.com/Microsoft/vscode/issues/39091 to discuss this.

[2018-04-04 01:38] testforstephen commented on #271
Duplicated with another issue https://github.com/Microsoft/vscode-java-debug/issues/103.

[2018-04-04 01:59] #271 closed

[2018-04-08 03:02] yaohaizh commented on #270
https://github.com/Microsoft/java-debug/pull/167

[2018-04-08 03:02] #270 closed

[2018-04-08 03:06] yaohaizh opened #272 "Support logpoint with the debug protocol changes"
https://code.visualstudio.com/updates/v1_22#_debug-adapter-protocol

VSCode java debug protocol has the logPoint support and some other changes:
Logpoint support

[2018-04-09 07:50] testforstephen commented on #234
Internally the debugger will invoke `Runtime.getRuntime().exec(cmds, envVars, cwd)` to launch the program. Looks like java Runtime.exec cannot handle non ascii characters argument very well. And try the non-english folder case in eclipse, it also failed there with the same error message.

[2018-04-09 08:50] testforstephen commented on #234
Reproduced this issue on windows 10. On cmd terminal and java debugger extension, they both cannot launch a non-ascii folder correctly. This is a known java issue because of your system locale. The workaround for windows is changing system locale to your target language (Chinese, Japanese, etc.).

Here is the steps about how to do it in windows. https://www.java.com/en/download/help/locale.xml

[2018-04-09 08:53] testforstephen commented on #58
Duplicated with bug https://github.com/Microsoft/vscode-java-debug/issues/234, see the comments there for workaround.

[2018-04-09 08:53] #58 closed

[2018-04-11 06:12] testforstephen commented on #260
The underlying compiler (jdt complier) used by java debug extension looks like using the OS default encoding to parse the source file, when source file encoding is not same as the system encoding, the generated .class file will contain messy string literal. Need find a way to pass the correct source file encoding to the jdt compiler.

[2018-04-12 02:46] testforstephen commented on #260
Tracking the issue at vscode-java side https://github.com/redhat-developer/vscode-java/issues/479

[2018-04-12 03:17] testforstephen commented on #218
@sceee  I tried the junit gradle project https://github.com/junit-team/junit5-samples/tree/master/junit5-vanilla-gradle, the source jump works when debugging test case. Not sure whether it's your gradle configuration issue or not. Can you try the project i listed?

[2018-04-12 08:36] testforstephen commented on #234
@XIAZY What's your mac locale? You can exec `locale` command in Terminal to get the locale info.

My mac locale is `en_US.UTF-8`, and i use the debug extension to debug a java project with Chinese characters in the directory, the launch succeeds.

[2018-04-12 08:48] testforstephen opened #273 "[Mac] Cannot jump to the stacktrace's source correctly when the project directory contains chinese characters"
<img width="1100" alt="screen shot 2018-04-12 at 4 40 34 pm" src="https://user-images.githubusercontent.com/14052197/38666279-1b184868-3e71-11e8-83a6-36d16be5416e.png">

The chinese path returned by debugger contains messy code, so it failed to jump to the source editor.

[2018-04-12 23:06] manastalukdar opened #274 "Debugger kicks off a (full?) compilation every time even when there is no code change"
Workspace is being compiled (full?) every time on debugging even when there is no code change.

It appears after one of the recent updates, every time I hit debug a full compilation is initiated, which takes time and slows down my development workflow. Previously the debugger would start very quickly, possibly because it did an incremental compilation, perhaps only if any code changes were detecte

[2018-04-13 04:54] XIAZY commented on #234
@testforstephen
here's my locale
[code]

[2018-04-13 07:10] akaroml opened #275 "Launch by sensing active source code"
This is a request from the community.

When the current workspace contains multiple main classes, the debugger helps generate launch configuration for each main class. Then users can switch configurations to launch different classes.

An alternative is to remove the value of mainClass entry from launch configuration. This will make the debug list all the main classes and let users pick from the li

[2018-04-13 10:25] rerosum commented on #274
Hi andxu,

I am experiencing the same issue.  I have a preLaunchTask that invokes gradle to do a build, so compiling the code before starting the debug session is not needed.  Is there any way to disable this compilation step?

If not, how would I go about rolling back to version 0.7.0?

Thank you

[2018-04-16 08:15] saard opened #276 "Java test runner doesn't resolve test dependencies"
[provide a description of the issue]

##### Environment
Windows 10
java version "1.8.0_161"
Java(TM) SE Runtime Environment (build 1.8.0_161-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.161-b12, mixed mode)

- VS Code version: 1.22.2
- Language support for Java: 0.22.0
- Java extension pack version: 0.3.0
- Java Debugger extension version: 0.8.0
- Java test Runner extension version:  0.5.0
- M

[2018-04-17 14:51] erihanse opened #277 "Stop on caught/uncaught exceptions"
Issue Type: <b>Bug</b>

##### Steps To Reproduce
1. [step 1] Tick the uncaught and caught exceptions
2. [step 2] Produce an error

##### Current Result
Debugger doesn't halt where the exception occurs
##### Expected Result
Halt on exception.
##### Additional Informations
I'm not sure if this is supported or not, I couldn't find any information on it.

Extension version: 0.8.0
VS Code version: Code

[2018-04-18 03:33] manastalukdar commented on #274
Just updated language support extension to 0.23, and the pre-debug compilation is now a lot faster.

[2018-04-18 19:01] rerosum commented on #274
Yes, much better, thank you.

[2018-04-19 01:16] andxu commented on #274
Thanks for the feedback, close the issue.

[2018-04-19 01:16] #274 closed

[2018-04-19 01:24] SummerSun commented on #276
Hi,

Thank you for reporting the issue. We are wondering, if you are working on a open source project, could you please provide us more about it? It will help a lot about the investigation. Otherwise, a sample project is good too.

[2018-04-19 01:27] andxu commented on #277
Seems a regression, I will figure out the root cause.

[2018-04-19 04:14] andxu commented on #238
@roalexan Have you noticed that the new vscode-java has improved on the startup speed and ui to decrease the influence conflicting with other languages, eg: c++

[2018-04-19 07:41] testforstephen commented on #273
Close it with PR https://github.com/Microsoft/java-debug/pull/170.

[2018-04-19 07:41] #273 closed

[2018-04-20 19:21] erihanse opened #278 "Debug adapter doesn't detach when finished execution"
Expected behaviour is that I won't need to stop execution when the program has finished. Reproducable with following boilerplate:

[code]

![image](https://user-images.githubusercontent.com/9251274/39069618-9c2bafba-44e0-11e8-8e00-51c89f53fa68.png)

The way it is now, I need to press shift+F5 when execution is finished.

[2018-04-20 21:25] erihanse opened #279 "Duplicate classpath entries when running in vs code, but not in Eclipse"
Issue Type: <b>Bug</b>

When I try to launch a configuration in vs code I get duplicate classpath entries. I'm in the root folder of several projects, so the tree corresponds to how it would look like in ecclipse, if you have imported several projects into your workspace. So in eclipse it would look like this:
![image](https://user-images.githubusercontent.com/9251274/39074418-879015d0-44f1-11e8-8

[2018-04-21 01:03] simahao commented on #264
reinstalled extension,error is not showed again. ：）

[2018-04-21 01:18] simahao opened #280 "build failed"
##### Environment
Operating System:WIN7
JDK version:1.8
Visual Studio Code version:1.22.2
Java extension version:0.23.0
Java Debugger extension version:0.8.0

##### Steps To Reproduce
1. simple hello world project,after click f5, annoying error message is showd.[build failed....]
![image](https://user-images.githubusercontent.com/4537287/39078989-f7fa74e8-4544-11e8-8557-fc75cca87dc3.png)

toggle d

[2018-04-22 21:07] erihanse opened #281 "Feature request: Add support for lambda and reference expressions in debug evaluation"
Current behaviour:
[code]

[2018-04-23 01:16] erihanse commented on #279
Seems I had tinkered with a classpath manually, when I removed a project and readded it in eclipse, it included a combineaccessrule=false parameter, my own bad.

[2018-04-23 01:16] #279 closed

[2018-04-23 02:59] andxu commented on #281
Eclipse doesn't support it and we are leverage their jdt libraries for expression evaluation, so it will be a big change to have a own implemented expression evaluation, see https://stackoverflow.com/questions/42346169/java-eclipse-lambda-expressions-cannot-be-used-in-an-evaluation-expression?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

[2018-04-23 09:38] bsaby opened #282 "Warning: using incubator modules: jdk.incubator.httpclient"
##### Environment
- Operating System: Win10
- JDK version: JDK-10.0.1
- Visual Studio Code version: 1.22.2
- Java extension version: 0.23.0
- Java Debugger extension version: 0.8.0 (build246)

##### Steps To Reproduce
1. Open a java project in our test case
##### Current Result
![image](https://user-images.githubusercontent.com/22470312/39118864-faa6433c-471c-11e8-8da7-b6e3a46fb979.png)

[2018-04-23 09:42] bsaby opened #283 "Request textDocument/codeAction failed"
##### Environment
- Operating System: Win10
- JDK version: JDK-10.0.1
- Visual Studio Code version: 1.22.2
- Java extension version: 0.23.0
- Java Debugger extension version: 0.8.0 (build246)

##### Steps To Reproduce
1. Open project 24.hotCodeReplace in vscode.
2. Set breakpoints: NameProvider.java line 12; Person.java line 13
3. Press F5 to start debug.
4. The program stopped at the Person.java

[2018-04-23 09:46] sallyur opened #284 "AM Unrecognized request: { _request: completions }"
Environment

- Operating System: Windows10 x 64
- JDK version: JDK-10.0.1
- Visual Studio Code version:1.22.2
- Java extension version: 0.23.0
- Java Debugger extension version: 0.8.0(build 246)

Steps To Reproduce

1. Open test project 2.callstack
2. Open Bar.java,set BP on line 3
3. Press F5 to generate launch.json file
4. Press F5 ,click the testFoo line in the call stack view and change j to 3

[2018-04-23 09:46] bsaby opened #285 "An error occurred while building workspace for java9 project"
##### Environment
- Operating System: Win10
- JDK version: JDK-10.0.1
- Visual Studio Code version: 1.22.2
- Java extension version: 0.23.0
- Java Debugger extension version: 0.8.0 (build246)

##### Steps To Reproduce
1. Open our testcase 19.java9-app in vscode

##### Current Result
![image](https://user-images.githubusercontent.com/22470312/39119228-ee59a514-471d-11e8-964b-40fda4a71ff6.png)

[2018-04-23 10:07] sallyur opened #286 "Sometimes the line System.out.println("inner"); is hit, the watch result don't displayed with red error message"
Sometimes this issue also repro in java8 env.

Environment
- Operating System: Windows10 x 64
- JDK version: JDK-10.0.1
- Visual Studio Code version: 1.22.2
- Java extension version: 0.23.0
- Java Debugger extension version: 0.8.0(build 246)

Steps To Reproduce

1. Open test project 5.breakpoint
2. Change the code to:

class A {

void m() {
    System.out.println("outer");
}

String n() {
    retu

[2018-04-24 03:37] andxu commented on #286
UI issue, more likely a vscode issue, need log to further analysis.

[2018-04-24 03:40] andxu commented on #264
@simahao , Can we close this issue because it seems solved.

[2018-04-24 03:41] andxu commented on #285
@SummerSun to take a look.

[2018-04-24 03:46] andxu commented on #282
according to article: http://www.cnblogs.com/IcanFixIt/p/7229611.html, the test case should change to the right package name of httpclient, the package jdk.incubator.httpclient should be deprecated and a new package in jdk 10 will be used, I will update the test case later

[2018-04-24 03:49] #282 closed

[2018-04-24 04:05] andxu commented on #154
DUP as https://github.com/redhat-developer/vscode-java/issues/400, solved at java language server side.

[2018-04-24 04:07] andxu commented on #154
Closing the wrong issue, reopen it again.

[2018-04-24 04:09] andxu commented on #157
@kdvolder @amitmerin This issue is solved at java language server side, see discussions at
 https://github.com/redhat-developer/vscode-java/issues/400

[2018-04-24 04:09] #157 closed

[2018-04-24 04:12] andxu commented on #219
@x-strong Are you now able to install our extension?

[2018-04-24 04:28] bsaby commented on #286
Here is the log fie.
[log.txt](https://github.com/Microsoft/vscode-java-debug/files/1940857/log.txt)

[2018-04-24 05:11] andxu commented on #286
I see the right response from java debugger, it is a vscode bug
[code]

[2018-04-24 07:58] #285 closed

[2018-04-24 10:10] bsaby commented on #285
Test passed.
#### Environment
1.  Win10
2. JDK-10.0.1
3. Visual Studio Code version: 1.22.2
4. Java extension version: 0.23.0
5. Java Debugger extension version: 0.8.0 (build251)

[2018-04-25 02:28] andxu commented on #265
Close when auto select current feature is enabled. see https://github.com/Microsoft/vscode-java-debug/issues/275

[2018-04-25 02:31] #277 closed

[2018-04-25 02:33] SummerSun commented on #280
Hi,

Thank you for reporting the issue.

Have you tried the build from command line? If the build is fine from command line, maybe you could reference this issue https://github.com/redhat-developer/vscode-java/issues/495 and try to clean the workspace to give it another try.

[2018-04-25 02:56] andxu commented on #278
@erihanse I cannot repro your issue, see my gif, if you can still repro this bug, please attach the log by Help->Toggle Developer Tools

![test1](https://user-images.githubusercontent.com/17075863/39223910-0fcf19d6-4877-11e8-9327-91d814941044.gif)

![image](https://user-images.githubusercontent.com/17075863/39223928-2b692a06-4877-11e8-8d94-4bf489b65501.png)

[2018-04-25 03:02] andxu commented on #280
@simahao Could you please upload your project folder as a zip file? Have you ever renamed the java file?

[2018-04-25 03:26] andxu commented on #182
Seems related with same jdt bugs: https://github.com/Microsoft/java-debug/issues/23

[2018-04-25 04:09] erihanse commented on #278
![debug-close](https://user-images.githubusercontent.com/9251274/39225794-b46bd836-484e-11e8-9271-dfd998b40cd8.gif)
Appreciate your time.
When I created a new project in eclipse, and opened the folder in vs code I didn't manage to reproduce the issue.

[-1524628741357.log](https://github.com/Microsoft/vscode-java-debug/files/1945435/-1524628741357.log)

[2018-04-25 08:42] andxu commented on #275
which need vscode interfaces for ui selection: https://github.com/Microsoft/vscode/issues/48650

[2018-04-25 08:59] sallyur commented on #191
Test passed.

Environment

1. Mac Sierra 10.12.6
2. JDK 1.8.0_144
3. Visual Studio Code version: 1.22.2
4. Java extension version: 0.23.0
5. Java Debugger extension version: 0.8.0 (build: andy_private_build 40)

[2018-04-25 09:00] #191 closed

[2018-04-26 01:48] yaohaizh commented on #272
@andxu the logpoint should call evaluation when hit. Please help investigate to leverage the evluation provider.

[2018-04-26 01:49] andxu opened #288 "Distinguish user error from system error"
We should distinguish user error to avoid telemetry noise.

[2018-04-26 02:24] andxu commented on #275
Move to later release 0.10.0

[2018-04-26 02:37] yaohaizh commented on #284
https://github.com/Microsoft/java-debug/pull/175

[2018-04-26 02:52] testforstephen opened #291 "Endgame 0.9.0"
# Milestone 0.9.0:

Link: https://github.com/Microsoft/vscode-java-debug/milestone/10
 - [x] 4/26 @yaohaizh
 - [x] 4/26 @andxu
 - [ ] 4/26 @SummerSun
 - [x] 4/26 @testforstephen

# Build
- [x] 4/26 - Bump version to 0.9.0 @testforstephen
- [x] 4/26 - Add change log for 0.9.0 - @testforstephen
- [x] 4/26 - Signed RC Bits @testforstephen
RC Bits [#54](https://vscjavaci.cloudapp.net/job/vscode-java-d

[2018-04-26 02:56] yaohaizh commented on #284
Fixed.

[2018-04-26 02:56] #284 closed

[2018-04-26 03:25] #237 closed

[2018-04-26 04:02] bsaby commented on #234
Can't find or load main class in Windows on non-English folder name
![image](https://user-images.githubusercontent.com/22470312/39285162-841bbe98-4949-11e8-8d1a-35fb8d91ade1.png)
JDK8 environmet:
![image](https://user-images.githubusercontent.com/22470312/39285170-8d0e7d88-4949-11e8-9e38-d19ba56c9eda.png)
JDK10 environment:
![image](https://user-images.githubusercontent.com/22470312/39285176-99728

[2018-04-26 05:20] andxu opened #293 "Performance metrics for vscode-java and vscode-java-debug extension"
select some sample project with different size, measure the load time for general operation.

[2018-04-26 06:21] andxu opened #294 "Intellisense on vscode debug console doesn't provide proper completion"
1. in a non-static method, input `this. `  cannot toggle the method list of this object, you must press ctrl+space
2. if I select hashCode which is a method but the finally code would be this.hashCode not this.hashCode()

[2018-04-26 06:28] yaohaizh commented on #294
This is an issue of VSCode debug protocol

[2018-04-26 06:50] testforstephen commented on #294
Also got wrong intellisense. See the screenshot:
<img width="1440" alt="screen shot 2018-04-26 at 2 48 13 pm" src="https://user-images.githubusercontent.com/14052197/39290120-2032e074-4961-11e8-8f30-bcf0e069f4c2.png">

[2018-04-26 07:01] andxu commented on #232
Contacted with the author, cannot reproduce now.

[2018-04-26 07:02] testforstephen commented on #291
# [Mac] Auto-Complete in Debug Console View

1. Open 5.breakpoint project in VS Code.
2.Hit a breakpoint.
3. At Debug Console View, typing `args.le` cannot show the correct intellisense. Update the comment bug #294
4. Except the lagging issue after `xxx.`, the code complete works well.

[2018-04-26 07:04] #232 closed

[2018-04-26 07:09] testforstephen commented on #291
# [Mac] Basic function test for Java 8

1. Open spring-petclinic project in vscode.
2. F5, auto-generation policy will generate java debug configurations in launch.json.
3. Add a breakpoint in Home Controller.
4. Access the website at localhost:8080, the breakpoint is hit. And evaluate `this.hashCode()` works.

[2018-04-26 07:14] yaohaizh commented on #294
The same issue as above since the completion is not triggred.

[2018-04-26 07:29] testforstephen commented on #291
# [Mac] Test Java 9

1. Open `19.java9-app` project in vscode.
2. Auto generation will generate launch.json correctly.
2. F5 and hit breakpoint.
3. Typing evaluate expression in Debug Console View, the intellisense works well.

[2018-04-26 07:33] yaohaizh commented on #291
## VSCode insider

VSCode 1.22
OS: Windows

1. Use vscode to open project Spring pet clinic
2. set breakpoint and press F5
3. add expression in watch panel, check evaluation, restart frame

[2018-04-26 07:33] yaohaizh commented on #291
# Ubuntu
- OS: Ubuntu 16.04
- VSCode: 1.22

## Java 8:
- Following the steps from here: https://github.com/vscjavaci/java-debug-ci/issues/17
- The basic functions work as expected:  Breakpoints/threads/callstack/variable
- Maven: Newly generated & spring-petclinic works correctly with debugging features.
- Gradle & Single file: Press F5 without issues.

## Java 9:
- Following the steps from here:

[2018-04-26 08:12] bsaby commented on #291
# Run test plan
Following vscjavaci/java-debug-ci#17
1. Configuration

Win10 x64 | Win10 x86 | Win10 x64 | Mac | Mac | Ubuntu
-- | -- | -- | -- | -- | --
1.22.2   X64   JDK1.8.0_171 | 1.22.2   X64   JDK1.8.0_172 | 1.22.2   X64   JDK10.0.1_171 | 1.22.2   JDK-10.0.1 | 1.22.2   JDK-1.8.0_161 | 1.22.2   JDK-1.8.0_161

2. Issue
Run test plan `Encoding Test for project under chinese directory`, find the

[2018-04-26 08:37] andxu commented on #291
Ubuntu 16.04, Clean OS with oracle-java8 and lastest vscode:
1. Generate the quick start java project use maven extension.
2. Make a bp on println statement
3. F5 to generate launch.json, F5 again
4. When bp is hit, type args.length in debug console
 the same behavior as windows.

[2018-04-26 08:43] andxu commented on #291
On windows/Ubuntu, I have verify the following test case:
- Breakpoint and innner class Test
- Caught and Uncaught exceptions Test
- Evaluation and variables Test
- HCR Test

[2018-04-26 19:40] erihanse commented on #277
![uten navn](https://user-images.githubusercontent.com/9251274/39327922-d4e7ef18-4999-11e8-8f59-6c42e10b41bf.png)

Great job! Just a slightly unexpected behaviour:
As you can see from the file here, I appear in a core library file. Step filters are default, not sure if those are concerned with caught/uncaught exceptions.

[2018-04-27 01:06] andxu opened #295 "[Feature] Exception filter for handled/unhandled exception"

[2018-04-27 01:07] andxu commented on #277
It is another on-road feature, I create new issue to track: https://github.com/Microsoft/vscode-java-debug/issues/295

[2018-04-27 01:09] andxu opened #296 "[Feature] Breakpoint on method entry"

[2018-04-27 03:31] testforstephen commented on #234
Cannot reproduce it on Mac. I saw the project is from eclipse, not sure whether there's some implicit eclipse settings making an impact. Could you try the same project in eclipse?

[2018-04-27 03:32] testforstephen commented on #291
0.9.0 is released. Close it.

[2018-04-27 03:32] #291 closed

[2018-04-27 03:55] #182 closed

[2018-04-27 03:56] andxu commented on #218
@sceee Can you repro this issue now? We have just published new version 0.9.0 .

[2018-04-27 03:59] andxu commented on #234
@XIAZY Could you please repro this issue and give us the feedback? Thanks.

[2018-05-02 05:44] gamsim commented on #24
Uninstall Java Extension Pack first if you want to uninstall Java Debug

[2018-05-07 02:12] rcelebrone commented on #8
I had the same problem but i fixed with setting up the JAVA_HOME (https://stackoverflow.com/a/50206239/4908263).

[2018-05-07 02:13] rcelebrone commented on #125
I had the same problem but i fixed with setting up the JAVA_HOME (https://stackoverflow.com/a/50206239/4908263).

[2018-05-07 02:30] testforstephen commented on #125
@rcelebrone Looks like you're using other java debugger extension, not ours. Please remove them, and make sure you're installing the right one `"Debugger for Java"`.
![image](https://user-images.githubusercontent.com/14052197/39682179-03c1f91a-51e1-11e8-9750-447f99af39d7.png)

Besides, please remove your exisiting launch.json file, and our java debugger will auto generate a new launch.json for you

[2018-05-07 03:32] rcelebrone commented on #125
I removed Java Extension Pack (Microsoft) and followed your steps and its working right now with your extension :)

[2018-05-08 09:39] Victorious3 commented on #239
I'm not sure why this is closed? There's a workaround, yes, but does that mean it's not an issue?
Is there any reason why the debug console shouldn't accept inputs?

[2018-05-08 09:52] andxu commented on #239
@Victorious3  For this issue:
1.  "Cannot evaluate because the thread is resumed" is by design of java debug by Sun, you need to stop at a breakpoint/step before you could start evaluation.
2. The cause for this issue is user want to input by misunderstanding of vscode design for debug console(which is used to input text for evaluation)
3. If you do want to input in vscode, vscode has a solution w

[2018-05-08 11:37] mojo2012 commented on #224
I completely removed vscode and all settings and recreated my configuration - now it works. Somehow my vscode was messed up. Can be closed!

[2018-05-08 12:38] andxu commented on #224
Glad to see your reply, please feel free to address new issue when you meet problems. Close this one as it is considered to be resolved

[2018-05-08 12:38] #224 closed

[2018-05-12 14:48] erihanse opened #297 "Hover instance variables"
Is there any way we can get the field popup (not sure what it's called) when we hover on instance variables? It only seems to work if the variables are prepended with `this`.

That is also what eclipse does.

[2018-05-14 01:28] andxu commented on #297
I will take a look what's the current behavior and how to improve/

[2018-05-14 01:33] yungezz opened #298 "readme license linked to wrong file"
[provide a description of the issue]
license link in readme file  `MIT License` linked to file in another repo, and name not right.

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version:
- Java extension version:
- Java Debugger extension version:

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[attach a sample project reproducing the error]
[attach logs](https://gi